/* generic styles */

html {
	overflow-y: scroll;
}

body {
  font-size: 0.875em;
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: #666;
  background: #fff;
}

img {
  border: 0 none;
  display: block;
}

hr {
  margin: 30px 0 30px 0;
  height: 1px;
  background-color: #dbdbdb;
  border: 0 none;
  clear: both;
}


h1 {
  font-size: 3.571em; 
	line-height: 0.8em;
  font-weight: bold;
  margin: 0 0 16px 0;
  padding: 0;
	color: #3B98C2;
	font-family: 'Metro Office W01 Bold', Arial;
  text-shadow: 0 0 1px rgba(255,0,0,0);
}


h2 {
  font-size: 2.143em;
	line-height: 0.866em;
  font-weight: bold;
  margin: 0 0 38px 0;
  font-family: 'Metro Office W01 Bold', Arial;
  padding: 0;
	color: #333;
}


.quote  {
  font-size: 1.714em;
	line-height: 1em;
  font-weight: normal;
  margin: 0 0 38px 0;
  padding: 0;
	color: #333;
}

h3 {
  font-size: 1.286em;
	line-height: 0.889em;
  font-weight: normal;
  margin: 0 0 8px 0;
  padding: 0;
	color: #004990;
}

h4 {
  color: #333;
  font-weight: bold;
  line-height: 0.889em;
  margin: 0 0 2px 0;
}

p {
  line-height: 1.143em;
  text-align: left; 
  margin: 0 0 18px 0;
  padding: 0;
}

a {
	color: #004990;
  text-decoration: underline;
}

  a:hover {
    color: #000;
  }

object {
  display: block;
}

object:focus {
  outline: 0;
}

ol {
  margin: 0 17px 28px 0;
  padding: 0;
  list-style-type: decimal;
  display: block; 
  list-style-position: inside;
}

  ol li {
    padding: 0 0 4px 0;
    margin: 0;
  }
     
    ol h1, 
    ol h2, 
    ol h3,
    ol h4,
    ol h5,
    ol h6,
    ol p { display: inline; }

      ol ul {
        padding: 0 17px;
      }       
  
        ol li ul li {
          list-style-type: none;
          font-size: 1em;
        }
        

ul {
  margin: 0 17px 28px 0;
  padding: 0;
}

  ul li {
    list-style: none;
    background: url("../images/bullet_ul.gif") transparent 11px 0.4em no-repeat;
    padding: 0 4px 4px 18px;
    margin: 0;
    border: none;
    clear: none;
  }
    
    ul ol {
      padding: 0 20px;
    }

    ul li ol li {
      list-style-type: decimal;
      background: none;
    }

table {
  margin: 0 0 28px 0;
  padding: 0 10px 10px 10px;
  border: 0 none;
  border-collapse: collapse;
  width: 100%;
	background-color: #fcfcfc;
	border: 0 none;
}

    tr {
      margin: 0; 
      padding: 0;
			border: 0 none;
    }
      
			th {
        vertical-align: top;
        padding: 10px;
        font-weight: bold;
        font-size: 1.286em
        margin: 0;
        color: #004990;
        text-align: left;
				border: 0 none;
				background: #f6f6f6;
      }

      td {
        vertical-align: top;
        margin: 0;
        padding: 8px 10px;
        border: 0 none;
      }
			
			.alt {
				background: #f6f6f6;
			}


blockquote {
  margin: 0 0 18px 0;
  padding: 20px;
  display: block;
	background: #e9f5fb;
}
 
  blockquote p {
  	padding: 0;
    margin: 0;
		display: block;
    color: #333;
		font-weight: bold;
    font-size: 1.286em;
    line-height: 1em;
  }
	

textarea,
input {
  font-family: Arial;
}

form {
  padding: 0;
  margin: 0 0 38px;
  display: block;
  position: relative;
  width: 544px;
}

  form legend {
    display: none;
  }

    form fieldset {
      border: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    
    form .toolTip {
      position: absolute;
      right: 10px;
      margin: 11px 0 0 0;
      cursor: pointer;
    }
    
      
      form .wide,
      form dl {
        margin: 0;
        padding: 10px 0;
        overflow: hidden;
        background: url('../images/bg_form.gif') 0 0 repeat-y;
        border-top: 1px solid #fff;
      }
      
      form .wide {
        padding: 10px;
        background: #ddeef7;
      }
      
      form .wide:hover {
        background: #fdfce5;
      }

      form dl:hover {
        background: url('../images/bg_form_on.gif') 0 0 repeat-y;
      }
      
      form .wwerr {
        border-top: 1px solid #fff;
        background: url('../images/bg_formError.gif') 0 0 repeat-y;
        font-weight: bold;
        font-style: italic;
        padding: 10px 0 3px 211px;
        font-size: 0.857em;
        color: #cc0000;
      }
      
      form .wwerr + dl {
        background: url('../images/bg_formError.gif') 0 0 repeat-y;
        border-top: none;
        padding-top: 0;
      }

        form dl dt {
					padding: 0 10px;
					width: 180px;
					float: left;
        }
            
          form label {
            font-size: 1em;
            font-weight: normal;
            cursor: pointer;
            padding: 0 10px 0 0;
            margin: 0;
						display: inline-block;
          }
					
						.required {
							color: #ed1b2d;
						}
            
            form label .required {
              padding-left: 5px;
            }
         
        form dl dd {
          margin: 0;
          padding: 0 10px;
          width: 323px;
          float: left;
        }
          
          form input [type=radio],
					form input[type=checkbox] {
						vertical-align: baseline;
						margin: 0.7em 5px 0 0;
            width: 13px;
            height: 13px;
						padding: 0;
            float: left;
            clear: left;
					}
          
					form input[type=checkbox]:first-child {
            margin-top: 0.1em;
          }
					
					form dd label {
						font-weight: normal;
						padding: 0;
						margin: 8px 15px 0 5px;
            color: #333;
            float: none;
            display: block;
					}
          
          form input[type=checkbox]:first-child + input + label { margin-top: 0; }
					
          form select,
          form input[type=text],
          form textarea {
            border: 1px solid #666;
            color: #333;
            font-size: 1em;
            padding: 10px 5px;
            background: url("../images/bg_input.gif") 0 0 repeat-x #fff;
            margin: 0 0 0 10px;
            width: 288px;
					  -moz-border-radius: 2px; /* FF1+ */
				    -webkit-border-radius: 2px; /* Saf3-4 */
				    border-radius: 2px; /* Opera 10.5, IE 9, Saf5, Chrome */
            float: left;
            display: block;
          }
          
          .tel dl {
            background: none;
            border: none;
            padding-bottom: 0;
          }
          
          .tel dl:first-child {
            padding-top: 0
          }
          
            .tel dl dt {
              width: 50px;
            }
            
            .tel dl dd {
              width: 200px;
              padding: 0;
            }
          
              .tel dl input[type=text] {
                margin-left: 10px; 
                width: 110px;
              }
              
              .tel .mobile input[type=text] {
                width: 90px;
              }
              
              .tel dl input[type=text]:first-child {
                margin-left: 0; 
                width: 20px;
              }
              
              .tel .mobile input[type=text]:first-child {
                width: 40px;
              }
            
          form .creditCard input[type=text] { width: 35px; }
          
          form select:first-child,
          form input[type=text]:first-child,
          form textarea:first-child { margin-left: 0; }
          
          form select { width: 300px; }
          
          #dayPicker,
          #expMonth {  width: 60px; }
          
          #monthPicker { width: 116px; }
          
          #yearPicker,
          #expYear{ width: 72px; }
          
          form .datePicker div {
            float: left;
            overflow: hidden;
            margin: 0 0 0 10px;
          }
          
          form .datePicker div:first-child {
            margin-left: 0;
          }
          
            form .datePicker dd label{
              font-size: 0.857em;
              font-style: italic;
              margin: 1px 0 0 0;
              color: #666;
            }
          
          form .question {
            overflow: hidden;
            background: url('../images/bg_question.gif') 0 0 repeat-y;
            padding-top: 9px;
          }
          
          form .question:hover { 
            background: url('../images/bg_question_on.gif') 0 0 repeat-y;
          }
          
            form .question dl {
              float: left;
              width: 490px;
            }
            
            form .question dd {
              float: right;
              width: 36px;
            }
            
          form textarea { width: 512px;} 
					
          form input[type=submit] { background: url('../images/btn_next.gif') 0 0 no-repeat; }
  
	form input[type=submit],          
  form input[type=reset] {
    height: 55px;
		width: 98px;
    float: left;
    border: 0 none;
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -999px;
    font-size: 0px;
    line-height: 0px;
    cursor: pointer;
  }
	
	form input[type=reset]:hover,
  form input[type=submit]:hover {
    background-position: 0 -55px;
  }