/* ract insurance shell */
/* generic styles */

html {
	overflow-y: scroll;
}

body {
  font-size: 0.875em;
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: #666;
  background: #fff;
}

img {
  border: 0 none;
  display: block;
}

hr {
  margin: 30px 0 30px 0;
  height: 1px;
  background-color: #dbdbdb;
  border: 0 none;
  clear: both;
}


h1 {
  font-size: 3.571em; 
	line-height: 0.8em;
  font-weight: bold;
  margin: 0 0 16px 0;
  padding: 0;
	color: #3B98C2;
	font-family: 'Metro Office W01 Bold', Arial;
  text-shadow: 0 0 1px rgba(255,0,0,0);
}


h2 {
  font-size: 2.143em;
	line-height: 0.866em;
  font-weight: bold;
  margin: 0 0 38px 0;
  font-family: 'Metro Office W01 Bold', Arial;
  padding: 0;
	color: #333;
}


.quote  {
  font-size: 1.714em;
	line-height: 1em;
  font-weight: normal;
  margin: 0 0 38px 0;
  padding: 0;
	color: #333;
}

h3 {
  font-size: 1.286em;
	line-height: 0.889em;
  font-weight: normal;
  margin: 0 0 8px 0;
  padding: 0;
	color: #004990;
}

h4 {
  color: #333;
  font-weight: bold;
  line-height: 0.889em;
  margin: 0 0 2px 0;
}

p {
  line-height: 1.143em;
  text-align: left; 
  margin: 0 0 18px 0;
  padding: 0;
}

a {
	color: #004990;
  text-decoration: underline;
}

  a:hover {
    color: #000;
  }

object {
  display: block;
}

object:focus {
  outline: 0;
}

ol {
  margin: 0 17px 28px 0;
  padding: 0;
  list-style-type: decimal;
  display: block; 
  list-style-position: inside;
}

  ol li {
    padding: 0 0 4px 0;
    margin: 0;
  }
     
    ol h1, 
    ol h2, 
    ol h3,
    ol h4,
    ol h5,
    ol h6,
    ol p { display: inline; }

      ol ul {
        padding: 0 17px;
      }       
  
        ol li ul li {
          list-style-type: none;
          font-size: 1em;
        }
        

ul {
  margin: 0 17px 28px 0;
  padding: 0;
}

  ul li {
    list-style: none;
    background: url("../images/bullet_ul.gif") transparent 11px 0.4em no-repeat;
    padding: 0 4px 4px 18px;
    margin: 0;
    border: none;
    clear: none;
  }
    
    ul ol {
      padding: 0 20px;
    }

    ul li ol li {
      list-style-type: decimal;
      background: none;
    }

table {
  margin: 0 0 28px 0;
  padding: 0 10px 10px 10px;
  border: 0 none;
  border-collapse: collapse;
  width: 100%;
	background-color: #fcfcfc;
	border: 0 none;
}

    tr {
      margin: 0; 
      padding: 0;
			border: 0 none;
    }
      
			th {
        vertical-align: top;
        padding: 10px;
        font-weight: bold;
        font-size: 1.286em
        margin: 0;
        color: #004990;
        text-align: left;
				border: 0 none;
				background: #f6f6f6;
      }

      td {
        vertical-align: top;
        margin: 0;
        padding: 8px 10px;
        border: 0 none;
      }
			
			.alt {
				background: #f6f6f6;
			}


blockquote {
  margin: 0 0 18px 0;
  padding: 20px;
  display: block;
	background: #e9f5fb;
}
 
  blockquote p {
  	padding: 0;
    margin: 0;
		display: block;
    color: #333;
		font-weight: bold;
    font-size: 1.286em;
    line-height: 1em;
  }
	

textarea,
input {
  font-family: Arial;
}

form {
  padding: 0;
  margin: 0 0 38px;
  display: block;
  position: relative;
  width: 544px;
}

  form legend {
    display: none;
  }

    form fieldset {
      border: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    
    form .toolTip {
      position: absolute;
      right: 10px;
      margin: 11px 0 0 0;
      cursor: pointer;
    }
    
      
      form .wide,
      form dl {
        margin: 0;
        padding: 10px 0;
        overflow: hidden;
        background: url('../images/bg_form.gif') 0 0 repeat-y;
        border-top: 1px solid #fff;
      }
      
      form .wide {
        padding: 10px;
        background: #ddeef7;
      }
      
      form .wide:hover {
        background: #fdfce5;
      }

      form dl:hover {
        background: url('../images/bg_form_on.gif') 0 0 repeat-y;
      }
      
      form .wwerr {
        border-top: 1px solid #fff;
        background: url('../images/bg_formError.gif') 0 0 repeat-y;
        font-weight: bold;
        font-style: italic;
        padding: 10px 0 3px 211px;
        font-size: 0.857em;
        color: #cc0000;
      }
      
      form .wwerr + dl {
        background: url('../images/bg_formError.gif') 0 0 repeat-y;
        border-top: none;
        padding-top: 0;
      }

        form dl dt {
					padding: 0 10px;
					width: 180px;
					float: left;
        }
            
          form label {
            font-size: 1em;
            font-weight: normal;
            cursor: pointer;
            padding: 0 10px 0 0;
            margin: 0;
						display: inline-block;
          }
					
						.required {
							color: #ed1b2d;
						}
            
            form label .required {
              padding-left: 5px;
            }
         
        form dl dd {
          margin: 0;
          padding: 0 10px;
          width: 323px;
          float: left;
        }
          
          form input [type=radio],
					form input[type=checkbox] {
						vertical-align: baseline;
						margin: 0.7em 5px 0 0;
            width: 13px;
            height: 13px;
						padding: 0;
            float: left;
            clear: left;
					}
          
					form input[type=checkbox]:first-child {
            margin-top: 0.1em;
          }
					
					form dd label {
						font-weight: normal;
						padding: 0;
						margin: 8px 15px 0 5px;
            color: #333;
            float: none;
            display: block;
					}
          
          form input[type=checkbox]:first-child + input + label { margin-top: 0; }
					
          form select,
          form input[type=text],
          form textarea {
            border: 1px solid #666;
            color: #333;
            font-size: 1em;
            padding: 10px 5px;
            background: url("../images/bg_input.gif") 0 0 repeat-x #fff;
            margin: 0 0 0 10px;
            width: 288px;
					  -moz-border-radius: 2px; /* FF1+ */
				    -webkit-border-radius: 2px; /* Saf3-4 */
				    border-radius: 2px; /* Opera 10.5, IE 9, Saf5, Chrome */
            float: left;
            display: block;
          }
          
          .tel dl {
            background: none;
            border: none;
            padding-bottom: 0;
          }
          
          .tel dl:first-child {
            padding-top: 0
          }
          
            .tel dl dt {
              width: 50px;
            }
            
            .tel dl dd {
              width: 200px;
              padding: 0;
            }
          
              .tel dl input[type=text] {
                margin-left: 10px; 
                width: 110px;
              }
              
              .tel .mobile input[type=text] {
                width: 90px;
              }
              
              .tel dl input[type=text]:first-child {
                margin-left: 0; 
                width: 20px;
              }
              
              .tel .mobile input[type=text]:first-child {
                width: 40px;
              }
            
          form .creditCard input[type=text] { width: 35px; }
          
          form select:first-child,
          form input[type=text]:first-child,
          form textarea:first-child { margin-left: 0; }
          
          form select { width: 300px; }
          
          #dayPicker,
          #expMonth {  width: 60px; }
          
          #monthPicker { width: 116px; }
          
          #yearPicker,
          #expYear{ width: 72px; }
          
          form .datePicker div {
            float: left;
            overflow: hidden;
            margin: 0 0 0 10px;
          }
          
          form .datePicker div:first-child {
            margin-left: 0;
          }
          
            form .datePicker dd label{
              font-size: 0.857em;
              font-style: italic;
              margin: 1px 0 0 0;
              color: #666;
            }
          
          form .question {
            overflow: hidden;
            background: url('../images/bg_question.gif') 0 0 repeat-y;
            padding-top: 9px;
          }
          
          form .question:hover { 
            background: url('../images/bg_question_on.gif') 0 0 repeat-y;
          }
          
            form .question dl {
              float: left;
              width: 490px;
            }
            
            form .question dd {
              float: right;
              width: 36px;
            }
            
          form textarea { width: 512px;} 
					
          form input[type=submit] { background: url('../images/btn_next.gif') 0 0 no-repeat; }
  
	form input[type=submit],          
  form input[type=reset] {
    height: 55px;
		width: 98px;
    float: left;
    border: 0 none;
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -999px;
    font-size: 0px;
    line-height: 0px;
    cursor: pointer;
  }
	
	form input[type=reset]:hover,
  form input[type=submit]:hover {
    background-position: 0 -55px;
  }


/* template */


html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#wrapper {
  min-width: 986px;
  position: relative;
  background: url('../images/bg_shell.gif') 100% 0 repeat-y;
}

  #container {
    padding: 0 238px 0 0;
    width: 748px;
    margin: 0 auto;
    overflow: hidden;
  }

    #aside {
      float: left;
      width: 204px;
    }
    
      #aside .step {
        background: #fff;
        width: 184px;
      }
    
    #window {
      float: right;
      width: 544px;
      overflow: hidden;
      position: relative;
    }
    
      #content {
        width: 544px;
        overflow: hidden;
      }
    
        #content .step {
          padding: 38px 0;
          float: left;
          overflow: hidden;
        }
    
  #bside {
    position: absolute;
    width: 218px;
    overflow: hidden;
    top: 0;
    right: 0;
    background: #e5e5e5;
  }
  

/* btn */


.btn {
  position: relative;
  overflow: hidden;
  display: block;
  width: 178px;
  height: 45px;
}

.btn.action {
  height: 55px;
}

.btn:hover {
  background: transparent none;
  border: 0 solid;
}

  .btn img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn:hover img {
    top: -100%;
  }
 
  
/* benefits/focus */


.focus {
  display: block;
  padding: 3px 50px 3px 0;
  margin: 0 0 20px 40px;
  background: url('../images/icon_look.gif') 100% 0 no-repeat;
  font-size: 0.857em;
  min-height: 28px
}

.benefits {
  font-size: 0.857em;
  margin: 0 0 20px 40px;
  color: #333;
}

  .benefits li {
    padding: 0 0 4px 0;
    margin: 0;
    overflow: hidden;
    background: none;
  }
  
    .benefits img {
      float: right;
    }
    

/* func */


#bside .logo {
  border-bottom: 1px solid #fff;
}

#func {
  padding: 20px;
}

  #func h2 {
    font-size: 1.429em;
    color: #004990;
    margin: 0 0 18px 0;
    font-weight: normal;
  }
  
  #func h3 {
    font-size: 1.429em;
    line-height: 1.2em;
    color: #666;
    font-weight: normal;
    margin: 0 0 8px;
  }
  
  #func > .btn {
    margin: 0 0 38px;
  }
  
  #func > .btn:last-child {
    margin-bottom: 0;
  }
  

/* nav */
  
  
  #nav {
    margin: 0 0 20px 0;
    padding: 0;
  }

    #nav li {
      border-top: 1px solid #b2b2b2;
      padding: 6px 0;
      background: none;
      font-size: 1.286em;
    }
    
    #nav li:first-child {
      padding-top: 0;
      border-top: none;
    }
    
      #nav a {
        display: block;
        overflow: hidden;
        color: #999;
        text-decoration: none;
        cursor: default;
      }
      
      #nav .completed a:hover,
      #nav .selected a {
        color: #333;
        cursor: pointer;
      }
      
        #nav .finished,
        #nav .btn {
          display: none;
          width: 9px;
          height: 9px;
          float: right;
          margin: 0.35em 0 0 0;
        }
        
        #nav .selected .finished,
        #nav .completed .btn,
        #nav .selected .btn {
          display: block;
        }
        
          #nav .selected .btn img,
          #nav a:hover .btn img{
            top: -100%;
          }

          
/* cards */


.cards {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

  .cards li {
    margin: 0 0 0 5px;
    padding: 0;
    background: none;
    float: left;
  }
  
  .cards li:first-child {
    margin-left: 0;
  }
  
 
/* purchase */


.purchase {
  color: #333;
}
 
  .purchase dl {
    overflow: hidden;
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 0.786em;
  }

    .purchase dt {
      float: left;
      width: 104px;
      margin: 0;
      padding: 0;
    }
    
    .purchase dd {
      font-weight: bold;
      float: right;
      width: 68px;
      margin: 0;
      padding: 0;
    }
    
    
/* amounts */
    

  .amounts {
    overflow: hidden;
    margin: 15px 0 5px;
  }
    
    .amounts .year {
      float: left;
    }
    
    .amounts .month{
      float: right;
      width: 67px;
    }
    
    .amounts .or {
      text-align: center;
      display: block;
      width: 177px;
      margin: 0.15em 0 0 0;
    }
    
     .amounts .amount {
        margin: 0;
        font-weight: bold;
        color: #3b98c2;
        display: block;
      }

      .amounts .inc {
        margin: 0;
        font-size: 0.786em;
        font-weight: bold;
        display: block;
      }

      
/* options */


.options {
  margin: 0 0 14px 0;
}

  .options p {
    color: #3b98c2;
    font-size: 0.786em;
    font-style: italic;
    margin: 0 0 10px;
  }
  
  .options .cards {
    margin-left: 50px;
  }


/* cta (call to actions)*/


.cta {
  padding: 20px 30px 15px 110px;
  background: #f7f7f7 0 0 no-repeat;
  margin: 40px 0;
}

  .cta p:last-child {
    margin-bottom: 0;
  }

  .cta.feedback {
    background-image: url('../images/bg_feedback.gif');
  }

  .cta.insurance {
    background-image: url('../images/bg_insurance.gif');
  }

  .cta.help {
    background-image: url('../images/bg_help.gif');
  }
  
  .cta.contents {
    background-image: url('../images/bg_contents.gif');
  }


/* saveNum */


.saveNum {
  background: #ddeef7;
  color: #333;
  display: block;
  font-size: 1.286em;
  padding: 20px;
  margin: 0 0 40px;
}

  .saveNum span {
    color: #3b98c2;
    font-size: 1.667em;
    vertical-align: middle;
  }


/* toolbar */


.toolbar {
  overflow: hidden;
  background: #f7f7f7;
  padding: 20px;
  margin: 0 0 20px 0;
}

  .toolbar li{
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
    color: #3b98c2;
  }
  
  .toolbar li:first-child {
    margin-right: 0;
  }
  
    .toolbar a {
      text-decoration: underline;
      font-weight: bold;
      color: #3b98c2;
      line-height: 1.5em;
    }
    
    .toolbar a:hover {
      color: #333;
    }
    
      .toolbar img {
        float: left;
        margin-right: 5px;
      }
  

/* premium */


.premium {
  background: #ddeef7;
  padding: 20px;
  overflow: hidden;
  font-size: 1.286em;
  margin: 0 0 20px;
}

  .premium dt {
    float: left;
    width: 165px;
    color: #333;
  }

  .premium .amounts {
    float: right;
    width: 266px;
    margin: 0;
    color: #333;
    font-size: 1em;
  }
  
    .premium .amount{
      font-size: 1.667em;
      font-weight: normal;
    }
    
    .premium .or,
    .premium .inc{
      font-size: 1em;
      font-weight: normal;
    }
    
    .premium .month{
      width: 105px;
    }
    
    
/* quote */
    

.summary {
  border: 1px solid #ccc;
  background: url('../images/bg_quote.jpg') 0 0 repeat-y;
  position: relative;
  padding: 20px;
  margin: 0 0 20px 0;
}

  .summary .icon {
    position: absolute;
    right: 0;
    top: -12px;
  }
  
  .summary h3 {
    font-size: 1.429em;
  }
  
  .summary table {
    margin: 0 0 20px;
    background: none;
    font-size: 0.857em;
    color: #333;
  }
  
  .summary .title,
  .summary .sums th,
  .summary .sums {
    font-weight: bold;
  }
  
  .summary table:last-child { margin-bottom: 0; }
  
    .summary tr th:first-child ,
    .summary tr td:first-child  {
      width: 210px;
    }
  
    .summary th {
      background: none;
      padding: 1px 5px 0 0;
      color: #333;
      font-weight: normal;
    }
  
    .summary td {
      padding: 1px 5px 0 0;
    }
    
    .summary .newGroup th,
    .summary .newGroup td {
      padding: 20px 5px 20px 0;
    }
  
    .summary .amt {
      color: #3b98c2;
    }
  
    .summary  td + td + td {
      width: 116px;
    }
  

/* purchaseAction */


.atn {
  font-size: 0.857em;
  font-style: italic;
  margin: 0 0 8px;
  color: #3b98c2;
  display: block;
}

  .purchaseAction {
    overflow: hidden;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
    .purchaseAction li {
      float: left;
      margin: 0 0 0 15px;
      padding: 0;
      background: 0;
    }

    .purchaseAction li:first-child {
      margin-left: 0;
      width: 170px;
      color: #666;
      font-size: 1.429em;
    }


/*  actions */


.actions {
  margin: 20px 0;
  background: #fff;
  overflow: hidden;
}

.actions.ready {
  padding: 25px 20px;
  background: #f9f9f9;
}

  .ready span {
    font-size: 3.571em;
    color: #004990;
  }

  .ready span,
  .actions .btn:first-child,
  .actions input[type=submit]:first-child {
    float: left;
  }

  .ready span:first-child + .btn,
  .actions .btn:first-child + .btn,
  .actions .btn:first-child + input[type=submit],
  .actions input[type=submit]:first-child + .btn,
    .actions input[type=submit]:first-child  + input[type=submit]{
    float: right;
  }  

  
/* misc */


.mandatory {
  display: inline;
}

.tnc {
  padding: 20px;
  background: #f7f7f7;
  height: 145px;
  overflow-y: auto;
  margin: 20px 0;
}

.focusLink {
  padding: 0 0 0 18px;
  margin: 0 0 38px;
  color: #3b98c2;
  background: url('../images/bullet_arrow.gif') 0 0.4em no-repeat;
  font-size: 1.286em;
  text-decoration: none;
}

.focusLink:hover {
  color: #333;
}


/* notice */


.notice {
  background: #e9f5fb;
  padding: 20px;
  font-size: 1.286em;
  margin: 0 0 20px 0;
}

  .notice p {
    color: #333;
  }

  .notice p:last-child {
    margin-bottom: 0;
  }
  
  
/* newQuote */


.newQuote {
  overflow: hidden;
  margin: 0 0 20px 0;
  font-size: 1.286em;
  padding: 25px 20px;
  background: #f7f7f7;
}

.newQuote:hover {
  background: #fdfce5;
}

  .newQuote label,
  .newQuote select , 
  .newQuote span {
    float: left;
    color: #333;
    line-height: 2.5em;
  }

  .newQuote select {
    width: 240px;
    margin: 0 15px 0 20px;
  }











