<?xml version="1.0" encoding="UTF-8"?>
<jsp:root  xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:s="urn:jsptld:/struts-tags" version="2.0">
  <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>
   {
     "validation":"<s:property value="ajaxReturn.validation" />",
     "message":"<s:property value="ajaxReturn.message" />",
     "items": [
       <c:set var="index" value="1" />
       <c:forEach var="text" items="${ajaxReturn.texts}">
         <c:choose>
           <c:when test="${index == 1}">
             "<c:out value="${text}" />"
           </c:when>
           <c:otherwise>
             ,"<c:out value="${text}" />"
           </c:otherwise>
         </c:choose>
         <c:set var="index" value="${index+1}" />
       </c:forEach>
     ],
     "values": [
       <c:set var="index" value="1" />
       <c:forEach var="value" items="${ajaxReturn.values}">
         <c:choose>
           <c:when test="${index == 1}">
             "<c:out value="${value}" />"
           </c:when>
           <c:otherwise>
             ,"<c:out value="${value}" />"
           </c:otherwise>
         </c:choose>
         <c:set var="index" value="${index+1}" />
       </c:forEach>
     ]
   }
</jsp:root>
