<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : instalmentDayNote
    Created on : 17/09/2014, 14:07:38
    Author     : bicknelle
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:s="urn:jsptld:/struts-tags" 
          xmlns:site="urn:jsptagdir:/WEB-INF/tags" version="2.0">

  <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>

  <fieldset>
    <site:customField label="Please Note: " fieldName="sub6" cssClass="sub6 smooth_inv">
        <p>Your first deduction will be made 5 days from now and subsequent payments will be deducted on or near the 1st day of each month.</p>
      </site:customField>
  </fieldset>
</jsp:root>
