<?xml version="1.0" encoding="UTF-8"?>
<jsp:root xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:s="urn:jsptld:/struts-tags"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags"  version="2.0">

  <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>
  
  <site:qasAddress type="residential" />
  
  <script type="text/javascript">
  	$('nextStep').onclick = function() {
  		if (!verifiedQas) {
			queryQas('${type}');
			return false;
		}      
    	submitQuoteForm('quoteForm','submit','next'); 
    	return false;
  	}		
  </script>
   
</jsp:root>