<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : SaveQuoteForm
    Created on : 03/06/2011, 10:44:10 AM
    Author     : gnewton
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:s="urn:jsptld:/struts-tags"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags" version="2.0">

  <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>

  <h1>Save your quote for another time.</h1>
  <h2>Your quote has been automatically saved!</h2>

  <span class="saveNum">Your saved quote number is: <span><s:property value="secureQuoteNumber" /></span></span>

  <!-- <site:insuranceHomeFormIntro suppressHelpNote="${complete}" /> -->
  <site:insuranceHomeFormIntro suppressHelpNote="${true}" />

  <s:if test="complete">
    <p>Your quote number has been sent to your email address.</p>
    
    <site:panelNeedHelp />

    <site:panelHomeInsurance />
  </s:if>
  <s:else>

    <s:form action="VehicleSavedQuote" namespace="%{namespace}" method="post" theme="fm_xhtml">
      <fieldset>
        <s:textfield name="email" label="Please enter your email address" requiredLabel="true" />

        <!-- <site:nextPrevNav suppressPrev="${true}" nextCssClass="emailQuote" /> -->
        <div class="actions">
          <div class="row">
            <div class="hidden-xs col-sm-6"><!-- --></div>
            <div class="col-xs-12 col-sm-6">
              <s:a href="" id="submitNext" onclick="document.getElementById('VehicleSavedQuote').submit(); return false;" cssClass="actionLink next">Email Quote <span class="glyphicon glyphicon-chevron-right"><!-- --></span></s:a>
            </div>
          </div>
        </div>
      </fieldset>
    </s:form>

    <site:panelNeedHelp />
  </s:else>

</jsp:root>