<?xml version="1.0" encoding="UTF-8"?>

<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:s="urn:jsptld:/struts-tags"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags"  version="2.0">

  <jsp:directive.page pageEncoding="UTF-8"/>

  <h1>Thank you for insuring with RACT Insurance!</h1>
  <h2>Your insurance policy has been finalised.</h2>
  
  <p>Your insurance policy has been finalised and your cover will commence on the selected cover start date.  For any additional information, please <a href="${domainAddress}/pages/Contact-us.aspx" target="_new" rel="external">contact us</a> online or call <strong>13 27 22</strong>.</p>
  <p>A document outlining your cover will be emailed to your nominated email address immediately. If you have not received this document within 24 hours, or one business day, please <a href="${domainAddress}/pages/Contact-us.aspx" target="_new" rel="external">contact us</a>.</p>
  <p>Within 5 working days you will receive your policy documents including the Policy Schedule and <a href="${domainAddress}/SiteCollectionDocuments/0704_Vehicle%20Wording%20A5%20for%20web.pdf" target="_new" rel="external">Product Disclosure Statement</a> - in the meantime if there is anything else you would like to know please <a href="${domainAddress}/pages/Contact-us.aspx" target="_new" rel="external">contact us</a>.</p>
  
  <div class="infobox">
    <p><a href="download.jspx?type=ins" rel="external" class="actionLink">View Notice of Cover</a></p>
  </div>
  
	<!-- Google Code for Purchased Policy Conversion Page --> <script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 990011237;
	var google_conversion_language = "en";
	var google_conversion_format = "2";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "0oHUCLOJ3QQQ5b6J2AM"; var google_conversion_value = 0;
	/* ]]> */
	</script>
	<script type="text/javascript"  
	src="https://www.googleadservices.com/pagead/conversion.js">/**/
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt=""  
	src="https://www.googleadservices.com/pagead/conversion/990011237/?value=0&amp;label=0oHUCLOJ3QQQ5b6J2AM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>  
	
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt=""  
	src="https://www.googleadservices.com/pagead/conversion/990011237/?value=0&amp;label=0oHUCLOJ3QQQ5b6J2AM&amp;guid=ON&amp;script=0"/>
	</div>
  
    <!--
      Start of DoubleClick Floodlight Tag: Please do not remove
      Activity name of this tag: 17 Declaration
      URL of the webpage where the tag is expected to be placed: https://secure.ract.com.au/StartQuote
      This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
      Creation Date: 04/12/2015
    -->
    <iframe src="https://4084924.fls.doubleclick.net/activityi;src=4084924;type=ractc196;cat=ractc638;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"><!-- --></iframe>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    
    
    <!-- Facebook Conversion Code for Registrations - RACT Insurance Car -->
	<script>(function() {
	  var _fbq = window._fbq || (window._fbq = []);
	  if (!_fbq.loaded) {
	    var fbds = document.createElement('script');
	    fbds.async = true;
	    fbds.src = '//connect.facebook.net/en_US/fbds.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(fbds, s);
	    _fbq.loaded = true;
	  }
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', '6031265893561', {'value':'0.00','currency':'AUD'}]);
	</script>
	<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6031265893561&amp;cd[value]=0.00&amp;cd[currency]=AUD&amp;noscript=1" /></noscript>
  <site:panelHomeInsurance />
 
</jsp:root>