<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : StreetSuburbs
    Created on : 14/11/2008, 16:38:42
    Author     : gnewton
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:s="urn:jsptld:/struts-tags" version="2.0">

    <jsp:directive.page contentType="text/plain" pageEncoding="UTF-8"/>

    <s:property value="streetSuburbList" />

</jsp:root>
