<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : DeclarationForm
    Created on : 27/06/2011, 3:58:24 PM
    Author     : gnewton
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:s="urn:jsptld:/struts-tags"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags" version="2.0">

  <site:insuranceHomeFormIntro />

  <s:form action="HomeDeclaration" namespace="%{namespace}" method="post" theme="fm_xhtml">
    <fieldset>

      <s:radio name="notWithheld"
               label="Do you declare that you have not withheld any relevant information and that the answers you have provided are honest and correct?"
               list="#{'true':'Yes','false':'No'}"
               requiredLabel="true" />

      <s:radio name="policyApplies"
               label="Do you understand and accept that all answers given when applying for this policy will apply to you or anyone else to be covered by this policy?"
               list="#{'true':'Yes','false':'No'}"
               requiredLabel="true" />

      <div class="tnc">
        <h3>Terms &amp;amp; Conditions</h3>
      	<p>If you wish to accept this insurance policy you will automatically be covered from the cover start date selected. If cover commences today it will start from the time that  the  "Finalise policy" option is selected.</p> 
  		<p>A notice of cover will be emailed to the nominated email address immediately, and within 5 working days you will receive your policy documents including the Policy Schedule and <a href="${domainAddress}/pages/policy-documents.aspx" rel="external" target="_new">Policy Disclosure Statement</a>. Please <a href="${domainAddress}/pages/Contact-us.aspx" rel="external" target="_new">contact the RACT</a> if you do not receive these documents.</p>   
  		<p>Authorised distributors receive commission for the sale of this RACT Insurance Policy. The relevant <a href="${fsgUrl}" rel="external" target="_new">Financial Services Guide (FSG)</a> will be included with your policy documents.</p>
      </div>

      <s:fielderror cssClass="errorMessage">
        <s:param>agree</s:param>
      </s:fielderror>
      <div class="wide">
        <s:checkbox name="agree" id="agree" theme="simple" />
        <label for="agree">Do you accept these conditions? <span class="required">*</span></label>
      <!-- <div class="required">(A tick in the box above confirms a YES response)</div> -->
      </div>

      <site:nextPrevNav formActionNameIs="HomeDeclaration" />
    </fieldset>
  </s:form>

</jsp:root>