<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : WhereYouLiveForm
    Created on : 03/05/2011, 9:00:57 AM
    Author     : gnewton
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:s="urn:jsptld:/struts-tags"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags" version="2.0">

  <site:insuranceHomeFormIntro />

  <s:form action="HomeWhereYouLive" namespace="%{namespace}" method="post" theme="fm_xhtml" id="riskAddressForm">
    <fieldset>

	  <site:qasAddress type="residential" />

      <site:nextPrevNav formActionNameIs="riskAddressForm" />
      
      <s:hidden name="us" value="%{#session['ractSession']}" id="us" />
	  <s:hidden name="quoteNo" />
        
    </fieldset>
  </s:form>
  
  <script type="text/javascript">
  	// $('submitNext').onclick = function() {
  	// 	if (!verifiedQas) {
  	// 		queryQas('residential');
  	// 		return false;
  	// 	}
  	// 	return true;
  	// }
  </script>
</jsp:root>