/* ract insurance shell */
/* generic styles */

html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical !important;
}


body {
  font-size: 0.875em;
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: #666;
  background: #fff;
}

img {
  border: 0 none;
  display: block;
}

hr {
  margin: 30px 0 30px 0;
  height: 1px;
  background-color: #dbdbdb;
  border: 0 none;
  clear: both;
}


h1 {
  font-size: 2.143em;
	line-height: 1em;
  font-weight: bold;
  margin: 2px 0 24px 0;
  padding: 0;
	font-family: Arial;
}


h2 {
  font-size: 1.4em;
	line-height: 1em;
  font-weight: normal;
  margin: 0 0 4px;
  font-family: Arial;
  padding: 0;
  clear: both;
}


.quote  {
  font-size: 1.714em;
	line-height: 1em;
  font-weight: normal;
  margin: 0 0 38px 0;
  padding: 0;
	color: #333;
}

h6,
h3 {
  font-size: 1.286em;
	line-height: 0.889em;
  font-weight: normal;
  margin: 0 0 8px 0;
  padding: 0;
	color: #004990;
}

h6 {
    margin-top: 18px;
}

h4 {
  color: #333;
  font-weight: bold;
  line-height: 0.889em;
  margin: 0 0 2px 0;
}

p {
  line-height: 1.143em;
  text-align: left;
  margin: 0 0 18px 0;
  padding: 0;
}

a {
	color: #004990;
  text-decoration: underline;
}

.print {
  display: none;
}

  a:hover {
    color: #000;
  }

object {
  display: block;
}

object:focus {
  outline: 0;
}

ol {
  margin: 0 17px 28px 0;
  padding: 0;
  list-style-type: decimal;
  display: block;
  list-style-position: inside;
}

  ol li {
    padding: 0 0 4px 0;
    margin: 0;
  }

    ol h1,
    ol h2,
    ol h3,
    ol h4,
    ol h5,
    ol h6,
    ol p { display: inline; }

      ol ul {
        padding: 0 17px;
      }

        ol li ul li {
          list-style-type: none;
          font-size: 1em;
        }


ul {
  margin: 0 17px 18px 0;
  padding: 0;
}

  ul li {
    list-style: none;
    background: url("../secure_images/insurance/home/bullet_ul.gif") transparent 11px 0.4em no-repeat;
    padding: 0 4px 4px 18px;
    margin: 0;
    border: none;
    clear: none;
  }
  .dijitPopup.dijitComboBoxMenuPopup ul li { background-image: none; }

    ul ol {
      padding: 0 20px;
    }

    ul li ol li {
      list-style-type: decimal;
      background: none;
    }

table {
  margin: 0 0 28px 0;
  padding: 0 10px 10px 10px;
  border: 0 none;
  border-collapse: collapse;
  width: 100%;
	background-color: #fcfcfc;
	border: 0 none;
}

    tr {
      margin: 0;
      padding: 0;
			border: 0 none;
    }

			th {
        vertical-align: top;
        padding: 10px;
        font-weight: bold;
        font-size: 1.286em;
        margin: 0;
        color: #004990;
        text-align: left;
				border: 0 none;
				background: #f6f6f6;
      }

      td {
        vertical-align: top;
        margin: 0;
        padding: 8px 10px;
        border: 0 none;
      }

			.alt {
				background: #f6f6f6;
			}


blockquote {
  margin: 0 0 18px 0;
  padding: 20px;
  display: block;
	background: #e9f5fb;
}

  blockquote p {
  	padding: 0;
    margin: 0;
		display: block;
    color: #333;
		font-weight: bold;
    font-size: 1.286em;
    line-height: 1em;
  }


textarea,
input {
  font-family: Arial;
}

form {
  padding: 0;
  margin: 0 0 0;
  display: block;
  position: relative;
  width: 544px;
}

  form legend {
    display: none;
  }

    form fieldset {
      border: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    form fieldset.break { margin-top: 20px; }

    form .toolTip {
      position: absolute;
      right: 10px;
      margin: 11px 0 0 0;
      cursor: pointer;
    }


    .toolTip.link {
      position: relative;
      left: 0;
      margin: 0;
    }

    #HomeChecklistForm #help {
      max-width: 300px;
    }

    form .paymentMonthly .toolTip {
      top: 3em;
    }

    /*form h3 + .toolTip {
      margin: 19px 0 0 0;
    }

    form p + .toolTip {
      margin: 29px 0 0 0;
    }*/

    .insuranceHelp {
      position: absolute;
      right: 10px;
      margin: 11px 0 0 0;
      cursor: pointer;
    }
    .insuranceHelp a { text-decoration: none;}
    .insuranceHelp span {
      left: 14px;
      position: absolute;
      top: 0;
      background: #D9EDFA;
      border: 1px solid #B1CFE0;
      padding: 5px;
      font-size: 0.9em;
      color: #000;
      width: 200px;
      display: none;
    }
    .insuranceHelp:hover span {
      display: block;
    }

      .infoItem > div,
      form .wide,
      form dl {
        margin: 0;
        padding: 10px 0;
        overflow: hidden;
        background: url('../secure_images/insurance/home/bg_form.gif') 0 0 repeat-y;
        border-top: 1px solid #fff;
      }
      form dl.claro {
        font-size: 1em;
        font-family: Arial;
        color: #666;
      }
      form .wide.upgrade {
        margin-bottom: 20px;
      }

      form .wide {
        padding: 10px;
        background: #ddeef7;
      }

      form .wide:hover {
        background: #fdfce5;
      }

      .bankCardField dd label {
        float: left;
      }

      .bankCardField dd label {
        float: left;
      }

      .bankCardField .bsb {
        width: 40px;
      }

      .bankCardField .bsbholder label {
         margin-left: 81px;
      }

      .bankCardField  .accountNo {
        width: 159px;
      }

      .bankCardField .wwctrl input {
        margin-left: 0;
      }

      .bankCardField .wwctrl #bcDash {
        margin: 8px 11px 0;
      }

      .bankCardField #bankcard2 + label {
        float: none;
      }

      .bankCardField .bsbholder {
        overflow: hidden;
        padding-bottom: 10px;
      }

      .infoItem > div:hover,
      form dl:hover {
        background: url('../secure_images/insurance/home/bg_form_on.gif') 0 0 repeat-y;
      }

      form .premium:hover {  background: url('../secure_images/insurance/home/bg_form.gif') 0 0 repeat-y; }

      #quoteForm .premium:hover { background: none #DDEEF7; }

      .errorMessage,
      .errorMessage li {
        margin: 0;
        padding: 0;
      }

      form .wwerr,
      form ul.errorMessage,
      form#HomeNewQuote .errorMessage {
        border-top: 1px solid #fff;
        background: url('../secure_images/insurance/home/bg_formError.gif') 0 0 repeat-y;
        font-weight: bold;
        font-style: italic;
        padding: 10px 0 3px 211px;
        font-size: 0.857em;
        color: #cc0000;
        list-style: none;
      }

      #step17 .errorMessage,
      #quoteLanding .errorMessage,
      form#newQuoteForm .errorMessage,
      form#HomeDeclaration .errorMessage,
      form#HomeSurvey .errorMessage,
      form#HomeExit .errorMessage {
        background: #f6e5e5;
        padding: 10px 10px 3px;
      }

      form ul.errorMessage li { background: none; }

      form .wwerr + dl + .notes,
      form .errorMessage + dl,
      form .wwerr + dl {
        background: url('../secure_images/insurance/home/bg_formError.gif') 0 0 repeat-y;
        border-top: none;
        padding-top: 0;
      }

      form .errorMessage + .wide,
      form .errorMessage + .questionHolder,
      form .errorMessage + .newQuote {
        background: #f6e5e5;
        border-top: none;
        padding-top: 0;
      }

        .infoItem .wwlbl,
        form dl dt {
					padding: 0 10px;
					width: 180px;
					float: left;
        }

          .infoItem br {
            display: none;
          }


          form label {
            font-size: 1em;
            font-weight: normal;
            cursor: pointer;
            padding: 0 10px 0 0;
            margin: 0;
						display: inline-block;
          }

						.required {
							color: #ed1b2d;
						}

            form label .required {
              padding-left: 5px;
            }

        .infoItem .wwctrl,
        form dl dd {
          margin: 0;
          padding: 0 10px;
          width: 323px;
          float: right;
        }

          form input[type=radio],
					form input[type=checkbox] {
						vertical-align: baseline;
						margin: 0.7em 5px 0 0;
            width: 13px;
            height: 13px;
						padding: 0;
            float: left;
            clear: left;
					}

					form input[type=checkbox]:first-child {
            margin-top: 0.1em;
          }

          .imp input[type=checkbox]:first-child {
            margin-top: 0.7em;
          }

          form input[type=radio] {
            height: 13px;
            margin: 0.1em 5px 0.7em 0;
            width: 20px;
          }

					form dd label {
						font-weight: normal;
						padding: 0;
						margin: 8px 15px 0 5px;
            color: #333;
            float: none;
            display: block;
					}

          form input[type=checkbox]:first-child + input + label { margin-top: 0; }

          form select,
          form input[type=text],
          form input[type=password],
          form textarea,
          .claro .dijitTextBox {
            border: 1px solid #666;
            color: #333;
            font-size: 1em;
            padding: 10px 5px;
            background: url("../secure_images/insurance/home/bg_input.gif") 0 0 repeat-x #fff;
            margin: 0 0 0 10px;
            width: 288px;
					  -moz-border-radius: 2px; /* FF1+ */
				    -webkit-border-radius: 2px; /* Saf3-4 */
				    border-radius: 2px; /* Opera 10.5, IE 9, Saf5, Chrome */
            float: left;
            display: block;
          }
          form .dijitTextBox input[type=text] { background: transparent; }

          .claro .dijitTextBox {
            margin: 0;
            padding: 8px 5px;
          }
          #content .claro .dijitTextBox .dijitValidationContainer { padding: 1px 0; }
          #content .claro .dijitValidationInner { border: 0; }

          .datePicker select {
            float: none;
          }

          .tel dl {
            background: none;
            border: none;
            padding-bottom: 0;
          }

          .tel dl:first-child {
            padding-top: 0
          }

            .tel dl dt {
              width: 50px;
            }

            .tel dl dd {
              width: 200px;
              padding: 0;
            }

              .tel dl input[type=text] {
                margin-left: 10px;
                width: 90px;
              }

              .tel .mobile input[type=text] {
                width: 90px;
              }

              .tel dl select {
                margin-left: 0;
                width: 52px;
              }
              .tel dl input[type=text]:first-child {
                margin-left: 0;
                width: 20px;
              }

              .tel .mobile input[type=text]:first-child {
                width: 40px;
              }

          form .creditCard input[type=text] { width: 35px; }
          form .number input[type=text],
          form .captcha input[type=text] { width: 90px; }

          form .captcha img { float: right; }
          form .captcha img.captchaImg {
            float: left;
            border: 1px solid #111;
            padding: 3px;
            background: #fff;
            opacity: 0.6;
            margin: 0 10px;
          }

          form select:first-child,
          form input[type=text]:first-child,
          form input[type=password]:first-child,
          form textarea:first-child { margin-left: 0; }

          form select { width: 300px; }

          .dayPicker,
          #expMonth {  width: 60px; }

          .monthPicker { width: 116px; }

          .yearPicker,
          #expYear{ width: 72px; }

          form .datePicker div {
            float: left;
            overflow: hidden;
            margin: 0 0 0 10px;
          }

          form .datePicker div:first-child {
            margin-left: 0;
          }

            form .datePicker dd label{
              font-size: 0.857em;
              font-style: italic;
              margin: 1px 0 0 0;
              color: #666;
            }

          form .question {
            overflow: hidden;
            background: url('../secure_images/insurance/home/bg_question.gif') 0 0 repeat-y;
            padding-top: 9px;
          }

          form .question:hover {
            background: url('../secure_images/insurance/home/bg_question_on.gif') 0 0 repeat-y;
          }

            form .question dl {
              float: left;
              width: 490px;
            }

            form .questionHolder dl.question  {
              float: none;
              width: auto;
            }

            form .question dt { width: 467px; }

            form .question dd {
              float: right;
              width: 36px;
            }

          form textarea { width: 512px; }

          #HomeChecklistForm form input[type=submit].start,
          form .actions.ready input[type=submit].start { float: right; }

          form #nextStep,
          form .actions #submitNext.next {
            float: right;
          }
          #nextStep,
          #prevStep,
	form input[type=submit],
  form input[type=reset] {
    border: 0 none;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 20px 0 20px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.4em;
    cursor: pointer;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  }

        #nextStep:hover,
          #prevStep:hover,
	form input[type=reset]:hover,
  form input[type=submit]:hover {
    background-position: 0 -55px;
  }

/* smoothForm */


.js #wrapper .smooth_inv {
  display: none;
}

.js #wrapper select.smooth_inv,
.js #wrapper input.smooth_inv,
.js #wrapper .smooth_vis {
  display: block;
}


/* template */

#header,
#footerBg,
#wrapper {
  background-position: 50% 0;
  background-repeat: no-repeat;
}

#footerBg {
  background-position: 50% 100%;
  overflow: hidden;
}

body {
  background-position: 50% 0;
  background-repeat: repeat-y;
}

#content {
  width: 880px;
  padding: 40px;
  /*margin: 300px auto 0;*/
  overflow: hidden;
  background: #fff;
}

#article {
  float: left;
  width: 544px;
  overflow: hidden;
}

#bside {
  float: right;
  width: 295px;
  overflow: hidden;
}

#footer {
   width: 960px;
   padding: 40px 0;
   margin: 0 auto;
   overflow: hidden;
}

#footer li {
  background: none;
  padding: 0 15px;
  margin: 0;
  float: left;
}

#footer li:first-child {
  padding-left: 0;
}

#home {
  text-decoration: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  width: 125px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -480px;
}

#submitHolder {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  width: 544px;
}

.fi {
  float: left;
  margin-bottom: 5px;
}

.img3 {
  margin-left: 5px;
}

#wrapper #content .tncError {
  background: none #F6E5E5;
  padding: 10px 0 3px 10px;
}

#completed {
  width: 880px;
  padding: 140px 0 180px;
  text-align: center;
}

#completed p {
  text-align: center;
}

/* loader */


.ticks,
.cardLoader {
  float: left;
  margin: 0 0 0 10px;
  display: none;
}

.ticks {
  position: relative;
  height: 26px;
  width: 27px;
  overflow: hidden;
  margin-top: 6px;
}

.ticks img {
  position: absolute;
  top: 0;
  left: 0;
}

.show_error .ticks,
.show_tick .ticks,
.loading .cardLoader {
  display: block;
}

.show_error .ticks img {
  top: -26px;
  display: block;
}

.show_tick .ticks img {
  display: block;
}

#vd {
  margin: 26px 0 8px;
}

#completed .addthis_toolbox {
  width: 72px;
  margin: 0 auto;
}