/**
 * Style sheet for external RACV applications
 */


body {
	font-size: 14px;
	font-family: "Segoe UI",Arial;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #transparent;
	width: 531px;
}

#totalIncome,
#primaryOtherIncome,
#primaryOvertimeAmount,
#primaryWageAmount {
	width: 110px;
}


#group_totalAssets_otherAssets,
#totalLiabilities,
#personalLoansDetails,
#vehicleModel2,
#vehicleMake2,
#vehicleModel1,
#vehicleMake1,
#group_totalLiabs_mortgageBalance,
#group_totalLiabs_otherBalance,
#otherRepayment,
#otherLimit,
#otherDetails,
#maintenanceRepayment,
#maintenanceDetails,
#guaranteesDetailsHelpHelp,
#group_totalLiabs_guaranteesBalance,
#guaranteesRepayment,
#guaranteesLimit,
#guaranteesDetails,
#group_totalLiabs_storeCard2Balance,
#storeCard2Repayment,
#storeCard2Limit,
#storeCard2Details,
#storeCard1DetailsHelpHelp,
#group_totalLiabs_storeCard1Balance,
#storeCard1Repayment,
#storeCard1Limit,
#storeCard1Details,
#group_totalLiabs_creditCard2Balance,
#creditCard2Repayment,
#creditCard2Limit,
#creditCard2Details,
#group_totalLiabs_creditCard1Balance,
#creditCard1Repayment,
#creditCard1Limit,
#creditCard1Details,
#rentRepayment,
#rentDetails,
#group_totalLiabs_personalLoansBalance,
#personalLoansRepayment,
#personalLoansLimit,
#personalLoansDetails
#group_totalLiabs_mortgageBalance,
#mortgageRepayment,
#mortgageLimit,
#mortgageDetails,
#totalAssets,
#group_totalAssets_savings,
#group_totalAssets_furnitureContents,
#group_totalAssets_vehicleAmt2,
#group_totalAssets_vehicleAmt1,
#group_totalAssets_otherPropertyAmt,
#group_totalAssets_houseAmt {
	width: 70px;
}

td {
	position: relavtive;
padding-left: 1px;
}

#loanDetails .formhelp p {
	font-size: 1em;
}


#otherDetails {
	margin-top: 1em;
}

#group_totalLiabs_otherBalance,
#otherRepayment,
#otherLimit {

	margin-left: 20px;
	_margin-left: 1px;
}

select,
input {
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
}

.last {
	width: 150px;
}
table {
	width: 100%;
}


p {
	clear: both;
	display: block;
	width: 532px;
	font-size: 1em;
	padding-left: 15px;
	color: #999;
	font-style: italic;
}
        
#content,
#calculator {
	overflow: 0;
	zoom: 1;
	width: 532px;
}

#content table {
	margin: 0;
}

h2,
h3,
#heading1,
#heading2 {
	/*background: url('../images/bg_form_heading.gif') 0 0 no-repeat transparent;*/
	border-bottom: 1px solid #91CDF2;
    color: #134B8E;
    font-size: 18px;
    padding: 0 0 5px 15px;
    margin: 0 0 1em 0;
} 

#content .norm,
#heading1,
#heading2 {
	padding-left: 15px;
}

#content .stat,
#content .stat td {
	padding-left: 15px;
}

table {
       float: left;
	clear: both;
	font-size: 1.2em;

}

#content input {
	padding: 0 0 10px 15px;

}

#content .tableLoanDuration ,
#content .tableLoanAmount {
	padding-left: 15px;
	display: block;
}


span label {
	margin: 0 0 0 -20px;
}

.mandatoryStar {
	margin: 0;
}

tr {
	margin: 5px 0;
}

.formAlert p {
	padding-left: 0;
}

.calculatorSummary td,
table table td {
	width: auto;
}

.vari,
tr .stat {
	font-weight: bold;
}

#gr {
	vertical-align: top;
}

#lowtip,
#toptip,
table table .stat,
table table .vari,
#vari_loanDuration {
	font-weight: normal;
}

#lowtip,
#toptip {
	width: 250px;
}


.yelhr,
.bluehr {
	/*background: url('../images/bg_form_hr.gif') 0 0 no-repeat transparent;*/
	display: block;
	height: 1px;
	width: 532px;
	margin: 4px 0 5px 0;
}

table table {
	font-size: 1em;
}

#Your_Progress { display: none; }
.yourProgress {
	overflow: hidden;
	margin: 5px 0 0 0;
	padding: 0 0 0 15px;
}

.yourProgress li {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
.yourProgress li  input { padding: 0; }

.mandatoryIntro {
	color: #999;
	margin-bottom: 30px;
}

td {
	padding: 0 0 15px 15px;
	vertical-align: middle;
}

.noPadding {
	padding: 0;
}

#content td {
	padding: 0;
	text-align: left;

}

#loanDetails  .formAlert p {
	width: 431px;
}


.help {
	display: inline;
	margin: 0 0 0 3px;
}

.noneBorder {
	/*background: url('../images/bg_form_hr.gif') 0 0 no-repeat transparent;*/
	padding-top: 15px;
}


.submit {
	display: inline;
}

.alertdiv {
	font-size: 0.9em;
	color: #ed1c2e;
  /*background: url(../images/icon_alert_small.gif) 0 0 no-repeat transparent;*/
  padding: 0 0 0 15px;
}

#loanDetails p {
	clear: both;
	display: block;
	width: 532px;
	font-size: 1.2em;
	color: #999;
	font-style: normal;
}


#loanDetails p a { 
	color: #004990;
	text-decoration: none;
}

#loanDetails p a:hover {
	text-decoration: underline;
}


.formAlert {
	/*background: url(../images/icon_alert_large.gif) 0 0 no-repeat transparent;*/
	padding:0 0 0 50px;
}


#loanDetails .formAlert {
	color: #ed1c2e;

}

#loanDetails .formAlert ul {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

#loanDetails .formAlert p {
	font-weight: bold;
	color: #ed1c2e;

}


	#loanDetails .formAlert li {
		font-size: 1.2em;
		color: #ed1c2e;
	}


#content #interestRate,
#content .tableLoanAmount input,
#content .tableLoanDuration input {
	padding: 2px;
}

#content #freqF, 
#content #freqM {
	padding: 0;
}

#content .tableAdjustFrequency td,
#content .lblue td {
	padding-left: 0;
}

#content .lbluetext {
	margin-left: 20px;
	width: 500px;
}

#content #report .stat {
	padding: 0;
}

#content #report h1 {
	text-align: left;
	margin-left: 20px;
	color: #004990;
	font-size: 1.8em;
	font-weight: normal;
}

* html #content .lbluetext {
	margin-left: 10px;
}

#gr {
	background: url('../secure_images/button_generate_report.gif') 17px 0 no-repeat transparent;
	width: 146px;
	height: 30px;
	font-size: 0;
	white-space: nowrap;
	text-indent: 20px;
}

#report #back {
  float: left;
  color: #004990;
  text-weight: bold;
  font-size: 1.2em;
  margin-left: 20px;
  margin-top: 5px;
  width: 5em;
  display: block;
	background: url('../secure_images/btn_link_back.gif') 0 50% no-repeat transparent;
}
.helpPaddingLeft {
	background: url('../secure_images/icon_help.gif') no-repeat;
  
}