/* ////////////////////////////////////
   FONTS
/////////////////////////////////////*/

/* Hind Light */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: local('Hind Light'), local('Hind-Light'), url(https://fonts.gstatic.com/s/hind/v10/5aU19_a8oxmIfMJaERySjQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Hind Regular */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v10/5aU69_a8oxmIdGl4BA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Hind Medium */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: local('Hind Medium'), local('Hind-Medium'), url(https://fonts.gstatic.com/s/hind/v10/5aU19_a8oxmIfJpbERySjQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Hind SemiBold */ 
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind SemiBold'), local('Hind-SemiBold'), url(https://fonts.gstatic.com/s/hind/v10/5aU19_a8oxmIfLZcERySjQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Hind Bold */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v10/5aU19_a8oxmIfNJdERySjQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/* ////////////////////////////////////
   BASE STYLES
/////////////////////////////////////*/
body { font-family: "Hind", Arial, sans-serif !important; font-weight:300; font-size:24px; line-height:36px !important; color:#373A40; }
h1, h2, h3, h4, h5, h6 { font-family: "Hind", Arial, sans-serif; font-weight:300 !important; color:#2376D8;  margin-bottom:20px;  }
form > h3, h3.red { font-size:50px; color:#3A3A3A;  } /* Page title */
h3 { font-size:36px; } /* section-title */
a { color:#2376D8; }
a:hover { color:#185296; }
.container-fluid { max-width:960px; }
/* .commenceDate .wwlbl { display:none; } */
hr { display:none; }

/* HEADER */
.header > .container-fluid { max-width:1200px; margin:0 auto; padding:20px 15px; }
.header .logo { width:100px; height:auto; }
.header .number { color:#666666; font-weight:700; font-size:43px; float:right; margin-top:38px; }
.header .glyphicon-earphone { float:right; position:relative; top:16px; right:10px; }
.header .glyphicon-earphone::before { font-family:"Font Awesome 5 Pro"; font-weight:900; content:"\f095"; font-size:38px; }

/* HERO IMAGE */
/*#hero { max-height:500px; width:100%; height:500px; background:url("https://www.ract.com.au/-/media/Project/RACT%20Group/RACT/shared/roadside.jpg") center no-repeat; background-size:cover; margin-bottom:80px; }*/
#hero { max-height:500px; width:100%; height:500px; background:url("https://www.ract.com.au/-/media/Project/RACT Group/RACT/shared/Roadside_funnel_1.jpg") center no-repeat; background-size:cover; margin-bottom:80px; }
#hero-lifestyle { max-height:500px; width:100%; height:500px; background:url("https://www.ract.com.au/-/media/Project/RACT Group/RACT/shared/lifestyle.jpg") center no-repeat; background-size:cover; margin-bottom:80px; }

/* BUTTONS */
.actions { margin:80px auto 0; }
.actions > div { display:flex; width:80%; }
.actions > div, .actions > div > div { width:100%; }
.actions div.hidden-xs { display:none; }

a.actionLink { display:block; width:100%; background-color:#2376D8; border:0; border-radius:50px; color:#fff; font-size:26px; text-align:center !important; font-weight:500; line-height:36px; padding:20px; text-decoration:none; transition:all 0.3s; }
a.actionLink:hover { background-color:#1A4C87 !important; }
a.actionLink span { display:none; }
a.actionLink.disabled { background-color:#ddd !important; }
a.actionLink.next::after { font-family:"Font Awesome 5 Pro"; font-weight:600; content:"\f054"; font-size:34px; position:absolute; top:19px; right:48px; }

a.actionLink.prev { background-color:#1A4C87; }
a.actionLink.prev::before { font-family:"Font Awesome 5 Pro"; font-weight:600; content:"\f053"; font-size:34px; position:absolute; top:19px; left:48px; }

/* PROGRESS BAR */
#progressHeading { display:none; }
.progressGraph { width:100%; border:3px solid #1466C7; border-radius:5px; margin-bottom:40px; position:relative; }
.progressGraph::after { content:"Progress"; color:#2376D8; position:absolute; top:0px; left:46%; font-size:20px; }
.progressGraph .indicator { width:25%; background:#2376D8; }

/* FORM ELEMENTS */
form fieldset { max-width:800px; margin:0 auto; }
form .formPersonal { position:relative; }
form .wwlbl label { font-size:24px; font-weight:300; color:#373A40; padding-left:0; }
form div.errorLabel { font-weight:300; }
form .required { display:none; }
form legend { border:none; }
form .form-control { border:2px solid #CAD1E0; padding:6px 12px; font-size:20px; height:56px; }
form .wwgrp { display:flex; }
form .wwlbl { flex-basis:50%; align-self:center; }
form .wwctrl { flex-basis:50%; }
form .wwctrl input,
form .wwctrl select,
form select
{ width:100%; border:2px solid #CAD1E0; border-radius:4px; height:56px; padding:0 12px; font-size:20px; }
.wwerr { color:#f00; font-size:16px; display:block; margin-left:50%; }

form .formNumbers input { width:100%; border:2px solid #CAD1E0; border-radius:4px; height:56px; padding:0 12px; font-size:20px;  }
form .formNumbers div.phoneHolders { display:flex; margin-bottom:20px; }
form .formNumbers div.wwlbl { flex-basis:50%; align-self:center; }
form .formNumbers div.wwctrl { display:flex; flex-basis:50%; }
form .formNumbers div.wwctrl .areaCode { flex-basis:25%; margin-right:16px; }

.label-checkbox { display:block; position:relative; padding-left:46px; margin-bottom:40px; cursor:pointer; font-size:22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.label-checkbox input { position:absolute; opacity:0; cursor:pointer; height:0; width:0; }
.label-checkbox span.check-indicator { position:absolute; top:-0px; left:0; height:30px; width:30px; background-color:#eee; border-radius:5px; transition:all 0.3s; }
.label-checkbox:hover input ~ span.check-indicator { background-color:#ddd; }
.label-checkbox input:checked ~ span.check-indicator { background-color:#1C3559; }
span.check-indicator::after { content:""; position:absolute; display:none; }
.label-checkbox input:checked ~ span.check-indicator:after { display:block }
.label-checkbox span.check-indicator:after { left:11px; top:4px; width:9px; height:19px; border:solid white; border-width: 0 4px 4px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.checkbox { padding-left:0; }
.checkbox label { font-weight:300;}

/* FORM NOTES */
.notes { color:#AAB1BC; font-weight:300; font-size:18px; position:absolute; top:32px; left:0 }

/* NOTIFICATIONS */
.notice { width:100%; padding:18px 34px; background-color:rgba(35,118,216,0.1); border-radius:8px; margin-bottom:30px; }
.notice strong { color:#2376D8; font-weight:500; }
.notice strong::before { font-family:"Font Awesome 5 Pro"; font-weight:400; content:"\f06a"; font-size:28px; position:relative; top:3px; padding-right:14px; }
.notice div { font-size:85%; border-top:1px solid #cad5e3; padding-top:10px; margin-top:10px; }


/* HIGHLIGHT */
.callout > div { border:3px solid #FFF8DF; border-radius:8px; padding:20px 30px; }
.callout span { color:#FFCE1F; }

/* WARNING */ 
.bgContainer .inner { width:100%; padding:18px 34px; background-color:rgba(35,118,216,0.1); border-radius:8px; margin:50px 0 0; color:#2376D8; font-weight:500; font-size:20px; }
.bgContainer .inner strong::before { font-family:"Font Awesome 5 Pro"; font-weight:400; content:"\f06a"; font-size:28px; position:relative; top:4px; padding-right:14px; }

/* FOOTER */
.footer { margin-top:100px; font-size:18px; text-align:right; }
.footer > .container-fluid { max-width:1200px; margin:0 auto; padding:20px 15px; border-top:3px solid #eee; }
.footer .lock { float:left; }
.footer .lock::before { font-family:"Font Awesome 5 Pro"; font-weight:400; content:"\f023"; font-size:28px; position:relative; top:3px; padding-right:14px; }
.footer p { visibility:hidden; }
.footer p a { visibility:visible; }
.footer p a:hover { text-decoration:none; }
.footer p a::after { font-family:"Font Awesome 5 Pro"; font-weight:300; content:"\f054"; font-size:18px; position:relative; top:1px; padding-left:10px; }




/* ////////////////////////////////////
   PAGE STYLES
/////////////////////////////////////*/

/* PAGE 1 - JoinMembership */
.landing h3 { text-align:center; }
.membershipSelection { display:flex; flex-direction:row-reverse; }
.membershipSelection > div { width:50%; }
.membershipSelection > div:nth-child(1) { padding-left:3px; }
.membershipSelection > div:nth-child(2) { padding-right:4px; }
.most-popular { display:flex; justify-content:center; }
.most-popular > div { width:50%; }
.most-popular > div:nth-child(2) { padding-left:3px; }
.most-popular > div:last-child div { text-align:center; background:#1C3559; color:#fff; font-size:20px; padding:3px 0;}
.rp-box__header { padding:20px }
.rp-box__title { font-size:0; }
.rp-box__cost-message { display:none; }
.rp-box__title::before { visibility:visible; display:block; font-family:"Font Awesome 5 Pro"; font-weight:300; font-size:60px; text-align:center; }
.rp-box__title::after { visibility:visible; font-size:36px; font-weight:700; line-height:55px; display:block; text-align:center; }
.rp-box__main { padding:20px 40px; }
.rp-box__header .features { text-align:center; padding:0 10px 10px; }
.rp-box__header .features a { text-decoration:underline; }
.rp-box--ultimate .rp-box__header .features a { color:#fff; text-decoration:underline; }
.rp-box--ultimate .rp-box__header .features a:hover { color:rgba(255,255,255,0.8); }
.rp-box__main { padding:40px 40px 20px; }
.rp-box__cost { display:flex; justify-content: center; }
.rp-box__cost > div:nth-child(3) { margin-left:50px; }
.rp-box__check-description {  display:block; font-size:30px; line-height:26px; }
.rp-box__check-description small { font-size:16px; display:block; }
.rp-box__payment-frequency { display:block; position:relative; padding-left:40px; margin-bottom:12px; cursor:pointer; font-size:22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.rp-box__payment-frequency input { position:absolute; opacity:0; cursor:pointer; height:0; width:0; }
.rp-box__payment-frequency span.rp-box__check-indicator { position:absolute; top:4px; left:0; height:30px; width:30px; background-color:#fff; border-radius:5px; transition:all 0.3s; }
.rp-box__payment-frequency:hover input ~ span.rp-box__check-indicator { background-color:#eee; }
.rp-box__payment-frequency input:checked ~ span.rp-box__check-indicator { background-color:#1C3559; }
span.rp-box__check-indicator::after { content:""; position:absolute; display:none; }
.rp-box__payment-frequency input:checked ~ span.rp-box__check-indicator:after { display:block }
.rp-box__payment-frequency span.rp-box__check-indicator:after { left:11px; top:4px; width:9px; height:19px; border:solid white; border-width: 0 4px 4px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.rp-box--advantage { background:#E8EBF2;  }
.rp-box--advantage .rp-box__title::before { content:"\f132"; color:#373A40; }
.rp-box--advantage .rp-box__title::after { content:"Advantage"; color:#373A40; }
.rp-box--advantage .rp-box__title { color:#373A40; }
.rp-box--advantage .rp-box__main { background:#DCDDE1; }
.rp-box--ultimate { background:#2376D8; color:#ffffff; }
.rp-box--ultimate .rp-box__title::before { content:"\f2f7"; color:#ffffff; }
.rp-box--ultimate .rp-box__title::after { content:"Ultimate"; color:#ffffff; }
.rp-box--ultimate .rp-box__title { color:#ffffff; }
.rp-box--ultimate .rp-box__main { background:#0F60BF; }
#JoinMembership .commenceDate .wwctrl { padding:40px 0 70px; text-align:center; font-weight:600; flex-basis:100%; }
#JoinMembership .commenceDate .wwctrl::before { content:"Your roadside cover will start on: "; }
#JoinMembership .pseudoLabel { display:none; }
.whenfilling { display:none !important; }
#showWhenMonthlySelected { margin-top:20px; font-size:18px; line-height:26px; border-bottom:1px solid #ddd; padding-bottom:20px; color:#999; }
#showWhenMonthlySelected i { display:block; padding:0 20px; text-align:center; }
#wwctrl_JoinMembership_gotcha { display:none; }
.actions { display:flex; width:80%; }
.actions > div, .actions > div > div { width:100%; }
.actions > div > div > div { width:50%; }
.actions div.hidden-xs { display:none; }

/* PAGE 2 - JoinPersonal */
#JoinPersonal .joinForm h3 { margin-top:50px; }
#JoinPersonal .joinForm h5 { font-size:36px; margin-top:80px; }
#JoinPersonal .commenceDate .wwgrp  { display:block; }
#JoinPersonal .commenceDate .wwgrp > * { display:inline-block; }
#JoinPersonal .commenceDate .wwgrp .wwlbl label { color:#2376D8; }
#JoinPersonal .joinForm .formPersonalNumber .wwlbl { flex-basis:100%; }
#JoinPersonal .joinForm .formPersonalNumber .wwlbl label { font-weight:300; color:#2376D8; margin:80px 0 28px; font-weight:300;  }
.formNumbers .wwgrp { display:block; }
#JoinPersonal .joinForm .phoneHolders { position:relative; }
#JoinPersonal .joinForm .phoneHolders .wwerr { display:block; position:absolute; top:-35px; }
#JoinPersonal .joinForm .phoneHolders .wwerr ul { list-style:none; padding-left:0; }
#JoinPersonal .actions { margin-top:80px; }
#JoinPersonal .actions > div { display:flex; width:80%; }
#JoinPersonal .actions > div, .actions > div > div { width:100%; }
#JoinPersonal .actions div.hidden-xs { display:none; }
#JoinPersonal .roadside { border-top:1px solid #707070; padding-top:26px; }
#JoinPersonal #wwgrp_showPostal { display:block; }
.claro .dijit .dijitArrowButtonContainer { height:58px; width:20px; background:#CEF3D4; border:none; }
.claro .dijit .dijitArrowButtonInner { height:58px; width:20px; border:none; color:#000; background-image:none; background-position:0 0; }
.claro .dijit .dijitArrowButtonContainer::before { font-family:"Font Awesome 5 Pro"; font-weight:400; content:"\f107"; font-size:20px; color:#609769; position:relative; top:11px }
.claro .dijitTextBox .dijitInputContainer { padding:0 16px; }

/* PAGE 3 - JoinConfirm*/
#JoinConfirm h5 { font-size:36px; margin-top:60px; }
#JoinConfirm .summary-title1, #JoinConfirm .summary-title2 { margin-top:50px; margin-bottom:20px; font-size:26px; color:#2376D8; font-weight:300; }
#JoinConfirm .summary-title1::before { content:"Your membership details"; visibility:visible; font-size:26px; color:#2376D8; font-weight:300; }
#JoinConfirm .summary-title2::before { content:"Your personal details"; visibility:visible; font-size:26px; color:#2376D8; font-weight:300; }
#JoinConfirm .indicator { width:60% !important; }
#JoinConfirm .progressGraph::after { color:#fff; }
#JoinConfirm #wwgrp_JoinConfirm_terms { display:block; }
#JoinConfirm .checkbox { padding-top:30px; margin-left:40px; }
.membershipConfirm { margin-bottom:80px; }
.membershipConfirm .row { display:flex; margin-bottom:20px; }
.membershipConfirm .row > div { align-self:center; }
.membershipConfirm .row > div:first-child { flex-basis:43%; font-size:24px; font-weight:300; color:#373A40; }
.membershipConfirm .row > div span, .membershipConfirm .row .highlight { font-weight:600; }
.membershipConfirm .row .wwctrl { flex-basis:100%; }
.membershipConfirm .row .confirm-numbers { flex-direction:column; }
.membershipConfirm .row .confirm-numbers > div { width:100%; }
#JoinConfirm .infobox .checkbox + p { border-top:1px solid #373A40; padding-top:30px; margin-top:60px; }
#JoinConfirm .wwctrl { flex-basis:100%; }
#JoinConfirm .terms_check_error {color:red; display:none;}
#JoinConfirm .terms_check_visible {color:red;}

/* PAGE 4 - JoinPayment */
#JoinPayment .indicator { width:75% !important; }
#JoinPayment .progressGraph::after { color:#fff; }
#JoinPayment .membershipSummary::before { display:block; content:"Purchase Details"; font-size:36px; margin:60px 0 40px; color:#2376D8; }
table.membershipConfirm { width:100%; }
table.membershipConfirm tr > th { width:40%; height:50px; font-weight:300; }
table.membershipConfirm tr > td { font-weight:600; }
table.membershipConfirm br { display:none; }
table.membershipConfirm br:after { content:' '; }
#JoinPayment #paymentDetails + p { display:block; border-top:1px solid #373A40; padding-top:30px; margin-top:60px !important; }
#cardNumber { display:flex; justify-content:space-between; margin-bottom:20px; }
#cardNumber input { width:23%; }
#cvv { width:23%; margin-bottom:20px; }
#expiryDate { display:flex; font-size:30px; color:#fff; }
#expiryDate input { color:#373A40; }
input#expiryDate1, input#expiryDate2 { width:23%; }
#JoinPayment a#nextStep { background:#E32B2D; }
#JoinPayment a#nextStep:hover { background:#B11917 !important; }

/* PAGE 5 - thankyou */
#thankyou .progressGraph::after { color:#fff; }
#thankyou h5 { font-size:0; }
#thankyou > div > h5::before { visibility:visible; display:block; content:"Welcome to the family"; font-size:36px; margin:60px 0 0; color:#2376D8; }
#thankyou .first-thankyou { font-weight:600; }
#thankyou #actionMessages { margin-top:-20px; }
#thankyou #actionMessages span { font-weight:600; }
#thankyou #prevStep { display:none; }
#thankyou .actions { margin-top:20px;  }
#thankyou .actionLink.next { background:#1A4C87; width:100%; max-width:350px; margin:0 auto; }
#thankyou .actionLink.next::after { content:none; }
.cta-grid { display:flex; justify-content:space-between; max-width:600px; margin:80px auto 0; }
.cta-col { display:flex; flex-direction:column; text-align:center; flex-basis:40%; padding:20px; font-size:20px; color:#666; font-weight:300; }
.cta-col p { margin:20px 0 20px 0; }
.cta-col i { font-size:60px; color:#204B87; }
.cta-col a { background:#2376D8; color:#fff; padding:8px 30px; border-radius:50px; font-size:14px; font-weight:500; min-width:160px; text-decoration:none; margin-top:auto; }

/* LIFESTYLE - JoinLifestyle */
#JoinLifestyle p { margin-top:36px; }
#JoinLifestyle ul li { margin-top:20px; list-style:none; } 
#JoinLifestyle ul li::before { font-family:"Font Awesome 5 Pro"; font-weight:400; content:"\f105"; font-size:22px; color:#2376D8; padding-right:20px; }

#JoinLifestyle .membershipSelection { display:block; text-align:center; background:#2376D8; max-width:460px; margin:60px auto 80px; color:#fff; }
#JoinLifestyle .membershipSelection .ultimate, #JoinLifestyle .ultimate .wwgrp,  #JoinLifestyle .ultimate .wwctrl
{ display:block; width:100%; padding:0; }
#JoinLifestyle .membershipSelection input { display:none; }
#JoinLifestyle .ultimate .wwctrl { padding:50px 20px 40px; }
#JoinLifestyle .ultimate .radio { margin:0; padding:0; font-size:36px; }
#JoinLifestyle .ultimate .radio::before { display:block; font-family:"Font Awesome 5 Pro"; font-weight:300; content:"\f53d"; font-size:60px; padding-bottom:26px; }
#JoinLifestyle .ultimate .cost { background:#0F60BF; font-size:40px; font-weight:800; padding:36px 20px 30px; }
#JoinLifestyle .ultimate .cost::after { display:block; content:"Annually"; font-size:16px; line-height:16px; }

#JoinLifestyle .features { margin-top:26px; }
#JoinLifestyle .features a { color:#fff; text-decoration:underline; }
#JoinLifestyle .features a:hover { color:#fffc; }
#JoinLifestyle .compareText { width:100%; padding:18px 34px; background-color:rgba(35,118,216,0.1); border-radius:8px; margin-bottom:30px; font-size:23px; }
#JoinLifestyle fieldset.landing { max-width:930px; }
#JoinLifestyle .commenceDate .wwctrl { flex-basis:100%; color:#1C3559; font-weight:600; text-align:center; margin-top:20px; }
#JoinLifestyle .commenceDate .wwctrl::before { content:"Your lifestyle membership will begin on: " }





/* ////////////////////////////////////
   RESPONSIVE STYLES
/////////////////////////////////////*/
@media screen and (max-width: 997px) {
  body { font-size:18px; line-height:27px !important; }
  h3 { font-size:24px; line-height:28px; }
  form > h3, h3.red { font-size:30px; line-height:36px; }
  
  #hero, #hero-lifestyle { height:400px; margin-bottom:40px; }
  
  .notice { font-size:18px; line-height:24px; }
  #JoinLifestyle .compareText { font-size:18px; line-height:24px; }
  
  .rp-box__title::before { font-size:50px;  }
  .rp-box__title::after { font-size:30px; line-height:55px; }
  
  body .membershipConfirm { font-size:24px; }
  
  #JoinConfirm .label-checkbox span.check-indicator { top:4px; }
  #JoinConfirm .check-description { font-size:18px; line-height:27px !important; }
  
  #JoinLifestyle ul li { margin-top:10px; } 
  #JoinLifestyle ul li::before { padding-right:10px; position:relative; top:2px }

}



@media screen and (max-width: 880px) {
  #JoinPayment .actions { width:100%; } 
}




@media screen and (max-width: 767px) {
  #hero { height:300px; background-position:20%; }
  #hero-lifestyle { height:300px; background-position:40%; }

  .header .logo { width:70px; }
  
  .actions .g-recaptcha > div { margin:0 auto; }
  .actions > div > div > div { width:100%; padding-bottom:40px; }
  
  .rp-box__cost { display:block; }
  .rp-box__check:nth-child(2) { margin-bottom:20px; }
  .rp-box__cost > div:nth-child(3) { margin-left:0; }
  .rp-box__check-description small { display:inline-block; }
  .rp-box__payment-frequency span.rp-box__check-indicator { top:-4px; }

  .cta { flex-basis:47%; }

}


@media screen and (max-width: 700px) and (min-width: 600px) {
  #JoinPayment a#nextStep, #JoinPayment a#prevStep { font-size:20px }
  #JoinPayment a.actionLink::before, #JoinPayment a.actionLink::after { font-size:26px; }
}


@media screen and (max-width: 600px) {
  .membershipSelection > div { margin-bottom:20px; }
  .membershipSelection, .most-popular { flex-direction:column; }
  .membershipSelection > div, .most-popular > div  { width:100%; padding:0 15px !important; }
  .rp-box__cost { max-width:210px; margin:0 auto; }
  
  #JoinLifestyle .membershipSelection > div { margin-bottom:0; padding:0 !important; }
  
  .actions { display:block; width:100%; text-align:center; }
  .actions div, .actions div.row { width:100%; margin:0; padding:0 }
  
  #showWhenMonthlySelected { margin-top:0; }
  
  .progressGraph::after { left:42%; font-size:18px; }
  
  /* Page title */
  #JoinPersonal .joinForm h5,
  #JoinConfirm h5,
  #JoinPayment .membershipSummary::before,
  #thankyou h5::before
  { font-size:30px !important; margin-top:80px; }
  
  /* Form elements */
  form dl.wwgrp, form div.wwgrp { display:block; }
  form .label { font-size:20px; color:#000000; }
  form .formNumbers div.phoneHolders { display:block; }
  #wwctrl_JoinPersonal_postalPropertyQualifier,
  #wwctrl_postalStreet
  { padding-top:24px;}
  
  .membershipConfirm .row { display:block; }

  /* form notes */
  .notes { font-size:16px; position:absolute; top:20px; left:0 }
  
  /* Form checkbox label */
  .lblShowPostal { font-size:18px; }
  
 .actions > div { flex-direction:column; flex-flow:column-reverse; }
 .actions > div > div { margin-bottom:20px; }
  
  /* Form errors */
  form .wwerr { font-size:16px; display:block; margin-left:0; }
  
  .footer .lock,  .footer p { float:none; display:block; margin:0 auto; text-align:center; }
  
  .cta-grid { display:block; max-width:260px; }
  
}



@media screen and (max-width: 460px) {
  #JoinConfirm .checkbox { margin-left:0px; }
  #JoinLifestyle ul { padding:0; } 
}



@media screen and (max-width: 430px) {
  .progressGraph::after { left:33%; }
  #thankyou .progressGraph::after { left:40%; } 

  .notice strong::before { font-size:35px; position:relative; top:10px; padding-right:14px; display:block; float:left; height:60px }
  
  #JoinPayment a#nextStep, #JoinPayment a#prevStep { font-size:20px }
  #JoinPayment a.actionLink::before, #JoinPayment a.actionLink::after { font-size:26px; }
}