/* Oswald & Open Sans */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,700,700italic,300|Oswald:400,700);

/* Icons */
/*@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//secure_styles/bootstrap-fonts/glyphicons-halflings-regular.eot');
  src: url('//secure_styles/bootstrap-fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  	url('//bootstrap-fonts/glyphicons-halflings-regular.woff') format('woff'),
  	url('//secure_styles/bootstrap-fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  	url('//secure_styles/bootstrap-fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}*/

html,
body,
.roadside {
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.roadside {
	max-width: 1000px;
}

.header {
	border-bottom: 4px solid #303048;
	margin-bottom: 5px;
	margin-top: 10px;
}

.header .header-inner a {
	text-decoration: none;
}

.roadside .header-inner .logo {
	float: left;
}

.roadside .header-inner .number {
	float: right;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #303048;
	line-height: 65px;
}

.roadside .header-inner .glyphicon {
	color: #303048;
	font-size: 26px;
	line-height: 65px;
	padding-right: 10px;
}

/*.roadside .roadside-container {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 132, 255, 0.30);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0, 132, 255, 0.30);
	box-shadow: 0px 0px 7px 0px rgba(0, 132, 255, 0.30);
}*/

.roadside a {
	color: #428BCA;
	text-decoration: underline;
}

.roadside a:hover,
.roadside a:focus {
	color: #2A6496;
}

.roadside {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #000000;
	position: relative;
}

.roadside .required {
	color: red;
	font-weight: bold;
}

.roadside h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: #303048;
	margin: 20px auto;
}

.roadside .highlight {
	font-weight: bold;
	color: #303048;
}

.roadside .joinForm h3,
.roadside .applicationForm h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #3A89C9;
}

.roadside legend {
	border: 0;
}

.roadside .applicationForm .inner p {
	margin-bottom: 20px;
}

.roadside .membershipSelection .pseudoLabel {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: #3A89C9;	
}

.roadside .membershipSelection .ultimate,
.roadside .membershipSelection .advantage {
	margin: 0;
}

.roadside .membershipSelection .advantage {
	padding-left: 0;
}

.roadside .membershipSelection .ultimate {
	padding-right: 0;
}

.roadside .membershipSelection .ultimate input,
.roadside .membershipSelection .advantage input {
	display: none;
}

.roadside .membershipSelection .membershipOption {
	background-color: #B2B2B2;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	/*padding-right: 25px;*/
	padding: 0px 15px;
	line-height: 35px;
	margin-top: 25px;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 400px) {
	.roadside .membershipSelection .membershipOption {
		/*font-size: 15px;*/
		/*padding: 0px 4px;*/
	}
}

.membershipOption div,
.membershipOption label {
	cursor: pointer;
	outline: 0;
	padding-left: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.roadside .membershipSelection .membershipOption.selected {
	background-color: #303048;
}

.roadside .membershipSelection .cost {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #3A89C9;
}

.roadside .joiningFeeNote {
	padding-top: 20px;
	clear: both;
}

.roadside .compareText {
	font-weight: bold;
	color: #303048;
}

.roadside .compare-button {
	margin-bottom: 20px;
	font-size: 17px;
	min-width: 270px;
	/*max-width: 500px;*/
	position: relative;
	display: block;
	/*width: 70%;*/
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-decoration: none;
	background-color: #3A89C9;
	line-height: 35px;
	padding-left: 15px;
}

.roadside .compare-button:hover,
.roadside .compare-button:focus,
.roadside .joinForm .actions .actionLink:hover,
.roadside .joinForm .actions .actionLink:focus {
	background-color: #303048;
	color: #ffffff;
}

.roadside .actions .actionLink:hover,
.roadside .actions .actionLink:focus {
	background-color: #303048;
	color: #ffffff;
}

.roadside .compare-button .glyphicon,
.roadside .next .glyphicon {
	position: absolute;
	right: 10px;
	line-height: 32px;
	font-size: 16px;
}

.roadside .prev .glyphicon {
	position: absolute;
	left: 10px;
	line-height: 32px;
	font-size: 16px;
}

.roadside .joinForm .commenceDate .wwlbl {
	display: inline-block;
	min-width: 33%;
    margin-right: 15px;
}

.roadside .joinForm .commenceDate .wwctrl {
	display: inline-block;
	font-weight: bold;
}

.roadside .joinForm .commenceDate .label {
	padding-left: 0;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: #3A89C9;
}

.roadside .joinForm .notes {
	padding-top: 20px;
	padding-bottom: 20px;
}

.roadside .joinForm .actions .actionLink {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	width: 100%;
	position: relative;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-decoration: none;
	background-color: #3A89C9;
	line-height: 35px;
	padding-left: 15px;
	padding-right: 32px;
}

.roadside .actions .actionLink {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	width: 100%;
	position: relative;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-decoration: none;
	background-color: #3A89C9;
	line-height: 35px;
	padding-left: 15px;
}

.roadside .actions .actionLink.next {
	text-align: left;
	padding-left: 15px;
	padding-right: 25px;
}

.roadside .actions .actionLink.prev {
	text-align: right;
	padding-left: 25px;
	padding-right: 15px;
}

.roadside .progressGraph {
	width: 100%;
	height: 30px;
	position: relative;
	border: 1px solid #B2B2B2;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6eef4', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e6eef4), to(#ffffff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e6eef4,  #ffffff); /* for firefox 3.6+ */
}

.roadside .progressGraph .indicator {
	background-color: #3A89C9;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.roadside .headingPrintContainer {
	margin-top: 20px;
}

.roadside .joinForm .terms {
	margin-top: 15px;
}

.roadside .joinForm .bgContainer {
	margin-top: -15px;
	margin-bottom: 15px;
}

.roadside .joinForm .bgContainer .payable {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: #3A89C9;
	margin-right: 4%;
}

.roadside .joinForm .bgContainer .premiumAmount {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #3A89C9;
}

.roadside .joinForm .infobox .checkbox .wwctrl,
.roadside .joinForm .infobox .checkbox .wwlbl {
	margin: 0;
	display: inline-block;
}

#wwctrl_JoinConfirm_terms {
	width: 25px;
}

.roadside .membershipSummary {

}

.roadside .membershipSummary .summary-title1,
.roadside .membershipSummary .summary-title2 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: #3A89C9;
	margin-bottom: 10px;
}

.roadside .membershipSummary .summary-title2 {
	margin-top: 20px;
}

.roadside .joinForm .infobox .checkbox {
	margin-bottom: 30px;
}

.roadside .membershipConfirm {
	width: 100%;
}

.roadside .membershipConfirm th {
	width: 30%;
	min-width: 140px;
	font-weight: normal;
	padding: 7px 0;
	vertical-align: top;
}

.roadside .membershipConfirm td {
	width: 70%;
	padding: 3px 0;
	vertical-align: top;
}

.roadside .membershipConfirm td .highlight {
	color: #303048;
}

.roadside .membershipConfirm td .confirm-numbers td {
	width: 40%;
}

.roadside .membershipConfirm td .confirm-numbers td.highlight {
	width: 70%;
}

.roadside .formPersonal label.label,
.roadside .formPersonalNumber label,
.roadside .formCardDetails label {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #000000;
	position: relative;
	padding: 0;
}

.roadside .joinForm {
	position: relative;
	width: 100% !important;
}

.roadside fieldset .errorMessage {
	float: right;
	color: red;
	font-weight: 400;
	padding-right: 5px;
	list-style-type: none;
}

.roadside .wwerr .errorMessage {
	float: left;
    color: red;
    font-weight: 400;
    padding-right: 0px;
    padding-left: 0;
    padding-top: 15px;
    list-style-type: none;
}

#wwerr_JoinConfirm_terms .errorMessage {
	float: none;
}

.roadside legend {
	position: absolute;
}

.roadside fieldset,
.roadside #paymentDetails {
	width: 100% !important;
	overflow: hidden;
	margin: 0;
	padding: 0;
	max-width: 600px;
}

.roadside .nav-font-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #3a89c9;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 13px;
}

.roadside fieldset.landing {
	max-width: 100%;
}

.roadside fieldset .sub-title {
	width: 100%;
}

.roadside fieldset .sub-title h5 {
	clear: both;
	padding-top: 15px;
}

.roadside .formPersonalNumber {
	width: 100%;
	padding-bottom: 10px;
}

.roadside .formPersonal,
.roadside .formPersonal .wwgrp,
.roadside .formCardDetails .wwgrp,
.roadside .formCardDetailsNumbers .wwgrp,
.roadside .formCardDetailsExpiry .wwgrp {
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

.roadside .formPersonal .wwlbl,
.roadside .formCardDetails .wwlbl,
.roadside .formCardDetailsNumbers .wwlbl,
.roadside .formCardDetailsExpiry .wwlbl {
	float: left;
	width: 50%;
}

.roadside .formPersonal .wwctrl,
.roadside .formCardDetails .wwctrl,
.roadside .formCardDetailsNumbers .wwctrl,
.roadside .formCardDetailsExpiry .wwctrl {
	float: left;
	width: 50%;
}

.roadside .formPersonal .wwctrl select,
.roadside .formPersonal .wwctrl input,
.roadside .formCardDetails .wwctrl select,
.roadside .formCardDetails .wwctrl input {
	border: 1px solid #b2b2b2;
	padding: 4px;
	width: 100%;
	margin-bottom: 10px;
}

.roadside .formCardDetailsNumbers .wwctrl input {
	border: 1px solid #b2b2b2;
	padding: 4px;
	width: 50px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 2%;
}

.roadside .formCardDetailsExpiry .wwctrl input {
	border: 1px solid #b2b2b2;
	padding: 4px;
	width: 43px;
	display: inline-block;
	margin-bottom: 10px;
}

.roadside .joinForm fieldset .postal-address {
	position: relative;
	margin: 0;
	padding: 0;
}

.roadside .joinForm fieldset .postal-address .wwgrp .wwlbl {
	position: relative;
	margin-bottom: 15px;
	padding-left: 40px;
}

.roadside .joinForm fieldset .postal-address label.label {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #000000;
	position: relative;
	padding: 0;
	white-space: normal;
}

.checkbox input[type="checkbox"] {
	margin-left: 0;
}

.roadside #loadSuburb, #loadStreet {
	display: none;
}

.claro .dijitTextBoxError .dijitValidationContainer {
	height: 31px;
	margin-top: -3px;
}

.dijitTextBox .dijitInputInner {
	padding: 3px;
}

.dijitTextBoxFocused,
.dijitTextBoxFocused {
	border: 1px solid #b2b2b2;
}

.dijitTextBox {
	width: 100%;
	padding: 3px 0 3px 3px;
	height: 32px;
	margin-bottom: 10px;
	border: 1px solid #b2b2b2;
}

.claro .dijitComboBox .dijitButtonNode {
	margin-top: -3px;
	width: 20px;
	height: 28px;
}

.dijitInlineTable {
	box-sizing: inherit;
}

.roadside .thankyou {
	margin-top: 15px;
	margin-bottom: 15px;
}

.roadside .first-thankyou {
	margin-top: 20px;
	font-weight: bold;
	color: #303048;
}

.roadside .cta.help h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: #303048;
	margin: 20px auto;	
}

.postal-address input {
	position: absolute;
	top: 5px;
	left: 0px;
	float: left;
	margin: 0;
	padding: 0;
}

.roadside .formPersonal.formNumbers .wwctrl input.areaCode {
	width: 15%;
	min-width: 30px;
	display: inline-block;
	float: left;
}

.roadside .formPersonal.formNumbers .wwctrl input.shortPhone {
	width: 75%;
	float: right;
	display: inline-block;
	margin-left: 1%;
}

.footer {
	margin-top: 20px;
	background-color: #303048;
	width: 100%;
}

.footer .footer-inner {
	padding: 10px 15px 5px;
	background-color: #303048;
	color: #ffffff;
}

.roadside .footer-inner .lock {
	background: url('../secure_images/lock3.png') left 9px no-repeat;
	padding-left: 25px;
	display: inline-block;
	color: #ffffff;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	float: left;
}

.roadside .footer-inner p {
	font-size: 14px;
	float: right;
	text-align: right;
	display: inline-block;
	line-height: 40px;
	font-weight: 400;
}

.roadside .footer-inner p a {
	color: #ffffff;
	text-decoration: none;
}

.roadside .footer-inner p a:hover,
.roadside .footer-inner p a:focus {
	color: #97c0e2;
	text-decoration: none;
}


	.roadside .formCardDetailsNumbers .wwlbl label {
		font-weight: 300;
	}
	.roadside .formCardDetailsExpiry .wwlbl label {
		font-weight: 300;
	}


/*
	Basic Styles for recaptcha 
	@author - Sam Duke
*/

.roadside .actions {
  margin-top: 20px;
}

.roadside .actions #nextStep {
 transition: background-color 0.3s; 
}

.roadside .actions #nextStep.disabled {
  background-color: #B2B2B2;
cursor: pointer;
  transition: background-color 0.3s; 
}

/* 
	end of recaptcha styles
*/

.roadside .pseudoLabel {
	padding-left: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #3A89C9;
}

.roadside .membershipSelection {
	margin-bottom: 50px;
	margin-top: 10px;
}


.rp-box {
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.rp-box.rp-box--ultimate .rp-box__header,
.rp-box.rp-box--ultimate .rp-box__footer {
  background: #cf571a;
}

.rp-box.rp-box--advantage .rp-box__header,
.rp-box.rp-box--advantage .rp-box__footer {
  background: #e07903;
}


.rp-box__footer, .rp-box__header {
  min-height: 20px;
}

.rp-box__footer {
  box-shadow: inset 0px 12px 9px -10px rgb(0,0,0);
}

.rp-box__title {
  margin: 0;
  text-align:center;
  padding: 13px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.rp-box__cost {
  background: #fff;
  border: 3px solid #000;
  margin: 0 -20px;
  padding: 10px 20px;
}

.rp-box--ultimate .rp-box__cost { 
  border-color: #cf571a; 
}

.rp-box--advantage .rp-box__cost { 
  border-color: #e07903; 
}

.rp-box__cost label {
  margin-bottom: 0;
}


.rp-box__cost-message  {
  padding: 10px 0 5px 0;
  font-weight: 100;
  font-size: 0.9em;
}

.rp-box__payment-frequency {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
}




.rp-box__check {
  position: relative;
  display: inline;
  padding-left: 20px;
  cursor: pointer;
  padding-right: 10px;
  padding-botom: 10px;
}

.rp-box__check-field {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.rp-box__check-description {
	cursor: pointer;
}

.rp-box__check-field:checked ~ .rp-box__check-indicator {
  color: #fff;
  background-color: #3A89C9;
}

.rp-box__check-field:focus ~ .rp-box__checkl-indicator {
  -webkit-box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #3A89C9;
          box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #3A89C9;
}

.rp-box__check-field:active ~ .rp-box__check-indicator {
  color: #fff;
  background-color: #3A89C9;
}

.rp-box__check-field:disabled ~ .rp-box__check-indicator {
  cursor: not-allowed;
  background-color: #eee;
}

.rp-box__check-field:disabled ~ .rp-box__check-description {
  color: #767676;
  cursor: not-allowed;
}

.rp-box__check-indicator {
  position: absolute;
  top: .0625rem;
  left: 0;
  display: block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 50% 50%;
          background-size: 50% 50%;
}

.rp-box__check .rp-box__check-indicator {
  border-radius: 0.25rem;
}

.rp-box__check .rp-box__check-field:checked ~ .rp-box__check-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.rp-box__check .rp-box__check-field:indeterminate ~ .rp-box__check-indicator {
  background-color: #0074d9;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}


.roadside .joinForm .commenceDate .wwlbl {
	width: auto;
	display: inline;
}



/* Personal Form */
.roadside fieldset {
  max-width: inherit;
}

.roadside .formPersonal {
  _clear: none;
}



.roadside .formPersonal .wwctrl,
.roadside .formPersonal .wwlbl, 
.roadside .formPersonal .wwerr {
  float: none;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.roadside .formPersonal .wwgrp,
.roadside .formPersonal .wwerr {
  margin-left: -15px;
  margin-right: -15px;
  width: initial;
}

.roadside .formPersonal .wwctrl:after {
  content: " ";
  display: block;
  clear: both;
}

.roadside .formPersonal .wwerr .errorMessage {
 	float: left;
   width: 100%;
   position: relative;
  padding-left: 15px;
  padding-right: 15px;
 } 

@media (min-width: 768px) {
  .roadside .formPersonal .wwlbl, .roadside .formPersonal .wwctrl {
    float: left;
    width: 33.3333%;
  }
  
  .roadside .formPersonal .wwerr .errorMessage {
  	float: left;
    width: 33.3333%;
    margin-left: 33.3333%;
  } 
}






.highlight {
	padding-bottom: 10px;
	display: block;
}


.highlight .wwctrl select {
  width: 100%;
}

@media (min-width: 768px) {
	.highlight .wwctrl select {
	  width: 250px;
	}
}











@media screen and (max-width: 400px) {
	.roadside .membershipConfirm .highlight {
		word-wrap: normal;
	}
	.roadside .infobox > .checkbox {
		padding-left: 0px;
	}
	.roadside .actions .actionLink {
		padding-right: 23px;
		padding-left: 5px;
		font-size: 16px;
	}
	.roadside .joinForm .actions .actionLink {
		padding-right: 23px;
		padding-left: 5px;
	}
	.roadside .actions .actionLink.next {
		padding-left: 5px;
		padding-right: 22px;
	}
	.roadside .actions .actionLink.prev {
		padding-left: 22px;
		padding-right: 5px;
	}
	.roadside .compare-button {
		padding-left: 5px;
	}
	.roadside .compare-button .glyphicon, .roadside .next .glyphicon {
		right: 4px;
	}
	.roadside .prev .glyphicon {
		left: 4px;
	}
	.roadside .formCardDetailsNumbers .wwlbl,
	.roadside .formCardDetailsNumbers .wwlbl label {
		width: 31%;
		font-weight: 300;
	}
	.roadside .formCardDetailsNumbers .wwctrl {
		width: 69%;
	}
	.roadside .formCardDetailsNumbers .wwctrl input {
		padding: 4px 3px;
		margin-right: 1%;
		width: 48px;
	}
	.roadside .formCardDetailsExpiry .wwlbl label {
		font-weight: 300;
	}
	.roadside .formPersonal label.label, .roadside .formPersonalNumber label, .roadside .formCardDetails label {
		white-space: normal;
	}
    .roadside .footer-inner .lock {
		font-size: 12px;
    }
    .roadside .footer-inner p {
    	font-size: 12px;
    }
}