/* ---------------------------------------------------------------------- SECURE - */
body { font-family: "Segoe UI",Tahoma,Verdana,sans-serif; font-size: 14px; color: #58595B; margin-bottom: 10px; }
a { color: #134B8E; }
a:hover { text-decoration: underline; }

h3 { color: #134B8E; border-bottom: 1px solid #91CDF2; padding: 0 0 5px 0; font-size: 18px; }
h5 { color: #134B8E; font-size: 1.1em; } 

#pageNavigation { width: 170px; float: left; font-size: 18px; margin-right: 15px; }
#pageNavigation img { margin: 0 0 0 4px; }
ul.sideNav { list-style: none; margin: 5px 0 10px 10px; padding: 0; }
ul.sideNav li.first { border-top: 1px dotted #134B8E; } 
ul.sideNav li { border-bottom: 1px dotted #134B8E; padding: 10px 0; background: url("../secure_images/RACT_arrow.gif") right center no-repeat; }
ul.sideNav li a { display: block; text-decoration: none; }
ul.sideNav li a:hover { text-decoration: underline; }
ul.sideNav li.selected a { color: #003759; } 

fieldset { border: 0; padding: 0; margin: 0; color: #6A5E49 }

.m { display: none; }   
    
.container { width: 775px; }
#pageBody { float: left; width: 545px; }

a.actionLink, .standardContent a.actionLink {
    background: url("../secure_images/icon_arrow_right_blue.gif") no-repeat left center;
    color: #004990;
    padding: 0 0 0 10px;
    text-decoration: none;
}

a.actionLink:hover, .standardContent a.actionLink:hover {
  color: #ED1C2E;
  background: url("../secure_images/icon_arrow_right_red.gif") no-repeat left center;
}

.progressGraph .indicator {
    background: url("../secure_images/bg_progress_ind.gif") no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 40px;
}

#pageHeader .siteLogin { display: block; }

.secureOnly { display: block; }

.footnote {
  padding-top: 15px;
  font-weight: bold;
  clear: both;
}
.footnote p {
  /*border-top: 1px solid #E2E2E2;
  padding-top: 10px;*/
}

legend { display: none; }
#siteFooter .email { display: none; }

.sys-msg { font-weight: bold; color: #134B8E; }
.sys-msg.msg-error,
.sys-msg.msg-reset { color: red; }

#InsuranceContainer .sys-msg { display: none }
.addTipping .sys-msg { width: 350px; }

.userDetails h3 {
    /*margin-bottom: 0;*/
}
#InsuranceContainer .standardContent h3 {
  margin-bottom: 0;
  font-size: 2em;
  color: #fff;
}
#InsuranceContainer #sidePanels { display: none; }

.secureForm h3 {
    /*font-size: 1.8em;*/
}

.userDetails dl,
.userDetails dt,
.userDetails dd {
    list-style: none;
    margin: 0;
    padding: 0;
}
.userDetails dl {
    overflow: hidden;
    margin-bottom: 1em;
}
.userDetails dl.addressHolder {
  width: 250px;
  float: left;
  height: 4.5em;
}
.userDetails dt {
    float: left;
    font-weight: bold;
    width: 110px;
    clear: left;
}
.userDetails dd {
    float: left;
    width: 210px;
}


.userDetails dt.sex {
    clear: none;
    width: 30px;
}
.userDetails dd.sex {
    width: 100px;
}
.userDetails dd.postalAddress,
.userDetails dd.address {
    width: 120px;
    padding-right: 10px;
}
.userDetails dt.postalAddress {
    clear: none;
}

/*body .userDetails a.actionLink,
body .userDetails a.actionLink:hover {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: .6em 0;
    display: block;
    background-position: 0 1.2em;
    clear: left;
}*/

* html .userDetails a.actionLink,
* html .standardContent.userDetails a.actionLink:hover {  height: 1%; }
/*
.standardContent.userDetails a.updateInfo.actionLink { 
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    padding-top: 12px;
    padding-bottom: 1em; 
    display: block;
    background-position: 0 1.2em;
    margin: .6em 0;
}
.userDetails a.actionLink.changeEmail,
.standardContent.userDetails a.actionLink.changeEmail:hover{
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    background-position: 0 0;
}
*/
.standardContent .subscriptions {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    overflow: hidden;
}
.standardContent .subscriptions li {
    float: left;
    border-top: 1px solid #E2E2E2;
    padding: 8px 0 4px 0;
    background: none;
    margin: 0;
    width: 100%;
}
.standardContent .subscriptions li.first {
    border-top: 0;
}
.subscriptions h4 {
    float: left;
    height: 15px;
    width: 300px;
}
.subscriptions h4#enewsSubscription {
    background: url("../secure_images/title_secure_enewsSubscription.gif") no-repeat 0 0;
}
.subscriptions h4#sportsTippingAccount {
    background: url("../secure_images/title_sportsTipping.gif") no-repeat 0 0;
}
.subscriptions span {
    float: right;
    height: 15px;
    width: 100px;
    overflow: hidden;
    text-indent: 400px;
    white-space: nowrap;
    display: none;
}
.subscriptions span.active {
    background: url("../secure_images/icon_active.gif") no-repeat 0 0;
}
.subscriptions span.inactive {
    background: url("../secure_images/icon_inactive.gif") no-repeat 0 0;
}
.subscriptions .active span.active,
.subscriptions .inactive span.inactive { display: block; }



#siteSearch input.submit:hover {
    background-position: 0 -20px;
    cursor: pointer;
}

.secureForm form {
    /*font-size: .9em;
    background: #F6FBFD;*/
}
.secureForm .wwlbl {
    width: 160px;
    float: left;
}
#wwlbl_UserCreate_updateDetails {
  float: none;
}

.secureForm .wwctrl {
    /*margin-left: 160px;*/
}
.secureForm small {
  display: block;
  margin: -4px 0 4px 150px;
}
.secureForm .wwctrl input {
    color: #58595B;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    width: 220px;
}
.secureForm .wwctrl input.invalid { background: #FDE3E5; border: 1px solid red; }

.secureForm .wwctrl.cardNumber {
  margin-right: -10px;
  margin-left: 160px;
}
.secureForm .wwctrl.cardNumber input {
  width: 71px;
  margin-right: 10px;
}
#MembershipContainer .wwctrl.cardNumber input {
  width: 54px;
  margin-right: 10px;
}
.joinForm .wwctrl.expiryDate input,
.secureForm .wwctrl.expiryDate input {
  width: 20px;
}
.secureForm .wwctrl input.radio {
    border: 0;
}
.secureForm .wwctrl select {
    color: #58595B;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    width: 232px;
}
.secureForm .wwgrp {
    padding-bottom: 4px;
}
.secureForm br { display: none; }

.secureForm .actions {
    margin-top: 10px;
}
.secureForm .actions div { float: right; width: 111px; }
.joinForm input.btn,
.secureForm .actions input {
    display: block;
    border: 0;
    float: right;
    margin: 0;
    padding: 4px 35px 4px 5px;
    overflow: hidden;
    /*width: 101px;*/
    height: 30px;
    color: #fff;
    text-align: left;
    /*text-indent: -999px;
    font-size: 0px;
    line-height: 0px;*/
    background: url("../secure_images/RACT_submitV2.png") no-repeat right 50% #134B8E;
}
.secureForm .actions input.cancel {
    background: url("../secure_images/btn_cancel.gif") no-repeat 0 0;
}
.secureForm .actions input:hover {
    cursor: pointer;
}
.secureForm .actions div { float: right; width: 120px; }
#UserContainer .secureForm .actions div { width: 77px; }

/*.secureForm .actions input:hover { background-position: 0 -20px; }*/
.secureForm .wwerr {
    margin-left: 160px;
    color: #ED1C2D;
}
.secureForm .phoneHolders .wwerr { margin-left: 0; }
.siteLogin .wwerr { display: none; }

.secureForm .wwerr ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.secureForm .wwerr ul li {
    background: none;
    padding: 0;
    margin: 0;
}

.joinForm fieldset {
    /*border-bottom: 1px solid #E2E2E2;
    padding-bottom: 6px;*/
}
.joinForm h3 {
    margin-top: 1em;
}

.joinForm #verificationContainer {
  background: #F6FBFE;
  padding: 10px 0 10px 10px;
  margin: 10px 0;
  border: 2px solid #004990;
}

.verifyHolder { 
  clear: both;
  margin: 0 0 5px 0;
}

.secureForm .wwctrl input.radioOption { width: 20px; float: left; }
.radioOptionHolder label { display: none; }
.secureForm .wwctrl .radioOptionHolder input { border: 0; background: none; }

.phoneHolders .wwctrl input#mobilePhone,
.phoneHolders .wwctrl input#homePhoneAreaCode,
.phoneHolders .wwctrl input#homePhone,
.phoneHolders .wwctrl input#dob {
  background: #eee; color: #999;
}

.phoneHolders.enable_mobilePhone .wwctrl #mobilePhone,
.phoneHolders.enable_homePhone .wwctrl #homePhoneAreaCode,
.phoneHolders.enable_homePhone .wwctrl #homePhone,
.phoneHolders.enable_dob .wwctrl #dob {
  background: #fff; color: #000;
}

.joinForm #postalContainer,
.joinForm #cardNumberContainer,
.joinForm #tippingContainer { display: none; clear: left }

.checkbox {
/*    overflow: hidden;*/
    padding-bottom: 8px;
}

#UserTippingCreate .checkbox { clear: left; margin-top: 10px; }

.checkbox .wwctrl {
    float: left;
    margin: 0;
    padding-left: 0;
}
.checkbox .wwctrl input {
    width: 20px;
    border: 0;
}
.checkbox .wwlbl {
    width: 440px;
    padding-top: 3px;
}
/*.secureForm .joinForm .actions input {
    background-image: url("../secure_images/btn_submit_alt.gif");
}*/

.secureForm .checkbox small {
    margin: 0;
    clear: left;
}

.activateAcn {
    overflow: hidden;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #E2E2E2;
}
.activateAcn em {
    display: block;
    margin-bottom: 1em;
}
.activateAcn input.submit {
    display: block;
    border: 0;
    float: right;
    margin: 6px 0 0 10px;
    padding: 0;
    overflow: hidden;
    width: 57px;
    height: 20px;
    text-indent: 57px;
    background: url("../secure_images/btn_submit_s2.gif") no-repeat 0 0;
}
#manageSubscriptions {
    background-image: url("../secure_images/headings/manageSubscriptions.gif");
    width: 140px;
    height: 15px;
}
.manageSubscriptions {
    overflow: hidden;
}
.manageSubscriptions .wwgrp { height: 2em; }
.manageSubscriptions .subscriptionInputs input {
    float: left;
    width: 20px;
}
.subscriptionInputs label {
    float: left;
    padding-right: 20px;
    padding-top: 2px;
}
.manageSubscriptions .subscriptionInputs .wwlbl {
    width: 180px;
}


.secureForm .manageSubscriptions .actions { border: 0; }

/*.secureForm .wwctrl .postcode,*/
.secureForm .phoneHolders .wwctrl .dob,
/*
.secureForm .wwctrl .gender,
.secureForm .wwctrl .preferredContact,
.secureForm .wwctrl .title,*/
.secureForm .wwctrl .phone,
.secureForm .wwctrl .number {
    width: 113px;
}
.secureForm .wwctrl .areaCode { width: 20px; }
.secureForm .wwctrl .shortPhone { width: 75px; }

.secureForm .joinForm .actions {
    padding-top: 0;
    height: 3em;
}

table.paymentSummary,
table.riskSummary { width: 100%; }
table.paymentSummary tr { background: #F6FBFE; }
table.paymentSummary tr.head { background: #fff; }
table.paymentSummary tr.odd { background: #F9F9F9; }
table.paymentSummary th { text-align: left; padding: 4px; vertical-align: top; }
table.paymentSummary tr.riskRow td,
table.paymentSummary tr.head th { border-bottom: 1px solid #E2E2E2; }
table.paymentSummary td { border: 0; padding: 4px; }

table.paymentSummary table.riskSummary td { border: 0; }

/* Insurance */

#UserContainer a.actionLink.next,
#InsuranceContainer a.actionLink.next,
#MembershipContainer a.actionLink.next {
  float: right;
  color: #004990;
  background-position: 100% 50%;
  /*padding-right: 10px;*/
}

#MembershipContainer #prevStep { float: left; }
#UserContainer a.actionLink.next:hover,
#InsuranceContainer a.actionLink.next:hover,
#MembershipContainer a.actionLink.next:hover {
  color: #ED1B2D;
  cursor: pointer;
}
#UserContainer a.actionLink.prev,
#InsuranceContainer a.actionLink.prev {
  float: left;
  color: #004990;
  background: url("../secure_images/icon_arrow_left_blue.gif") no-repeat 0 50%;
}
#UserContainer a.actionLink.prev:hover,
#InsuranceContainer a.actionLink.prev:hover {
  color: #ED1B2D;
  background: url("../secure_images/icon_arrow_left_red.gif") no-repeat 0 50%;
  cursor: pointer;
}

#MembershipContainer a.actionLink { padding: 0; background: none; }
#MembershipContainer a.actionLink img { border: 0; } 
.applicationForm .joinForm .actions input {
    left: -2000px;
    position: absolute;
}
.applicationForm.payment .joinForm .actions input {
    visibility: visible;
    position: relative;
}

.secureForm .actions.userOptions {
    padding-right: 34px;
}
.secureForm .actions.userOptions input {
/*    background-image: url("../secure_images/btn_submit_alt.gif");*/
}

#insuranceQuote .wwctrl input.text,
#insuranceQuote .wwctrl select.text {
    width: 330px;
}

#insuranceQuote .wwctrl input#year { width: 68px }
#insuranceQuote .wwctrl input#postcode { width: 110px }
#insuranceQuote .wwctrl select#startDate { width: 120px; }
#insuranceQuote .wwctrl input.bsb { width: 30px; }
#insuranceQuote .wwctrl input.accountNo { width: 80px; }

.wwctrl input.radio,
#insuranceQuote .wwctrl input.check {
    width: 20px;
    float: left;
}
#memberSignup input.radio,
#tippingSignup input.radio {
  width: 20px;
  float: none;
}
#tippingSignup {
/*  padding: 30px 0;*/
  clear: left;
  position: relative;
}
#tippingSignupBg {
  position: absolute;
  left: -20px;
  top: 10px;
  z-index: -1;
}

/*form#UserAddTipping fieldset { padding-top: 20px; }*/

#insuranceQuote .radioLabel,
#insuranceQuote .wwlbl {
    float:left;
    font-weight: bold;
    width: 210px;
}



.radioMulti,
#insuranceQuote .wwctrl {
    margin-left: 0px;
    overflow: hidden;
    /*margin-right: 20px;*/
    /* height: 1%; */
}
 .radioMulti .wwctrl,
.radioMulti .wwgrp {
    margin-left: 0px;
    float: left;
}
#insuranceQuote .radioMulti label {
  font-weight: bold;
}

#insuranceQuote .radioMulti #wwctrl_coverType1 label,
#insuranceQuote .radioMulti #wwctrl_coverType2 label {
  width: 136px;
  height: 39px;
  text-indent: -1000px;
  overflow: hidden;
  display: block;
  float: left;
}

#insuranceQuote .radioMulti #wwctrl_coverType2 label {
  background: url("../secure_images/button_3rd_party.gif") no-repeat;
}
#insuranceQuote .radioMulti #wwctrl_coverType1 label {
  background: url("../secure_images/button_comp_insurance.gif") no-repeat;
}

.qHolder {
    float: left;
    padding-bottom: 1.5em;
    width: 100%;
    position: relative;
}
.qHolder.tight { padding-bottom: 1px; }
.qHolder.claro { 
  font-size: 1em;
  font-family: "Segoe UI",Tahoma,Verdana,sans-serif;
}

.qHolder.claro .dijitTextBox, .qHolder.claro .dijitTextBox .dijitButtonNode,
.qHolder.claro .dijitTextBoxHover, .qHolder.claro .dijitTextBoxHover .dijitButtonNode {
    /*border-color: #000000;*/
}
.qHolder.claro .dijitTextBox {
    width: 230px;
 }
 
.qHolder.claro .dijitTextBox .dijitInputField {
	padding: 4px 1px;
}
 
#insuranceQuote .card4 input {
    width: 50px;
    margin-right: 6px;
}
#insuranceQuote #wwctrl_dateOfBirth input,
#insuranceQuote #wwctrl_postcode input,
#insuranceQuote #wwctrl_year input,
#insuranceQuote #wwctrl_streetNumber input {
    /*width: 120px;*/
}
#insuranceQuote .actions {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 12px;
    clear: both;
    width: 100%;
    position: relative;
}
#insuranceQuote .actions input {
    position: absolute;
    left: -500%;
}
#insuranceQuote input,
#insuranceQuote select {
    font-size: 1em;
}
#insuranceQuote .terms {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 12px;
}
#insuranceQuote .terms .wwctrl {
    float: left;
    margin-left: 0;
    width: 40px;
    margin-right: 0;
}
#insuranceQuote .terms .wwlbl {
    padding-top: 3px;
    width: 400px;
}
.notes {
    float: right;
    font-style: italic;
    width: 385px;
    color: #666;
    font-size: 0.9em;
}
#insuranceQuote h5 {
    margin-right: 18px;
}

#actionMessages li { 
    background: none;
    color: #ED1B2D;
    font-weight: bold;
    padding: 0;
    font-size: 1.1em;
}
.standardContent.userDetails {
    position: relative;
    z-index: 10;
}

#insuranceQuote .checkBx .wwctrl {
    float: right;
    margin-right: 541px;
}
.actionLink.next {
    position: absolute;
    white-space: nowrap;
}
#InsuranceContainer .actionLink.next {
    right: 0;
}
#MembershipContainer .actionLink.next {
    right: 0;
    background: none;
}

.helpIntro { font-weight: bold; margin-bottom: 20px; }
.highlight { font-weight: bold; color: #004990; }
.highlight-active,
.highlight-current,
.highlight-current-paid,
.highlight-current-not-fully-paid { color: green; }
.highlight-lapsed,
.highlight-cancelled,
.highlight-cancelled-recently,
.highlight-cancelled-future,
.highlight-expired { color: red; }
.highlight-current-expires-soon,
.highlight-current-not-fully-paid,
.highlight-renewal { color: #EA5F00; }

#insuranceQuote .qHolder p { margin-left: 210px; font-size: 0.9em; }
.actionLink { cursor: pointer; margin: 0; border: 0; clear: left; }
#insuranceQuote #wwgrp_coverType2 { clear: right; /*width: 300px;*/ }
#insuranceQuote #ajaxMessage { clear: left; }
#insuranceQuote #ajaxMessage p,
#actionMessages {
  background: #e4f2f9;
  font-weight: bold;
  padding: 20px;
  margin: 20px 0;
  clear: left;
}
#quoteLanding #landingPageSwitch { height: 52px; }

#actionMessages.thankyou {
  background-image: url("../secure_images/icon_tick.gif");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  padding-left: 60px;
}
#insuranceQuote .thankyouNote {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e2e2e2;
}
#insuranceQuote .otherInsuranceNote {
  height: 121px;
  background: url("../secure_images/bg_otherInsurance.gif?v=1") no-repeat 50% 50%;
}
* html #insuranceQuote .otherInsuranceNote { margin-top: 1em; }
#InsuranceContainer .otherInsuranceNote span { display: none; }

#InsuranceContainer .otherInsuranceQuoteNote {
  height: 122px;
  background: url("../secure_images/bg_insuranceProductQuote.gif?v=1") no-repeat 50% 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}
* html #InsuranceContainer .otherInsuranceQuoteNote { margin-top: 1em; }
#InsuranceContainer .otherInsuranceQuoteNote span { display: none; }

#quoteNumber { position: absolute; top: 26px; right: 222px; color: #fff; }
#quoteNumber h5,
#InsuranceContainer h5#progressHeading { color: #fff; }
* html #quoteNumber { top: 24px; }

#insuranceQuote .qHolder.adjust-none { position: absolute; left: -10000px; top: 0; visibility: hidden; }
#insuranceQuote .qHolder.adjust-none .insuranceHelp { display: none; }

#InsuranceContainer #pageBody { background: url("../secure_images/bg_vehicle_quote.gif") no-repeat 0 0 }
#InsuranceContainer #pageBody.fullWidth .standardContent { background: none; padding-top: 30px; }
.progressGraph { 
    width: 395px;
    background-image: url("../secure_images/bg_progress_graph_short.gif");
    border: none;
    margin-bottom: 20px;
}
#InsuranceContainer .progressGraph {
    width: 555px;
    background-image: url("../secure_images/bg_progress_graph_insurance.gif");
    border: none;
    margin-bottom: 80px;
}
#InsuranceContainer .progressGraph .indicator {
  background: url("../secure_images/bg_progress_ind_insurance.gif") no-repeat;
  width: 555px;
  height: 30px;
}
#InsuranceContainer #quoteLanding .intro { width: 555px; height: 90px; color: #fff; }
#InsuranceContainer #quoteLanding .newContent,
#InsuranceContainer #quoteLanding .retrieveContent { clear: left; padding-top: 10px; display: none; }

#InsuranceContainer #quoteLanding.new .newContent,
#InsuranceContainer #quoteLanding.retrieve .retrieveContent { display: block; }
#InsuranceContainer #quoteLanding.new .retrieveContent,
#InsuranceContainer #quoteLanding.retrieve .newContent { display: none; }
#InsuranceContainer #quoteLanding ul { margin-left: 175px; }
#InsuranceContainer #quoteLanding li {
    float: left;
    background: none;
    padding: 0 20px 0 0;
}
#InsuranceContainer #quoteLanding li span { display: none; }
#InsuranceContainer #quoteLanding .newQuoteButton {
    background: url("../secure_images/button_start_new_quote.gif?v=1") no-repeat 0 0;
    width: 183px;
    height: 52px;
    display: block;
}
#InsuranceContainer #quoteLanding .retrieveQuoteButton {
    background: url("../secure_images/button_retrieve_saved_quote.gif?v=1") no-repeat 0 0;
    width: 183px;
    height: 52px;
    display: block;
}
#insuranceQuote .needAssistanceButton span { display: none }
#insuranceQuote .needAssistanceButton {
    background: url("../secure_images/button_needAssistance.gif?v=1") no-repeat 0 0;
    /*width: 575px;*/
    height: 46px;
    display: block;
}
#insuranceQuote .needAssistanceButton:hover { background-position: bottom left; }
#InsuranceContainer #quoteLanding.new .newQuoteButton,
#InsuranceContainer #quoteLanding .newQuoteButton:hover { background-position: bottom left; }
#InsuranceContainer #quoteLanding.retrieve .retrieveQuoteButton,
#InsuranceContainer #quoteLanding .retrieveQuoteButton:hover { background-position: bottom left; }

fieldset.bgContainer {
    background: no-repeat;
    height: 75px;
    padding: 14px 51px 0 20px;
    border-bottom: 0;
}
#InsuranceContainer fieldset.bgContainer {
  background-image: url("../secure_images/bg_vehicle_quote_form.gif?v=1");
  padding-right: 20px;
}

#UserContainer fieldset.bgContainer,
#MembershipContainer fieldset.bgContainer {
    /*background-image: url("../secure_images/bg_membership_join_form.gif");*/
}
#InsuranceContainer fieldset.captchaContainer {
    background: url("../secure_images/bg_vehicle_quote_form.gif?v=1") no-repeat;
    padding: 18px 15px 16px 20px;
    margin-bottom: 10px;
}
#InsuranceContainer fieldset .inner { padding-top: 10px; }
#InsuranceContainer fieldset.captchaContainer .inner { padding-top: 4px; }
#InsuranceContainer #qnLabel label { 
    font-size: 14px;
    font-weight: bold;
    color: #004990;
    padding-top: 5px;
    width: 120px;
    display: block;
    float: left;
}
#InsuranceContainer #qnLabel input { 
    background: url("../secure_images/bg_inputField.gif") repeat-x;
    border-top: none;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    border-bottom: 1px solid #d4d4d4;
    padding: 4px;
    font-weight: bold;
}

.required { color: #f00; }
img.helpExample { display: inline; }
/*
#InsuranceContainer input.startQuote,
#InsuranceContainer input.retrieveQuote,
input.payOnline,
input.finalisePayment,
input.finalisePolicy {
    display: block;
    border: 0;
    float: right;
    margin: 6px 0 0 0;
    padding: 0;
    overflow: hidden;
    width: 163px;
    height: 38px;
    text-indent: -999px;
    font-size: 0px;
    line-height: 0px;
    background: no-repeat 0 0;
    cursor: pointer;
}
#InsuranceContainer input.startQuote { background-image: url("../secure_images/button_start_quote.gif"); }
#InsuranceContainer input.retrieveQuote { background-image: url("../secure_images/button_retrieve_quote.gif"); }
input.payOnline { background-image: url("../secure_images/button_pay_online_now.gif"); }
input.finalisePayment { background-image: url("../secure_images/button_finalise_payment.gif"); }
input.finalisePolicy { background-image: url("../secure_images/button_finalise_policy.gif"); }
#InsuranceContainer .refreshCaptcha { 
  width: 37px;
  height: 32px;
  background: url("../secure_images/button_refresh.gif") no-repeat;
  float: right;
}*/
#InsuranceContainer .refreshCaptcha:hover {
  background-position: left bottom;
}
#InsuranceContainer .refreshCaptcha span { display: none; }
#InsuranceContainer .captchaImg { float: right; margin-right: 20px; }

#InsuranceContainer input.startQuote:hover,
#InsuranceContainer input.retrieveQuote:hover,
input.payOnline:hover,
input.finalisePayment:hover {
    /*background-position: 0 -38px;*/
    cursor: pointer;
}

#insuranceQuote .insuranceSummary,
.membershipSummary {
  background: #e4f2f9;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.premiumAmount { 
    font-size: 20px;
    font-weight: bold;
    color: #004990;
    padding: 0 10px;
}

#insuranceQuote .vehicleSummary {
    font-size: 1.3em;
    line-height: 1em;
    padding-bottom: 20px;
}
#insuranceQuote .amountCovered {
    padding-bottom: 20px;
}
.cardNotice {
  font-weight: bold;
  background: url("../secure_images/icon_cards.gif") no-repeat right top;
  padding: 0 100px 20px 0;
  min-height: 17px;
}
#insuranceQuote .insuranceSummary ul { 
    clear: left;
    margin: 0;
    padding: 20px 0 0 0;
    height: 1%;
}
#insuranceQuote .insuranceSummary #vehicleHeading {
  padding: 10px 0 0 0;
}

#insuranceQuote .insuranceSummary ul li {
  float: left;
  width: 360px;
  background: none;
  padding: 0;
  margin: 0;
}

.headingPrintContainer { position: relative; height: 24px; }
.insurancePrintPage {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../secure_images/btn_lb_printPage.gif) no-repeat;
  width: 77px;
  height: 20px;
}
.standardContent a.insurancePrintPage:hover { background: url(../secure_images/btn_lb_printPage.gif) no-repeat left bottom; }
.insurancePrintPage span { display: none; }

.membershipPrintPage {
  position: absolute;
  top: 0;
  right: 15px;
  background: url(../secure_images/btn_lb_printPage_lrg.gif) no-repeat;
  width: 92px;
  height: 22px;
}
.standardContent a.membershipPrintPage:hover { background: url(../secure_images/btn_lb_printPage_lrg.gif) no-repeat left bottom; }
.membershipPrintPage span { display: none; }

ul.panels li { background: none; }
ul.panels li .basicPanel { padding-top: 4px; }
ul.panels li.panelContainer.left { margin-right: 33px; }
#InsuranceContainer .basicPanel { border-top: none; }
.basicPanel.buildingInsurance {
  background: url(../secure_images/bg_panel_buildingInsurance.gif) no-repeat;
}
.basicPanel.boatInsurance {
  background: url(../secure_images/bg_panel_boatInsurance.gif) no-repeat;
}
.basicPanel.buildingInsurance .heading {
  background-image: url("../secure_images/panel_building.gif");
}
.basicPanel.boatInsurance .heading {
  background-image: url("../secure_images/panel_boat.gif");
}
.basicPanel .body p { width: 200px; /*font-size: 0.9em;*/ }
.cmsPanel .body p { width: auto; }

.insuranceBtns .getAQuote { display: none; }
.insuranceStep18 .insuranceBtns .getAQuote { display: block; }

#InsuranceContainer .roadsideJoinLink {
  position: relative;
  background: url("../secure_images/bg_roadside_join.jpg") 0 20px no-repeat;
  height: 129px;
  padding-top: 20px;
  border-top: 1px solid #e2e2e2;
}
#InsuranceContainer .roadsideJoinLink .btn {
  position: absolute;
  height: 50px;
  width: 153px;
  background: no-repeat;
}
#InsuranceContainer .roadsideJoinLink .btn span { display: none; }
#InsuranceContainer .roadsideJoinLink .btn:hover { background-position: bottom left; }
#InsuranceContainer .roadsideJoinLink .btn.compareRoadSide {
  background-image: url("../secure_images/btn_compare_roadside_options.gif");
  top: 73px;
  left: 128px;
}
#InsuranceContainer .roadsideJoinLink .btn.joinNow {
  background-image: url("../secure_images/btn_join_now.gif");
  top: 73px;
  left: 294px;
}

#InsuranceContainer .discount {
  background: url("../secure_images/bg_discount.gif") no-repeat 0 0;
}
#InsuranceContainer .discount .inner {
  padding: 40px 20px 20px 20px;
  width: 590px;
}
#InsuranceContainer .discount .discount-none,
#InsuranceContainer .discount .discount-pip {
  background: url("../secure_images/bg_discount_pip.gif") no-repeat right top;
  height: 202px;
}
#InsuranceContainer .discount .discount-ss {
  background: url("../secure_images/bg_discount_ss.gif") no-repeat right top;
  height: 202px;
}
#InsuranceContainer .discount .discount-pipss {
  background: url("../secure_images/bg_discount_pipss.gif") no-repeat right top;
  height: 202px;
}
#InsuranceContainer .discount h5 {
  font-size: 1.6em;
  margin: 0 0 12px 0;
}

/* Membership - Join Now */
/*#MembershipContainer .standardContent { background-image: url("../secure_images/bg_membership_join.gif"); }
#MembershipContainer.firstPage .standardContent { background-image: url("../secure_images/bg_membership_join_first.gif"); }
#MembershipContainer .standardContent .inner { width: 370px; margin-bottom: 3em; }*/
#MembershipContainer .standardContent fieldset .inner { width: 250px; }
#MembershipContainer .standardContent.userDetails h3 {
/*  margin-bottom: 0;*/
}

.membershipSelection { border: 0; width: 545px; margin: 0 0 5px 0; }
.membershipSelection .ultimate { color: #034F8D; background: #fafafa; font-weight: bold; border-bottom: 1px solid #fff; height: 1.5em; padding: 4px; }
.membershipSelection .advantage { color: #DF2228; background: #fafafa; font-weight: bold; clear: left; height: 1.5em; padding: 4px; }
.membershipSelection .pseudoLabel { width: 150px; font-weight: bold; color: #000; float: left; }
.membershipSelection .membershipOption { width: 200px; float: left; }
.membershipSelection .cost { text-align: right; width: 100px; float: left;  }
#wwerr_JoinMembership_product { display: none; }
#MembershipContainer .wwerr#membershipTypeError { margin-left: 0; }
.joiningFeeNote { 
  text-align: right;
  margin: 0 0 1em 0;
}

table.membershipConfirm { margin-bottom: 20px; }
table.membershipConfirm th { width: 124px; text-align: left; border: 0; padding: 4px 4px 4px 0; font-weight: normal; vertical-align: top; }
table.membershipConfirm td { border: 0; padding: 4px 4px 4px 0; }
table.membershipConfirm td table { padding: 0 }
table.membershipConfirm td table td { padding: 0 }

#UserContainer .secureForm .wwctrl,
#MembershipContainer .secureForm .wwctrl { margin-left: 0; }
#joinF_productUltimate,
#joinF_productAdvantage { margin: 0; }
#MembershipContainer #wwctrl_joinF_startDate select,
#MembershipContainer #wwctrl_endDate input {
    width: 90px;
}

#MembershipContainer .wwerr,
#UserContainer .wwerr { margin-left: 160px; }
#MembershipContainer .phoneHolders .wwerr,
#UserContainer .phoneHolders .wwerr { margin-left: 0; }
.phoneHolders .wwctrl { margin-bottom: 4px; }
* html #UserContainer .wwerr,
* html #MembershipContainer .wwerr { margin-left: 163px; }
#MembershipContainer #wwgrp_JoinConfirm_terms .wwerr { margin-left: 20px; }
#UserContainer .wwlbl,
#MembershipContainer .wwlbl {
    width: 160px;
    padding-top: 4px;
}

#UserContainer #verificationContainer .wwlbl,
#MembershipContainer #verificationContainer .wwlbl {
  width: 150px;
}

#UserContainer .checkbox .wwlbl,
#MembershipContainer .checkbox .wwlbl { width: auto; }

#MembershipContainer .wwctrl input.text,
#MembershipContainer .wwctrl select.text,
#UserContainer .wwctrl input.text,
#UserContainer .wwctrl select.text {
/*    width: 280px;*/
}

/*.secureForm .wwctrl .email,
#MembershipContainer #JoinPayment_cardType { width: 165px; }*/

#cardNumberContainer .notes { margin-bottom: 10px; }
#TippingContainer .notes,
#UserContainer .notes,
#MembershipContainer .notes { width: 385px; }
#UserCreate .phoneHolders .notes { width: 254px; }
.phoneHolders .notes { width: 355px; }

#UserContainer .phoneHolders .notes { width: 205px; }
#TippingContainer .phoneHolders .notes { width: 215px; }

* html #UserContainer .notes,
* html #MembershipContainer .notes { width: 342px; }
#TippingContainer .wwctrl .wwlbl,
#UserContainer .wwctrl .wwlbl,
#MembershipContainer .wwctrl .wwlbl,
#UserContainer  #verificationContainer .wwctrl .wwlbl,
#MembershipContainer #verificationContainer .wwctrl .wwlbl { width: 100px; }

.secureForm .wwctrl.phoneHolders { margin-left: 160px; }
.secureForm #verificationContainer .wwctrl.phoneHolders { margin-left: 150px; }
.secureForm h5 { clear: left; }

/*#MembershipContainer .sys-msg { display: none; }*/
#MembershipContainer .applicationForm .sys-msg { display: block; }

#MembershipContainer .roadsideAssistanceButton span { display: none }
#MembershipContainer .roadsideAssistanceButton {
    background: url("../secure_images/button_roadsideAssistance.gif") no-repeat 0 0;
    width: 506px;
    height: 49px;
    display: block;
}
#MembershipContainer .roadsideAssistanceButton:hover { background-position: bottom left; }
#MembershipContainer #paymentDetails .bgContainer { margin: 20px 0; }

.infobox { padding: 20px; background: #fafafa; margin: 0 0 20px 0; }
.infobox .checkbox { padding: 0; }
.infobox p { margin-bottom: 0.5em; }
.infobox a.actionLink,
.infobox a.actionLink:hover {
  display: block;
  background: url("../secure_images/icon_pdf_large.gif") no-repeat;
  padding: 7px 0 7px 40px;
  color: #333;
  font-weight: normal;
  text-decoration: underline;
}

.userInfoSummary { 
  margin: 0 0 1em 0;
}

.revealSummary dt label {
  display: block;
  margin: 0;
  background: url("../secure_images/bg_contact_title_off.gif") no-repeat 0 0;
  font-size: 1.2em;
  color: #004990;
  padding: 6px 10px;
  font-weight: bold;
  text-decoration: none;
}
.revealSummary dt label:hover {
  background: url("../secure_images/bg_contact_title_off_hover.gif") no-repeat 0 0;
  color: #004990;
}
.revealSummary dd {
  display: none;
  width: 490px;
  padding: 2px 0;
  float: left;
  clear: left;
  margin-left: 6px;
}
.revealSummary .on dd {
  display: block;
}
.revealSummary label {
  width: 490px;
}
.revealSummary label a {
  display: block;
  text-decoration: none;
}
/*.revealSummary .on label a {
  color: #ED1B2D;
}*/
.revealSummary label a:hover {
  background: none;
  color: #004990;
  text-decoration: underline;
}
/*.revealSummary .on label a:hover {
  color: #ED1B2D;
  text-decoration: underline;
}*/

.dividerLine {
  clear: both;
  /*border-top: 1px solid #EEE;*/
  margin: 10px 0;
  height: 1px;
  overflow: hidden;
}


/* ----------------------------------------- slider */

div.slider {
  width: 217px;
  margin: 0 0 10px 0;
  background: url('../secure_images/bg_slider.jpg') 5px 0 no-repeat;
  height: 98px;
  position: relative;
}
div.slider div.handle {
  width:17px;
  height: 31px;
  background: url('../secure_images/bg_knob.gif') 0 5px no-repeat;
  cursor: w-resize;
  position: absolute;
  top: 34px;
}
div#zoom_element {
  width: 50px;
  height: 50px;
  background: #2d86bd;
  position: relative;
}
div#sliderTotal {
  margin: 0 0 10px 8px;
  padding: 2px;
  width: 195px;
  color: #004990;
  font-size: 1.4em;
  font-weight: bold;
}

#InsuranceContainer #quoteLanding ul.errorMessage,
ul.errorMessage {
  margin: 0;
}
#InsuranceContainer #quoteLanding ul.errorMessage li,
ul.errorMessage li {
  float: none;
  padding: 0;
  display: block;
}
#InsuranceContainer #quoteLanding ul.errorMessage li span,
ul.errorMessage li span {
  display: inline;
  color: red;
}