<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : ResetPasswordForm
    Created on : 21/11/2008, 14:53:17
    Author     : gnewton
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags"
          xmlns:s="urn:jsptld:/struts-tags" version="2.0">

  <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>

  <h3>Forgotten Password</h3>

  <p>Enter your card number or email address to have a new password sent to your email address.</p>

  <s:form theme="css_xhtml" action="UserResetPassword" method="post" namespace="%{namespace}">
    <div class="joinForm">
      <site:progressBar progress="${0}" suppressHelpNote="true" />

      <fieldset>
        <legend><!-- --></legend>
        <div class="qHolder tight">
          <site:cardFields required="${false}" />
        </div>

        <div class="qHolder tight">Or</div>

        <div class="qHolder tight">
          <s:textfield name="email" label="Account Email Address" size="40" cssClass="email" />
        </div>

        <!-- <div class="qHolder tight">Or</div> -->

        <div class="qHolder tight">
          <div style="display: none">
            <s:textfield name="username" label="Footy Tipping Username" size="40" />
          </div>

          <s:url id="forgotUsernameUrl" action="UserForgotUsernameForm" namespace="%{namespace}" />
          <span class="notes"><s:a href="%{forgotUsernameUrl}">Forgotten your user details?</s:a></span>
        </div>

        <s:textfield name="gotcha" cssStyle="display: none;" />
      </fieldset>

      <div class="actions">
        <input type="submit" value="Submit" />
        <s:token />
      </div>
    </div>
  </s:form>

</jsp:root>