<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : Welcome
    Created on : 20/11/2008, 10:12:32
    Author     : gnewton
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags"
          xmlns:s="urn:jsptld:/struts-tags" version="2.0">

  <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>

  <h3 class="userWelcome">Welcome
    <s:if test="%{!#session['CUSTOMER_TOKEN']}">
      <s:property value="#session['USER_TOKEN'].userName" />
    </s:if>
    <s:else>
      <s:property value="#session['CUSTOMER_TOKEN'].displayName" />
    </s:else>    
  </h3>

  <s:if test="#session['USER_TOKEN'].passwordReset">
    <h4>Update Password</h4>
    <p>You are currently using a temporary password, click here to <s:a href="%{passwordUrl}">change your password</s:a>.</p>
  </s:if>

  <s:if test="%{#session['CUSTOMER_TOKEN']}">
    <p>Thanks for joining us online! More and more of our members are using our website to make life easier. Rather than phoning or visiting a branch, you can now update your member contact details such as your address, phone numbers and email address simply by selecting from the options to the left of this page.</p>
  </s:if>
  <s:else>
    <p>Thanks for joining us online for 2012 Footy Tipping – RACT style!</p>
    <p>All the great functions that you enjoyed last year are back to make 2012 a fantastic season for tipping.</p>
    <p>You can sign up for My League to tip against your friends, or Tip in Advance to save you missing out. If you need to change any contact details, simply follow the links to the left of this page.</p>
    <p><strong>Register as an RACT member, and you can take the Lion's share of our footy tipping prize pool. (Or the Hawk's, Bulldog's, Magpie's, etc).</strong></p>
    <p>RACT Members are now eligible to win double the prize money that non-members can win. Weekly prizes for both leagues are now <strong>$250</strong> ($125 for non-members) and the overall prizes for both AFL and TSL are <strong>$2000</strong> ($1000 for non-members). </p>
    <p>To claim a member prize, you must be registered in Footy Tipping as an RACT member.</p>
  </s:else>

  &lt;/div&gt; <!-- end secureForm -->
  &lt;/div&gt; <!-- end standardContent -->

  &lt;div class="standardContent"&gt;
  &lt;div&gt;

  <s:if test="tippingEnabled">
    <s:if test="%{#session['USER_TOKEN'].footyTipping and #session['CUSTOMER_TOKEN']}">
      <h3>Footy Tipping</h3>
      <p><strong>Don't forget, as an RACT member, you can take the Lion's share of our footy tipping prize pool. (Or the Hawk's, Bulldog's, Magpie's, etc).</strong></p>
      <p>As an RACT Member, you are eligible to win double the prize money that non-members can win. Weekly prizes for both leagues are <strong>$250</strong> ($125 for non-members) and the overall prizes for both AFL and TSL are <strong>$2000</strong> ($1000 for non-members).</p>
      <p><a href="${tippingRedirectUrl}" class="actionLink">Tip Now!</a></p>
    </s:if>
    <s:elseif test="%{#session['USER_TOKEN'].footyTipping and !#session['CUSTOMER_TOKEN']}">
      <p><s:a href="%{promoteUrl}" cssClass="actionLink">Create Member Account</s:a></p>
    </s:elseif>
    <s:elseif test="%{!#session['USER_TOKEN'].footyTipping and #session['CUSTOMER_TOKEN']}">
      <div class="secureForm">
      	<jsp:directive.include file="/WEB-INF/jspf/addTipping.jspf" />
      </div>
    </s:elseif>
  </s:if>

</jsp:root>