<%@taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<div id="pageNavigation">
  	  <img src="https://www.ract.com.au/-/media/project/ract-group/ract/external-links/ract-logo-200" alt="RACT" width="70" height="71" />

  <s:if test="%{!currentActionName.endsWith('ResetPassword')
                and !currentActionName.endsWith('Auth')
                and !currentActionName.endsWith('Login')
                and !currentActionName.endsWith('Logout')
                and !currentActionName.endsWith('Signup')}">
    <div id="sideNavigation">
  
      <s:property value="#application['showHeading_' + #application['shellKey']]" escape="false" />

      <ul class="sideNav">
        <s:if test="%{currentActionName.startsWith('User') and !currentActionName.endsWith('TippingCreate') and !currentActionName.endsWith('Signup')}">
          <s:if test="%{#session['USER_TOKEN']}">
            <li class="${fn:contains(currentActionName, 'UserWelcome') ? 'selected' : ''} first"><s:a href="%{welcomeUrl}">User Home</s:a></li>
            <li class="${fn:contains(currentActionName, 'UserViewAccountDetails') ? 'selected' : ''}"><s:a href="%{viewUrl}">View Account Details</s:a></li>
            <s:if test="%{#session['CUSTOMER_TOKEN']}">
              <s:if test="%{#session['MEMBER_TOKEN']}">
                <li class="${fn:contains(currentActionName, 'UserViewMemberSummaryForm') ? 'selected' : ''}">
                <s:a href="%{membershipSummaryUrl}">View Member Summary</s:a>
                <s:if test="%{currentActionName.indexOf('UserViewMemberSummaryForm') != -1}">
                <!-- 
                  <ul>
                    <li><s:a href="%{membershipSummaryUrl}#membership">My Membership</s:a></li>
                    <s:if test="policies != null and !policies.isEmpty()">
                      <li><s:a href="%{membershipSummaryUrl}#insurance">My Insurance</s:a></li>
                    </s:if>
                  </ul>
                -->
                </s:if>
                </li>
              </s:if>
              <li class="${fn:contains(currentActionName, 'UpdateCustomer') ? 'selected' : ''}"><s:a href="%{updateUrl}">Update Member Contact Details</s:a></li>
            </s:if>
            <li class="${fn:contains(currentActionName, 'UserChangePasswordForm') ? 'selected' : ''}"><s:a href="%{passwordUrl}">Change Account Password</s:a></li>

            <s:if test="%{#session['CUSTOMER_TOKEN']}">
              <li class="${fn:contains(currentActionName, 'UserChangeEmailForm') ? 'selected' : ''}"><s:a href="%{emailUrl}">Change Account Email</s:a></li>
              <s:if test="%{!#session['USER_TOKEN'].footyTipping and tippingEnabled}">
                <li class="${fn:contains(currentActionName, 'UserAddTippingForm') ? 'selected' : ''}"><s:a href="%{addTippingUrl}">Create Footy Tipping Account</s:a></li>
              </s:if>
            </s:if>
            <s:else>
              <s:if test="%{#session['USER_TOKEN'].footyTipping and tippingEnabled}">
                <li class="${fn:contains(currentActionName, 'UserChangeDetailsForm') ? 'selected' : ''}"><s:a href="%{tippingDetailsUrl}">Change Account Details</s:a></li>
                <li class="${fn:contains(currentActionName, 'UserPromoteTippingForm') ? 'selected' : ''}"><s:a href="%{promoteUrl}">Create Member Account</s:a></li>
              </s:if>
            </s:else>

            <s:if test="%{#session['USER_TOKEN'].footyTipping and tippingEnabled}">
              <li><a href="${tippingRedirectUrl}">Footy Tipping</a></li>
            </s:if>

            <li><s:a href="%{logoutUrl}">Logout</s:a></li>
          </s:if>
        </s:if>
        <s:if test="%{currentActionName.startsWith('Tipping') 
                      or currentActionName.endsWith('Signup')
                      or currentActionName.endsWith('Create')
                      or currentActionName.indexOf('Quote') != -1
                      or currentActionName.startsWith('Join')
              }">
          <s:property value="#application['sideNav_' + #application['shellKey']]" escape="false" />
        </s:if>
      </ul>
    </div>
  </s:if>

  <s:property value="#application['quickLinks_' + #application['shellKey']]" escape="false" />
</div>