<h3>Create Member Account</h3>

<s:form theme="css_xhtml" action="UserPromote" method="post" namespace="%{namespace}">
  <div class="secureForm">
    <site:progressBar progress="${0}" suppressHelpNote="true" />

    <fieldset>
      <legend><!-- --></legend>

      <jsp:directive.include file="/WEB-INF/jspf/membershipValidationFields.jspf" />
    </fieldset>

    <div class="dividerLine">&amp;nbsp;</div>

    <div class="actions userOptions">
      <s:token />
      <input type="submit" value="Submit" />
    </div>
  </div>
</s:form>