<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : JoinLifestyle
    Created on : 4.1.2016
    Author     : gzs
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags"
          xmlns:s="urn:jsptld:/struts-tags" version="2.0">

  <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>
 

  <s:form theme="css_xhtml" action="JoinLifestyle" method="post" namespace="%{namespace}">
    <s:token />

    <h3 class="red">Join Lifestyle</h3>
    <div class="applicationForm">

      <div class="inner">
      	<p>Our lifestyle product gives you membership for when you don’t have roadside, insurance or travel with us. It makes you a member with us, and part of our family.</p>
        <p>Once you join, you’ll get a membership card within three weeks. This will give you access to great member savings and benefits offered by our reward partners. Everyday.</p>
        <p>Taking out lifestyle gives you membership with us for 12 months. This means you’ll be able to save with our partners for a year and then we’ll send you an invitation to renew via email. If you’d like to continue saving, you can simply re-join.</p>
        <p>As a member you can save on products and services to maintain your car and on items for your home and garden. And that’s only naming a few things. Our discounts will delight the whole family all year round.</p>
        <p>Some great member rewards include:</p>
        <ul>
        	<li>Get 6c off per litre when filling up with <a target="_blank" rel="noopener noreferrer" href="https://www.ract.com.au/membership/member-rewards/united-fuel-discount">United Petrol</a></li>
        	<!--<li>Save up to 10% when buying <a target="_blank" rel="noopener noreferrer" href="https://www.ract.com.au/membership/member-rewards/ecards">eCards</a> online</li>-->
        	<li>Eat at <a target="_blank" rel="noopener noreferrer" href="https://www.burgergotsoul.com/">Burger Got Soul</a> and save 10% in any of their restaurants.</li>
        </ul>
        <p>Want to know more? See how you can save everyday with our <a target="_blank" href="https://www.ract.com.au/membership/member-rewards">member rewards</a> partners.</p>
      </div>

      <!--site:progressBar progress="${0}" suppressHelpNote="true" />
      
      <p class="sys-msg msg-${actionResult}"><s:property value="actionMessage" /></p>-->

      <div class="joinForm">

        <div id="membershipDetails">
          <fieldset class="landing">
            <div class="wwerr" id="membershipTypeError">
              <s:fielderror>
                <s:param>product</s:param>
              </s:fielderror>
            </div>

            <div class="membershipSelection row">
              <div class="ultimate col-xs-6 col-sm-4">
              	<div class="membershipOption selected">
              		<div id="wwgrp_JoinLifestyle_product" class="wwgrp">
						<div id="wwctrl_JoinLifestyle_product" class="wwctrl" data-children-count="1">
							<input type="radio" name="product" id="JoinLifestyle_productLifestyle" checked="checked" value="Lifestyle" class="radio"/>
							<label for="JoinLifestyle_productLifestyle" class="radio">Lifestyle</label>
							<div class="features">- Discounts across Tasmania <br/><a target="_blank" rel="noopener noreferrer" href="https://www.ract.com.au/membership/member-rewards">See the full range of benefits</a></div>
						</div>
					</div>
				</div>
<!--                 <div class="membershipOption selected">-->
<!--                 	<s:radio name="product" list="#{session['PRODUCT_LIFESTYLE']:'Lifestyle'}" value="%{#session['product'] == null ? session['PRODUCT_LIFESTYLE'] : #session['product']}" checked="checked" cssClass="radio"/>
                </div>-->
                <div class="cost">
                  <fmt:formatNumber type="currency" pattern="$0.00" value="${session['LIFESTYLE_PRICE']}" />
                  <s:if test="%{#session['ultimateTxn'].primeAddressWebMembershipTransaction.joinFee != 0}">*</s:if>
                </div>
              </div>
            </div>

            <p/>
            <p class="compareText">Need peace of mind on the road? Our roadside assistance might be better for you. We'll help you get back on the road 24/7 across Australia. <a target="_blank" rel="noopener noreferrer" href="https://www.ract.com.au/cars-and-driving/roadside-assistance">View our roadside products</a>.</p>

<!--             <div class="row">
              <div class="col-xs-12 col-sm-4">
            	<a href="${domainAddress}/Pages/Compare-options.aspx" target="_new" rel="external" class="compare-button">View RACT Roadside Products<span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
              <div class="hidden-xs col-sm-8"></div>
            </div>-->

            <div class="qHolder commenceDate">
              <!-- <s:select list="%{#session['commenceDates']}" name="startDate" label="Start Date" requiredLabel="true" cssClass="commenceDate" /> -->
              <!-- <site:readonlyField fieldLabel="" fieldValue="${commenceDates[0]}" />-->
              <div class="qHolder commenceDate">
              	<div class="wwgrp">
              		<div class="wwctrl">${commenceDates[0]}</div>
              	</div>
              </div>
            </div>

          </fieldset>
        </div>

        <s:textfield name="gotcha" cssStyle="display: none;" />
        
         <div class="actions row">
          <div class="col-xs-12 col-sm-8">
    		<div class='row'>
    		  <div class='col-sm-6'>
    			<div id="recaptcha_element"><!--  --></div>
    			
    			<s:if test="%{#session.RECAPTCHA_MESSAGE != null}">
    		  		<p><s:property value="#session.RECAPTCHA_MESSAGE"/></p>
    		  	</s:if>
    		  	
    			<script type="text/javascript">
    			  var verifyCallback = function(resp) {
    			    enableSubmission();
    			  };
    			  
    			  var expiredCallback = function() {
    			    disableSubmission();
    			  };
			    </script>
 				<div class="g-recaptcha" 
 				     data-sitekey="6Lex2igTAAAAAMKGZuN3-ndr-P4ArVS6fsfEjfNW" 
 				     data-callback="verifyCallback"
 				     data-expired-callback='expiredCallback'><!--  --></div>
    			<script src="https://www.google.com/recaptcha/api.js" >
    			/* */
    			</script>
    		  </div>
    		  <div class='col-sm-6'>
    		  
    		  	<script type="text/javascript">
    		  		var formSubmission = function(e) {
    		  		  var form = document.getElementById('JoinLifestyle');
    		  		  var button = document.getElementById('nextStep');
    		  		  button = jQuery(button);
    		  		  
    		  		  if(button.hasClass('disabled')) {
    		  		    return false;
    		  		  }

    		  		  form.submit();
    		  		  return false;
    		  		};
    		  		
    		  		var enableSubmission = function() {
    		  		  var button = document.getElementById('nextStep');
    		  		  button = jQuery(button);
    		  		  button.removeClass("disabled");
    		  		};
    		  		
    		  		var disableSubmission = function() {
    		  		  var button = document.getElementById('nextStep');
    		  		  button = jQuery(button);
    		  		  button.addClass("disabled");
    		  		};
    		  	</script>
    		  	
            	<s:a href="#" id="nextStep" onclick="formSubmission()" cssClass="actionLink next disabled">Next <span class="glyphicon glyphicon-chevron-right"><!-- --></span></s:a>
    		  </div>
    		</div>
          </div>
          <div class="hidden-xs col-sm-4"><!-- --></div>
        </div>
      
      </div>
    </div>
  </s:form>
</jsp:root>
