#wmtstart {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#wmtheader {
	background-image: url('logor.jpg');
	background-repeat: repeat-x;
	height: 71px;
	border-width: 0px;
	border-style: solid;
	position:relative;
}
#wmthb {
	border-width: 0px!important;
}
#wmthph {
	position:absolute!important;
	top: 25px;
    right: 3%;
	z-index: 10;
}
#wmtsearch {
	margin-top: -10px;
	padding-bottom: 3px;
}
#wmtcopyr {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	font-weight: normal;
}
#roadsideimg {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#roadsidebtn {
	font-size: 80%;
}
#wmtnav6 h1 {
	font-size: 80%;
	padding-top: 4px;
	margin:.6em 5% .8em!important;
}
.wmtgrid6 .ui-block-a {
	width: 15%!important;
}
.wmtgrid6 .ui-block-b {
	width: 75%!important;
}
.wmtgrid6 .ui-block-c {
	width: 15%!important;
}
.wmtgrid6 .ui-block-b .ui-btn-inner{
	font-size: 16px;
}
#wmtfp .ui-block-a {
	width: 40%!important;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#wmtfp .ui-block-b {
	width: 40%!important;
	padding-top: 5px;
	padding-bottom: 5px;
}
#wmtlist6 .ui-li-heading{
	margin-left: -30px!important;
}