/* ract insurance shell */
/* generic styles */

/* Icons */
/*@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../secure_styles/bootstrap-fonts/glyphicons-halflings-regular.eot');
  src: url('../secure_styles/bootstrap-fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../secure_styles/bootstrap-fonts/glyphicons-halflings-regular.woff') format('woff'), url('../secure_styles/bootstrap-fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../secure_styles/bootstrap-fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}*/

html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical !important; 
}


body {
  /*font-size: 0.875em;*/
  /*font-family: Arial;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  /*color: #666;*/
  background: #ffffff;
}

img {
  border: 0 none;
  display: block;
}

hr {
  margin: 30px 0 30px 0;
  height: 1px;
  background-color: #dbdbdb;
  border: 0 none;
  clear: both;
}


h1 {
  /*font-size: 3.571em; */
  font-size: 34px;
	/*line-height: 0.8em;*/
  font-weight: 700;
  margin: 0 0 16px 0;
  padding: 0;
	color: #3B98C2;
	/*font-family: 'Metro Office W01 Bold', Arial;*/
  font-family: 'Oswald', sans-serif;
  text-shadow: 0 0 1px rgba(255,0,0,0);
  /*letter-spacing: -2px;*/
}


h2 {
  /*font-size: 2.143em;*/
  font-size: 26px;
	line-height: 0.866em;
  font-weight: 700;
  margin: 0 0 38px 0;
  /*font-family: 'Metro Office W01 Bold', Arial;*/
  font-family: 'Oswald', sans-serif;
  padding: 0;
	color: #3a96c5;
  /*letter-spacing: -2px;*/
}

/* anti-aliasing hacks 

h2,
h1 {
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../secure_images/insurance/home/hIEfix.png,sizingMethod=crop);
  *zoom: 1;
} 

*/


.quote  {
  font-size: 1.714em;
	line-height: 1em;
  font-weight: normal;
  margin: 0 0 38px 0;
  padding: 0;
	color: #333;
}

h6,
h3 {
  /*font-size: 1.286em;*/
  font-size: 24px;
	/*line-height: 0.889em;*/
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  margin: 0 0 8px 0;
  padding: 0;
	/*color: #004990;*/
  color: #3B98C2;
}

h6 {
    margin-top: 18px;
}

h4 {
  color: #333;
  font-weight: bold;
  line-height: 0.889em;
  margin: 0 0 2px 0;
}

p {
  /*line-height: 1.143em;*/
  line-height: 1.6;
  text-align: left; 
  margin: 0 0 18px 0;
  padding: 0;
}

a,
a:link,
a:visited {
	color: #3A9CE4;
  text-decoration: none;
}

.print {
  display: none;
}

  a:hover,
  a:focus {
    /*color: #000;*/
    color: #2a6496;
    text-decoration: underline;
  }

object {
  display: block;
}

object:focus {
  outline: 0;
}

ol {
  margin: 0 17px 28px 0;
  padding: 0;
  list-style-type: decimal;
  display: block; 
  list-style-position: inside;
}

  ol li {
    padding: 0 0 4px 0;
    margin: 0;
  }
     
    ol h1, 
    ol h2, 
    ol h3,
    ol h4,
    ol h5,
    ol h6,
    ol p { display: inline; }

      ol ul {
        padding: 0 17px;
      }       
  
        ol li ul li {
          list-style-type: none;
          font-size: 1em;
        }
        

ul {
  margin: 0 17px 18px 0;
  padding: 0;
}

  ul li {
    list-style: none;
    background: url("../../../secure_images/insurance/home/bullet_ul.gif") transparent 11px 0.4em no-repeat;
    padding: 0 4px 4px 18px;
    margin: 0;
    border: none;
    clear: none;
  }
  .dijitPopup.dijitComboBoxMenuPopup ul li { background-image: none; }
    
    ul ol {
      padding: 0 20px;
    }

    ul li ol li {
      list-style-type: decimal;
      background: none;
    }

table {
  margin: 0 0 28px 0;
  padding: 0 10px 10px 10px;
  border: 0 none;
  border-collapse: collapse;
  width: 100%;
	background-color: #fcfcfc;
	border: 0 none;
}

    tr {
      margin: 0; 
      padding: 0;
			border: 0 none;
    }
      
			th {
        vertical-align: top;
        padding: 10px;
        font-weight: bold;
        font-size: 1.286em;
        margin: 0;
        color: #004990;
        text-align: left;
				border: 0 none;
				background: #f6f6f6;
      }

      td {
        vertical-align: top;
        margin: 0;
        padding: 8px 10px;
        border: 0 none;
      }
			
			.alt {
				background: #f6f6f6;
			}


blockquote {
  margin: 0 0 18px 0;
  padding: 20px;
  display: block;
	background: #e9f5fb;
}
 
  blockquote p {
  	padding: 0;
    margin: 0;
		display: block;
    color: #333;
		font-weight: bold;
    font-size: 1.286em;
    line-height: 1em;
  }
	

textarea,
input {
  /*font-family: Arial;*/
}

form {
  padding: 0;
  margin: 0 0 38px;
  display: block;
  position: relative;
  width: 544px;
}

  form legend {
    display: none;
  }

    form fieldset {
      border: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    form fieldset.break { margin-top: 20px; }
    
    form .toolTip {
      position: absolute;
      right: 10px;
      margin: 11px 0 0 0;
      cursor: pointer;
    }
    

    .toolTip.link {
      position: relative;
      left: 0;
      margin: 0;
    }

    #HomeChecklistForm #help {
      max-width: 300px;
    }
    
    form .paymentMonthly .toolTip {
      top: 3em;
    }

    /*form h3 + .toolTip {
      margin: 19px 0 0 0;
    }

    form p + .toolTip {
      margin: 29px 0 0 0;
    }*/

    .insuranceHelp {
      position: absolute;
      right: 10px;
      margin: 11px 0 0 0;
      cursor: pointer;
    }
    .insuranceHelp a { text-decoration: none;}
    .insuranceHelp span {
      left: 14px;
      position: absolute;
      top: 0;
      background: #D9EDFA;
      border: 1px solid #B1CFE0;
      padding: 5px;
      font-size: 0.9em;
      color: #000;
      width: 200px;
      display: none;
    }
    .insuranceHelp:hover span {
      display: block;
    }
      
      .infoItem > div,
      form .wide,
      form dl {
        margin: 0;
        padding: 10px 0;
        overflow: hidden;
        background: url('../../../secure_images/insurance/home/bg_form.gif') 0 0 repeat-y;
        border-top: 1px solid #fff;
      }
      form dl.claro {
        font-size: 1em;
        font-family: Arial;
        color: #666;
      }
      form .wide.upgrade {
        margin-bottom: 20px;
      }
      
      form .wide {
        padding: 10px;
        background: #ddeef7;
      }
      
      form .wide:hover {
        /*background: #fdfce5;*/
      }
      
      .bankCardField dd label {
        float: left;
      }
      
      .bankCardField dd label {
        float: left;
      }
      
      .bankCardField .bsb {
        width: 40px;
      }
      
      .bankCardField .bsbholder label {
         margin-left: 97px;
      }
      
      .bankCardField  .accountNo {
        width: 159px;
      }
      
      .bankCardField .wwctrl input {
        margin-left: 0;
      }
      
      .bankCardField .wwctrl #bcDash {
        margin: 8px 11px 0;
      }
      
      .bankCardField #bankcard2 + label {
        float: none;
      }
      
      .bankCardField .bsbholder {
        overflow: hidden;
        padding-bottom: 10px;
      }
      
      .infoItem > div:hover, 
      form dl:hover {
        background: url('../../../secure_images/insurance/home/bg_form_on.gif') 0 0 repeat-y;
      }

      form .premium:hover {  background: url('../../../secure_images/insurance/home/bg_form.gif') 0 0 repeat-y; }

      #quoteForm .premium:hover { background: none #DDEEF7; }

      .errorMessage,
      .errorMessage li {
        margin: 0;
        padding: 0;
      }

      form .wwerr,
      form ul.errorMessage,
      form#HomeNewQuote .errorMessage {
        border-top: 1px solid #fff;
        background: url('../../../secure_images/insurance/home/bg_formError.gif') 0 0 repeat-y;
        /*font-weight: bold;*/
        font-style: italic;
        padding: 10px 0 3px 211px;
        /*font-size: 0.857em;*/
        color: #cc0000;
        list-style: none;
      }
      
      #step17 .errorMessage,
      #quoteLanding .errorMessage,
      form#newQuoteForm .errorMessage,
      form#HomeDeclaration .errorMessage,
      form#HomeSurvey .errorMessage,
      form#HomeExit .errorMessage {
        background: #f6e5e5;
        padding: 10px 10px 3px;
      }
      
      form ul.errorMessage li { background: none; }

      form .wwerr + dl + .notes,
      form .errorMessage + dl,
      form .wwerr + dl {
        background: url('../../../secure_images/insurance/home/bg_formError.gif') 0 0 repeat-y;
        border-top: none;
        padding-top: 0;
      }

      form .errorMessage + .wide,
      form .errorMessage + .questionHolder,
      form .errorMessage + .newQuote {
        background: #f6e5e5;
        border-top: none;
        padding-top: 0;
      }
        
        .infoItem .wwlbl,
        form dl dt {
					padding: 0 10px;
					width: 180px;
					float: left;
        }
        
          .infoItem br {
            display: none;
          }
          
           
          form label,
          .label {
            font-weight: 300;
            line-height: inherit;
            border-radius: 0;
            text-align: left;
            white-space: inherit;
            color: #000000;
            font-size: 1em;
            font-weight: normal;
            cursor: pointer;
            padding: 0 10px 0 0;
            margin: 0;
						display: inline-block;
          }
					
						.required {
							color: #ed1b2d;
						}
            
            form label .required {
              padding-left: 5px;
            }
        
        .infoItem .wwctrl,     
        form dl dd {
          margin: 0;
          padding: 0 10px;
          width: 323px;
          float: right;
        }
          
          form input[type=radio],
					form input[type=checkbox] {
						vertical-align: baseline;
						margin: 0.7em 5px 0 0;
            width: 13px;
            height: 13px;
						padding: 0;
            float: left;
            clear: left;
					}
          
					form input[type=checkbox]:first-child {
            margin-top: 0.3em;
          }

          .imp input[type=checkbox]:first-child {
            margin-top: 0.7em;
          }

          form input[type=radio] {
            height: 13px;
            /*margin: 0.1em 5px 0.7em 0;*/
            margin: 5px 5px 12px 0;
            width: 20px;
          }
					
					form dd label {
						font-weight: normal;
						padding: 0;
						margin: 8px 15px 0 5px;
            color: #333;
            float: none;
            display: block;
					}
          
          form input[type=checkbox]:first-child + input + label { margin-top: 0; }
					
          form select,
          form input[type=text],
          form input[type=password],
          form textarea,
          .claro .dijitTextBox {
            border: 1px solid #666;
            color: #333;
            font-size: 1em;
            padding: 10px 5px;
            background: url("../../../secure_images/insurance/home/bg_input.gif") 0 0 repeat-x #fff;
            margin: 0 0 0 10px;
            width: 288px;
					  -moz-border-radius: 2px; /* FF1+ */
				    -webkit-border-radius: 2px; /* Saf3-4 */
				    border-radius: 2px; /* Opera 10.5, IE 9, Saf5, Chrome */
            float: left;
            display: block;
          }
          form .dijitTextBox input[type=text] { background: transparent; }

          .claro .dijitTextBox {
            margin: 0;
            padding: 8px 5px;
          }
          #content .claro .dijitTextBox .dijitValidationContainer { padding: 1px 0; }
          #content .claro .dijitValidationInner { border: 0; }
          
          .datePicker select {
            float: none;
          }
          
          .tel dl {
            background: none;
            border: none;
            padding-bottom: 0;
          }
          
          .tel dl:first-child {
            padding-top: 0
          }
          
            .tel dl dt {
              width: 50px;
            }
            
            .tel dl dd {
              width: 200px;
              padding: 0;
            }
          
              .tel dl input[type=text] {
                margin-left: 10px; 
                width: 90px;
              }
              
              .tel .mobile input[type=text] {
                width: 90px;
              }

              .tel dl select {
                margin-left: 0;
                width: 52px;
              }
              .tel dl input[type=text]:first-child {
                margin-left: 0; 
                width: 20px;
              }
              
              .tel .mobile input[type=text]:first-child {
                width: 40px;
              }
            
          form .creditCard input[type=text] { width: 50px; }
          form .number input[type=text],
          form .captcha input[type=text] { width: 90px; }

          form .captcha img { float: right; }
          form .captcha img.captchaImg {
            float: left;
            border: 1px solid #111;
            padding: 3px;
            background: #fff;
            opacity: 0.6;
            margin: 0 10px;
          }
          
          form select:first-child,
          form input[type=text]:first-child,
          form input[type=password]:first-child,
          form textarea:first-child { margin-left: 0; }
          
          /*form select { width: 300px; }*/
          
          .dayPicker,
          #expMonth {  width: 60px; }
          
          .monthPicker { width: 116px; }
          
          .yearPicker,
          #expYear{ width: 72px; }
          
          form .datePicker div {
            float: left;
            overflow: hidden;
            margin: 0 0 0 10px;
          }
          
          form .datePicker div:first-child {
            margin-left: 0;
          }
          
            form .datePicker dd label{
              font-size: 0.857em;
              font-style: italic;
              margin: 1px 0 0 0;
              color: #666;
            }
          
          form .question {
            overflow: hidden;
            background: url('../../../secure_images/insurance/home/bg_question.gif') 0 0 repeat-y;
            padding-top: 9px;
          }
          
          form .question:hover { 
            background: url('../../../secure_images/insurance/home/bg_question_on.gif') 0 0 repeat-y;
          }
          
            form .question dl {
              float: left;
              width: 490px;
            }
            
            form .questionHolder dl.question  {
              float: none;
              width: auto;
            }

            form .question dt { width: 467px; }
            
            form .question dd {
              float: right;
              width: 36px;
            }
            
          form textarea { width: 512px; }

          .actions .actionLink:hover,
          .actions .actionLink:focus {
            background-color: #303048;
            color: #ffffff;
          }

          .actionLink.next .glyphicon,
          .actionLink.emailQuote .glyphicon,
          .actionLink.finaliseQuote .glyphicon,
          .actionLink.finalisePolicy .glyphicon,
          .actionLink.purchasePolicy .glyphicon,
          .actionLink.start .glyphicon,
          .actionLink.retrieve .glyphicon {
            position: absolute;
            right: 10px;
            line-height: 32px;
            font-size: 16px;
          }

          .actionLink.prev .glyphicon {
            position: absolute;
            left: 10px;
            line-height: 33px;
            font-size: 17px;
          }

          .actions .customEmailQuote {
            line-height: 32px;
          }
				
          .actions .actionLink {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            width: 100%;
            position: relative;
            display: block;
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            text-decoration: none;
            background-color: #3A89C9;
            line-height: 35px;
            padding-left: 10px;
            padding-right: 22px;
            text-align: left;
            cursor: pointer;
          }

          .actions .actionLink.prev {
            text-align: right;
            padding-left: 22px;
            padding-right: 10px;
          }

          .actions .bs-btn1 {
            /*margin-left: 0;*/
            padding-left: 0;
          }

          .actions .bs-btn2 {
            /*margin-right: 0;*/
            padding-right: 0;
          }

/*          #nextStep,
          form input[type=submit] { background: url('../../../secure_images/insurance/home/btn_next.gif') 0 0 no-repeat; }
          #prevStep,
          form input[type=submit].prev { background: url('../../../secure_images/insurance/home/btn_prev.gif') 0 0 no-repeat; }*/
          form input[type=submit].start {
            /*background: url('../../../secure_images/insurance/home/btn_startQuote.gif') 0 0 no-repeat;*/
            background-color: #c0c0c0;
            width: 178px;
          }
          form input[type=submit].retrieve {
            background: url('../../../secure_images/insurance/home/btn_retrieveQuote.gif') 0 0 no-repeat;
            width: 178px;
          }
          form input[type=submit].resume {
            background: url('../../../secure_images/insurance/home/btn_resumeQuote.gif') 0 0 no-repeat;
            width: 178px;
          }
          form input[type=submit].emailQuote {
            background: url('../../../secure_images/insurance/home/btn_emailQuote.gif') 0 0 no-repeat;
            width: 178px;
          }
          form input[type=submit].finaliseQuote {
            background: url('../../../secure_images/insurance/home/btn_finaliseQuote.png') 0 0 no-repeat;
            width: 178px;
            float: right;
          }
          form input[type=submit].purchasePolicy {
            background: url('../../../secure_images/insurance/home/btn_purchasePolicy.png') 0 0 no-repeat;
            width: 178px;
            float: right;
          }
          input[type=submit].finalisePolicy {
            background: url('../../../secure_images/insurance/home/btn_finalisePolicy.gif') 0 0 no-repeat;
            width: 178px;
            float: right;
          }
          form input[type=submit].submitSurvey {
            background: url('../../../secure_images/insurance/home/btn_submitSurvey.gif') 0 0 no-repeat;
            width: 178px;
          }
          form input[type=submit].setupReminder {
            background: url('../../../secure_images/insurance/home/btn_setupReminder.gif') 0 0 no-repeat;
            width: 178px;
          }
          form input[type=submit].closeSystem {
            background: url('../../../secure_images/insurance/home/btn_closeSystem2.gif') 0 0 no-repeat;
            width: 178px;
          }
          #HomeChecklistForm form input[type=submit].start,
          form .actions.ready input[type=submit].start { float: right; }
          
/*          form #nextStep,
          form .actions #submitNext.next {
            float: right;
          }*/
/*          #nextStep,
          #prevStep,
	form input[type=submit],          
  form input[type=reset] {
    height: 55px;
		width: 98px;
    float: left;
    border: 0 none;
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -999px;
    font-size: 0px;
    line-height: 0px;
    cursor: pointer;
  }*/
        
/*        #nextStep:hover,
          #prevStep:hover,
	form input[type=reset]:hover,
  form input[type=submit]:hover {
    background-position: 0 -55px;
  }*/


#hhee {
  font-size: 50px;
  background-color: #c0c0c0;
padding:10px;
}
/* template */
/** {
  box-sizing: content-box;
  box-sizing: initial;
}*/

/*.actions * {
  box-sizing: border-box;
}*/

html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background: url('../../../secure_images/insurance/home/bg_shell.gif') 100% 0 repeat-y;
  min-width: 986px;
}

#wrapper {
  background: url('../../../secure_images/insurance/home/bg_shell.gif') 100% 0 repeat-y;
  min-width: 986px;
  position: relative;
}

  #container {
    padding: 0 238px 0 0;
    width: 748px;
    margin: 0 auto;
    overflow: hidden;
  }

    #aside {
      float: left;
      width: 204px;
    }
    
      #aside .step {
        background: #fff;
        width: 184px;
        padding-top: 15px;
      }
    
    #window {
      float: right;
      width: 544px;
      overflow: hidden;
      position: relative;
    }
    
      #content {
        width: 544px;
        overflow: hidden;
      }
    
        #content .step {
          padding: 38px 0 0 0;
          float: left;
          overflow: hidden;
        }
    
  #bside {
    position: absolute;
    width: 218px;
    overflow: hidden;
    top: 0;
    right: 0;
    background: #e5e5e5;
  }
  

/* btn */


.btn {
  position: relative;
  overflow: hidden;
  display: block;
  width: 178px;
  height: 45px;
  padding: 0;
}

.btn.action {
  height: 55px;
}

.btn.refreshCaptcha {
  height: 35px;
  width: 38px;
}
.btn.finaliseQuote,
.btn.purchasePolicy {
  height: 55px;
}

.btn:hover {
  background: transparent none;
  border: 0 solid;
}

  .btn img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn:hover img {
    top: -100%;
  }
 
  
/* benefits/focus */


.focus {
  display: block;
  padding: 3px 50px 3px 0;
  margin: 0 0 20px 40px;
  background: url('../../../secure_images/insurance/home/icon_look.gif') 100% 0 no-repeat;
  font-size: 0.857em;
  min-height: 28px
}

.benefits {
  font-size: 0.857em;
  margin: 0 20px 20px 0;
  color: #000000;
}

  .benefits li {
    padding: 0 0 4px 0;
    margin: 0;
    overflow: hidden;
    background: none;
  }
  
    .benefits img {
      float: right;
      margin: 2px 0 0 4px;
    }

  .benefits li.benefit-buildingStormDamage,
  .benefits li.benefit-investorStormDamage,
  .benefits li.benefit-buildingMotorDamage,
  .benefits li.benefit-contentsMotorDamage,
  .benefits li.benefit-investorMotorDamage,
  .benefits li.benefit-investorContentsMotorDamage,
  .benefits li.benefit-investorCover30,
  .benefits li.benefit-investorCover50,
  .benefits li.benefit-unspecifiedPersonalEffects,
  .benefits li.benefit-buildingAccidentalDamage,
  .benefits li.benefit-contentsAccidentalDamage,
  .benefits li.benefit-workersCompensation {
    display: none;
  }

  .benefits.buildingStormDamage li.benefit-buildingStormDamage,
  .benefits.investorStormDamage li.benefit-investorStormDamage,
  .benefits.buildingMotorDamage li.benefit-buildingMotorDamage,
  .benefits.contentsMotorDamage li.benefit-contentsMotorDamage,
  .benefits.investorMotorDamage li.benefit-investorMotorDamage,
  .benefits.investorContentsMotorDamage li.benefit-investorContentsMotorDamage,
  .benefits.investorCover30 li.benefit-investorCover30,
  .benefits.investorCover50 li.benefit-investorCover50,
  .benefits.unspecifiedPersonalEffects li.benefit-unspecifiedPersonalEffects,
  .benefits.buildingAccidentalDamage li.benefit-buildingAccidentalDamage,
  .benefits.contentsAccidentalDamage li.benefit-contentsAccidentalDamage,
  .benefits.workersCompensation li.benefit-workersCompensation {
    display: block;
  }


/* func */


#bside .logo {
  border-bottom: 1px solid #fff;
}

#func {
  padding: 15px;
}

  #func h2 {
    font-size: 1.429em;
    color: #3b98c2;
    margin: 0 0 18px 0;
    font-weight: normal;
  }
  
  #func h3 {
    font-size: 1.429em;
    line-height: 1.2em;
    color: #666;
    font-weight: normal;
    margin: 0 0 8px;
  }
  
  #func > .btn {
    margin: 0 0 38px;
  }
  
  #func > .btn:last-child {
    margin-bottom: 0;
  }
  

/* nav */
  
  
  #nav {
    margin: 0 0 20px 0;
    padding: 0;
  }

    #nav li {
      border-top: 1px solid #b2b2b2;
      padding: 6px 0;
      background: none;
      /*font-size: 1.286em;*/
    }
    
    #nav li:first-child {
      padding-top: 0;
      border-top: none;
    }
    
      #nav a {
        display: block;
        overflow: hidden;
        color: #999;
        text-decoration: none;
        cursor: default;
        position: relative;
        padding: 0 18px 0 0;
      }
      #nav a.newOrSave { padding: 0; }

      #nav.homeNav a:hover,
      #nav .completed a:hover,
      #nav .selected a {
        color: #333;
        cursor: pointer;
      }

      #nav.disableCompleted .completed a:hover {
        cursor: default;
        color: #999;
      }
      
        #nav .finished,
        #nav .btn {
          display: none;
          width: 9px;
          height: 9px;
          position: absolute;
          right: 0;
          top: 0.4em;
          margin: 0;
        }
        
        #nav .selected .finished,
        #nav .completed .btn,
        #nav .selected .btn {
          display: block;
        }
        
          #nav .selected .btn img,
          #nav a:hover .btn img{
            top: -100%;
          }

          #nav.disableCompleted .completed a:hover .btn img {
            top: 0;
          }

          
/* cards */


.cards {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

  .cards li {
    margin: 0 0 0 5px;
    padding: 0;
    background: none;
    float: left;
  }
  
  .cards li:first-child {
    margin-left: 0;
  }
  
 
/* purchase */


.purchase {
  color: #333;
}
 
  .purchase dl {
    overflow: hidden;
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 0.786em;
  }

    .purchase dt {
      float: left;
      width: 104px;
      margin: 0;
      padding: 0;
    }
    
    .purchase dd {
      font-weight: bold;
      float: right;
      width: 68px;
      margin: 0;
      padding: 0;
    }
    
    
/* amounts */
    

  .amounts {
    overflow: hidden;
    margin: 15px 0 5px;
  }
    
    .amounts .year {
      float: left;
    }
    
    .amounts .month{
      float: right;
      width: 67px;
    }
    
    .amounts .or {
      text-align: center;
      display: block;
      margin: 0.15em 0 0 0;
    }
    
     .amounts .amount {
        margin: 0;
        font-weight: bold;
        color: #3b98c2;
        display: block;
        height: 35px;
      }

      .amounts .inc {
        margin: 0;
        font-size: 0.786em;
        font-weight: bold;
        display: block;
      }

      
/* options */


.options {
  margin: 0 0 14px 0;
}

  .options p {
    color: #3b98c2;
    font-size: 0.786em;
    font-style: italic;
    margin: 0 0 10px;
  }
  
  .options .cards {
    margin-left: 50px;
  }


/* cta (call to actions)*/


.cta {
  padding: 20px 30px 15px 30px;
  background: #f7f7f7 0 0 no-repeat;
  margin: 40px 0;
}

  .cta p:last-child {
    margin-bottom: 0;
  }

  .cta.feedback {
    /*background-image: url('../../../secure_images/insurance/home/bg_feedback.gif');*/
  }

  .cta.insurance {
    /*background-image: url('../../../secure_images/insurance/home/bg_insurance.gif');*/
    background-color: #F7F7F7;
  }

  .cta.help {
    /*background-image: url('../../../secure_images/insurance/home/bg_help.gif');*/
    background-color: #F7F7F7;
  }
  
  .cta.contents {
    /*background-image: url('../../../secure_images/insurance/home/bg_contents.gif');*/
    margin: 15px 0 0;
  }

  .cta.home {
    /*background-image: url('../../../secure_images/insurance/home/bg_home.gif');*/
    background-color: #F7F7F7;
    margin: 15px 0 0;
  }


/* saveNum */


.saveNum {
  background: #ddeef7;
  color: #333;
  display: block;
  font-size: 1.286em;
  padding: 20px;
  margin: 0 0 40px;
}

  .saveNum span {
    color: #3b98c2;
    font-size: 1.667em;
    vertical-align: middle;
  }


/* toolbar */


.toolbar {
  overflow: hidden;
  background: #f7f7f7;
  padding: 20px;
  margin: 0 0 20px 0;
}

  .toolbar li{
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
    color: #3b98c2;
  }
  
  .toolbar li:first-child {
    margin-right: 0;
  }
  
    .toolbar a {
      text-decoration: underline;
      font-weight: bold;
      color: #3b98c2;
      line-height: 1.5em;
    }
    
    #step10 a {
      float: right;
    }
    
    .toolbar a:hover {
      color: #333;
    }
    
      .toolbar img {
        float: left;
        margin-right: 5px;
      }
  

/* premium */


#step9 #sub11,
#step9 #sub4, 
.premium {
  background: #ddeef7;
  padding: 20px;
  overflow: hidden;
  /*font-size: 1.286em;*/
  font-size: 17px;
  margin: 0 0 20px;
}

/*#step9 #sub11,
#step9 #sub4 {
  margin-top: 20px;
}*/

  
  #step9 #sub11 .wwlbl,
  #step9 #sub4 .wwlbl,
  .premium dt {
    float: left;
    width: 165px;
    color: #333;
  }

  #quoteForm dt {
    width: 150px;
    padding: 0;
  }

  #step9 #compPremium,
  .premium .amounts {
    float: right;
    width: 286px;
    margin: 0;
    color: #333;
    font-size: 1em;
    padding: 0;
  }
    
    #step9 .premiumAmount {
      color: #3B98C2;
    }
    
    #step9 #sub11 br,
    #step9 #sub4 br {
      display: none;
    }
  
    #step9 .premiumAmount,
    .premium .amount{
      font-size: 1.667em;
      font-weight: normal;
    }
    
    .premium .or,
    .premium .inc{
      font-size: 1em;
      font-weight: normal;
    }

    .premium .or { width: auto; }
    
    .premium .month{
      width: 115px;
    }
    
    
/* quote */

    
.insuranceSummary,
.summary {
  border: 1px solid #ccc;
  background: url('../../../secure_images/insurance/home/bg_quote.jpg') 0 0 repeat-y;
  position: relative;
  padding: 20px;
  margin: 0 0 20px 0;
}

  .summary .icon {
    position: absolute;
    right: 0;
    top: -12px;
  }
  
  .summary h3 {
    font-size: 1.429em;
  }
  
  .summary table {
    margin: 0 0 20px;
    background: none;
    font-size: 0.857em;
    color: #333;
  }
  
  .summary .title,
  .summary .sums th,
  .summary .sums {
    font-weight: bold;
  }
  
  .summary table:last-child { margin-bottom: 0; }
  
    .summary tr th:first-child ,
    .summary tr td:first-child  {
      width: 210px;
    }
  
    .summary th {
      background: none;
      padding: 1px 5px 0 0;
      color: #333;
      font-weight: normal;
    }
  
    .summary td {
      padding: 1px 5px 0 0;
    }
    
    .summary .newGroup th,
    .summary .newGroup td {
      padding: 20px 5px 20px 0;
    }
  
    .summary .amt {
      color: #3b98c2;
    }
  
    .summary  td + td + td {
      width: 116px;
    }
  

/* purchaseAction */


.atn {
  font-size: 0.857em;
  font-style: italic;
  margin: 0 0 8px;
  color: #3b98c2;
  display: block;
}

  .purchaseAction span {
      color: #666;
      font-size: 1.429em;
  }

/*  actions */


.actions {
  margin: 20px 0;
  /*background: #fff;*/
  overflow: hidden;
}

.actions.ready {
  padding: 25px 20px;
  background: #f9f9f9;
}

  .ready span {
    font-size: 3.571em;
    color: #004990;
  }

/*  .ready span,
  .finalise span,
  .actions .btn:first-child,
  .actions input[type=submit]:first-child {
    float: left;
  }*/

  .ready span:first-child + .btn,
  .actions .btn:first-child + .btn,
  .actions .btn:first-child + input[type=submit],
  .actions input[type=submit]:first-child + .btn,
    .actions input[type=submit]:first-child  + input[type=submit]{
    float: right;
  }  

/*  .finalise span {
    font-size: 1.3em;
    padding: 17px 0 0 71px;
  }*/
  
/* misc */


.mandatory {
  display: inline;
}

.tnc {
  padding: 20px;
  /*background: #f7f7f7 url('../../../secure_images/scroll-arrow.png') top right repeat-y;*/
  background-color: #F7F7F7;
  /*height: 85px;*/
  /*overflow-y: auto;*/
  margin: 20px 0;
}

#quoteLanding .wide input[type="checkbox"] {
  margin-top: 5px;
}

#newQuoteForm .tnc p { margin: 0 0 1em 0; }

.premiumOptions { margin: 0 0 20px 0;}

.focusLink2,
.focusLink {
  padding: 0 0 0 18px;
  margin: 0 0 38px;
  display: block;
  color: #3b98c2;
  background: url('../../../secure_images/insurance/home/bullet_arrow.gif') 0 0.4em no-repeat;
  font-size: 20px;
  text-decoration: none;
  line-height: 22px;
}

.focusLink:hover {
  /*color: #333;*/
}

.title_policyholder {
  margin: 18px 0 8px;
}

#residentialAddressForm h3 {
  margin: 8px 0;
}



/* notice */


.notice {
  background: #e9f5fb;
  padding: 20px;
  font-size: 1.286em;
  margin: 0 0 20px 0;
}

  .notice p {
    color: #333;
  }

  .notice p:last-child {
    margin-bottom: 0;
  }
  
  
/* newQuote */


.newQuote {
  overflow: hidden;
  margin: 0 0 20px 0;
  font-size: 1.286em;
  padding: 25px 20px;
  background: #f7f7f7;
}

.newQuote:hover {
  background: #fdfce5;
}

  .newQuote label,
  .newQuote select , 
  .newQuote span {
    float: left;
    color: #333;
    line-height: 2.5em;
  }

  .newQuote select {
    width: 240px;
    margin: 0 15px 0 20px;
  }


/* help */


.dijitTooltipContainer,
#help {
  background: #D9EDFA;
  border: 1px solid #B1CFE0;
  padding: 5px;
  display: block;
  font-size: 0.9em;
  color: #000;
  max-width: 200px;
}


/* smoothForm */


.js #wrapper .smooth_inv {
  display: none;
}

.js #wrapper select.smooth_inv,
.js #wrapper input.smooth_inv,
.js #wrapper .smooth_vis {
  display: block;
}


/* icons */


#icons.show_inv .inv,
#icons.show_bldg .bldg,
#icons.show_cnts .cnts,
#icons.show_bldg_cnts .bldg_cnts { display: block; }

#vehicle #icons img { display: block; }

#icons {
  position: relative;
  width: 175px;
  height: 192px;
  overflow: hidden;
}

  #icons img {
    position: absolute;
    top: 30px;
    left: 30px;
    display: none;
    z-index: 1;
  }

  #icons .selected { z-index: 10; }
  #icons .next { z-index: 5; }


.note {
  color: #333;
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: 1.5em;
}

/* homeCalc */

#homeCalc .set {
  border-top: none;
  padding-top: 10px;
}

  #homeCalc .sizeSet input[type="radio"],
  #homeCalc .set input[type="radio"] {
    margin-top: 0.2em;
  }

  #homeCalc .sizeSet dd label,
  #homeCalc .set dd label {
    margin-top: 2px;
  }

  #homeCalc .sizeSet.first  input[type="radio"],
  #homeCalc .set.first input[type="radio"]{
     margin-top: 0.3em;
  }

  #homeCalc .sizeSet.first dd label,
  #homeCalc .set.first dd label{
     margin-top: 3px;
  }

  #homeCalc #meterSquared_wwerr.wwerr + dl {
    border-top: none;
  }

  #homeCalc #single_wwerr ~ .set,
  #homeCalc #meterSquared_wwerr ~ .sizeSet {
    background: url("../../../secure_images/insurance/home/bg_formError.gif") repeat-y scroll 0 0 transparent;
  }

  #homeCalc .sizeSet + .smooth_vis,
  #homeCalc .set + .smooth_vis {
    border-bottom: 1px solid #fff;
  }


  #homeCalc #singleRooms_wwerr,
  #homeCalc #doubleRooms_wwerr,
  #homeCalc #single_wwerr,
  #homeCalc #sizeSquares_wwerr,
  #homeCalc  #sizeMeterSquared_wwerr,
  #homeCalc .doubleRooms.smooth_vis {
    border-bottom: none;
  }

  #homeCalc .sizeSet.first,
  #homeCalc .set.first {
    padding-bottom: 0px;
    border-top: 1px solid #fff;
    border-bottom: none;
  }

  #homeCalc #single_wwerr + .set.first,
  #homeCalc .sizeSet {
    border-top: none;
  }

#homeCalc .action {
  float: right;
}

  #homeCalc input[type="reset"] {
    background-image: url('../../../secure_images/insurance/home/btn_clearCalculator.gif');
    width: 178px;
  }

#homeCalc #totalAmount {
  background: #f7f7f7;
  padding: 30px;
  margin: 0 0 20px;
}

  #homeCalc #total {
    color: #004990;
    text-align: center;
    display: block;
    font-size: 2.2em;
  }

#homeCalc .disclaimer {
  font-size: 0.857em;
}

form table.specifiedContents { padding: 0; }
form .specifiedContents th { font-size: 1em; }
form .specifiedContents select { width: 170px; }
form .specifiedContents input  { width: 180px; }
form .specifiedContents .value input { width: 50px; text-align: right; }

#HomeSumInsured_buildingSumInsured,
#HomeSumInsured_contentsSumInsured,
#HomeSumInsured_investorSumInsured { text-align: right; }


/* form fixes */

#impNo + label {
  margin-top: 0;
}


/* specifiedContents */


.specifiedContents {
  margin-top: 1px;
}

.btn_add {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.specifiedContents tr td:first-child {
  width: 170px;
}

.specifiedContents tr th:first-child {
  width: 170px;
}


/* new Feature imgs */


#checklistFeature {
  margin-left: -130px;
}

.largerFeature {
  margin-left: -12px;
}


/* icons */

.ractIcon {
  margin-top: 30px;
  margin-left: 30px;
}


/* checklistLink */


#checklistLink {
  /*background: url('../../../secure_images/insurance/home/bg_checklist.gif') 100% 100% no-repeat #f7f7f7;*/
  /*padding: 20px 180px 20px 20px;*/
  padding: 20px 100px 20px 20px;
  background-color: #f7f7f7;
}

#checklistLink h2 {
  color: #3a96c5;
  margin: 0 0 4px 0;
}

#checklistLink span {
  display: block;
  margin: 0 0 13px 0;
  color: #000000;
  font-size: 1.5em;
}


#checklistLink a {
  display: block;
  margin: 0;
  line-height: 1em;
}

#title_benefits {
  margin: 20px 0 20px 0;
  color: #3b98c2;
}

#wwgrp_HomePaymentOptions_paymentOption dd label em,
#paymentOptions label em {
  display: block;
  font-size: 0.9em;
}
#paymentOptions label em {
  margin-left: 20px;
}

#wwgrp_HomePaymentOptions_paymentOption dd label {
  margin: 8px 17px 0 24px;
}

#wwgrp_HomePaymentOptions_paymentOption dd input[type="radio"],
#paymentOptions input[type="radio"] {
  margin: 0.6em 5px 0.7em 0;
}

#wwgrp_HomePaymentOptions_paymentOption dd input[type="radio"]:first-child,
#paymentOptions input[type="radio"]:first-child {
  margin: 0.2em 5px 0.7em 0;
}

#newQuoteForm p {
  margin-bottom: 0;
}


.show_saved .newContent,
.retrieveContent {
    display: none;
}

.show_saved .retrieveContent {
    display: block;
}

.eventLink {
    display: none;
}

.notes {
    background: url('../../../secure_images/insurance/home/bg_form.gif') 0 0 repeat-y;
    font-style: italic;
    margin: -8px 0 0 0;
    padding: 0 0 10px 212px;
    font-size: 0.857em;
    color: #666666;
    display: block;
}

.hover,
.notes:hover,
dl:hover + .notes {
    background: url('../../../secure_images/insurance/home/bg_form_on.gif') 0 0 repeat-y;
}

#quoteForm dt {
    padding: 0 8px;
    /*width: 180px;*/
}

#quoteForm .question dt {
    width: 467px;
}

form label {
    padding: 0 5px 0 0;
}

.qHolder a {
    display: block;
    margin: 8px 0;
}

#regoMsg { padding: 2px 0; clear: left; font-weight: bold; }
.qHolder #regoMsg a { margin: 0; font-weight: normal; }

#step15 #q24 .wwctrl,
#yearCommencedDriving_1,
.highlight { 
  color: #3b98c2; 
}

#ajaxMessage p {
    background: #E9F5FB;
    color: #333333;
    line-height: 1em;
    display: block;
    margin: 0 0 18px;
    padding: 20px;
    font-size: 1.1em;
}
   
#bg_zoom_slider {
  background: url('../../../secure_images/insurance/bg_slider.jpg') 0 0 no-repeat;
  width: 527px;
  padding: 0 9px;
  height: 81px;
}

#zoom_slider {
  width: 527px;
  height: 81px;
}

#zoom_slider .handle {
  background: url('../../../secure_images/insurance/bg_handle.png') 0 0 no-repeat;
  width: 27px;
  height: 29px;
  cursor: e-resize;
  position: relative;
  top: 25px;
  left: 250px;
}


#sliderTotal {
  color: #3b98c2;
  font-weight: bold;
  font-size: 2.14em;
}

#wwgrp_sliderTotal {
  margin-bottom: 20px;
}

#step10 .summary #quoteForm dt {
  width: 153px;
  padding: 0;
}

#step10 .summary dl dd { width: 259px; }

#step10 .amount { color: #3B98C2; }

.cardNotice {
    background: url("../../../secure_images/insurance/icon_cards.gif") no-repeat scroll right top transparent;
    font-weight: bold;
    min-height: 17px;
    padding: 0 100px 23px 0;
}

#step10 #quoteForm dt {
  width: 153px;
  padding: 0;
}

/*#step10 dl dd { width: 160px;padding-left:0; }*/

#step13 #sub14_1,
#accidentD5_1, 
#step13 #sub11_1,
#step9 #sub2,
#step9 #sub7 {
  margin-bottom: 20px;
}

#bankingTerms .wide {
	height: 3em;
}

#bankingTerms .wide label {
	margin-left: 10px;
	position: absolute;
}


#step9 #sub11,
#step9 #sub4 {
  min-height: 52px;
}

#step15 #q24 .wwlbl {
  font-weight: bold;
}

#step16 #q25 {
  /*display: none;*/
}

.discount {
  margin-top: 18px;
}

#content .step {
 width: 544px; 
}

#loadingOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: none;
}

#loadingOverlay  > div {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border: 1px solid #666;
  -webkit-border-radius: 10px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
     -moz-border-radius: 10px; /* FF1-3.6 */
          border-radius: 10px; 
  background: url('../../../secure_images/loading.gif') 50% 50% no-repeat #E5E5E5;
}

#vehicle #step7 #q13sub2 {
  margin: 0 0 20px 0;
}


#benefit-stolen,
#benefit-key,
#benefit-emergency,
.comp #benefit-uninsured,
#benefit-fireTheft,
#benefit-pip,
#benefit-ss,
#benefit-immobiliser,
#benefit-carHire,
#benefit-windscreen,
#benefit-web {
  display: none;
}

.comp #benefit-stolen,
.comp #benefit-key,
.comp #benefit-emergency,
.fireTheft #benefit-fireTheft,
.pip #benefit-pip,
.ss #benefit-ss,
.immobiliser #benefit-immobiliser,
.carHire #benefit-carHire,
.windscreen #benefit-windscreen,
.web #benefit-web {
  display: block;
}

.discount-msg,
.web #benefit-web { font-weight: bold; font-size: 1.1em; color: #ED1B2D; }

#step4 #actionResult + .toolTip {
  margin-top: 0;
}


.infobox { padding: 20px; background: #fafafa; margin: 0 0 20px 0; }
.infobox .checkbox { padding: 0; }
.infobox p { margin-bottom: 0.5em; }
.infobox a.actionLink,
.infobox a.actionLink:hover {
  display: block;
  background: url("../../../secure_images/icon_pdf_large.gif") no-repeat;
  padding: 7px 0 7px 40px;
  color: #333;
  font-weight: normal;
  text-decoration: underline;
}

.qasQuery { position: relative; }
.qasQuery .ldg { 
	width: 20px;
	position: absolute;
	right: 7px;
	top: 20px;	
}
.qasQuery .sch { 
	text-align: right;
	padding: 5px 4px 5px 0;
	cursor: pointer; 
	/*border: 1px dashed #ccc;*/
	margin: 10px 0 0 0;
	color: #004990;
  	text-decoration: underline;
}
.qasQuery .sch img { 
	display: inline; 
	vertical-align: middle; 
	padding: 0 5px; 
}
.qasQuery .sch img,
.qasQuery .ldg img { width: 20px; }

.addressHolder {
	clear: both;
	padding : 10px;
	/*overflow: hidden;*/
	/*height: 2em;*/
}
.addressHolder select {
	float: none;
	width: 100%;
}

.validAddress p {
	padding: 10px;
	border: 1px dashed #ccc;
	margin: 10px 0;
}
.validAddress span {
	float: right;
	height: 26px;
	overflow: hidden;
	margin: 5px 5px 0 0;
}

.tncBanking {
  padding: 20px;
  /*background: #f7f7f7 url('../../../secure_images/scroll-arrow.png') top right repeat-y;*/
  background-color: #F7F7F7;
  height: 100px;
  overflow-y: auto;
  margin: 20px 0;
}