
#quoteForm > .premium,
.secureForm > p,
.secureForm > h3,
.cardNotice,
#icons,
#func,
#content h1,
#content h2,
#content blockquote,
.toolbar,
.focus,
.atn,
#submitNext,
ul.purchaseAction { display: none; }

.print {
  display: block;
}

#bside {
  left: 760px;
}
#bside .logo {
  margin: 0 0 10px;
}

#content .step {
  padding-top: 0;
}