<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Document   : index
    Created on : 6/11/2008, 10:02:50
    Author     : gnewton
-->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:fn="http://java.sun.com/jsp/jstl/functions"
          xmlns:s="urn:jsptld:/struts-tags"
          xmlns:site="urn:jsptagdir:/WEB-INF/tags" version="2.0">

  <jsp:directive.page contentType="text/html" import="futuremedium.client.ract.secure.Config" pageEncoding="UTF-8"/>
  <jsp:output doctype-root-element="html" doctype-public="-//W3C//DTD XHTML 1.0 Strict//EN" doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" />

  <s:bean var="now" name="java.util.Date" />

  <s:set var="domainAddress" value="%{'http://www.ract.com.au'}" />

  <html id="vehicle" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <s:if test="!ajaxContext">
      <head>

        <title>Vehicle Insurance: RACT</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="secure_images/favicon.ico" type="image/x-icon" />
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300|Oswald:400,300,700" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="secure_scripts/jquery.min.js">/**/</script>
        <script type="text/javascript">
          jQuery.noConflict();
        </script>
        <script type="text/javascript" src="./secure_scripts/bootstrap.min.js">/**/</script>
        <link rel="stylesheet" type="text/css" href="./secure_styles/bootstrap.insurance.min.css" />

        <!-- scripts -->
        <script src="./secure_scripts/insurance/home/proto.1.7.aculous.1.9.min.js" type="text/javascript">/* */</script>
        <script src="./secure_scripts/insurance/home/ui.js?v=1.4" type="text/javascript">/* */</script>

        <script type="text/javascript" src="./secure_scripts/ajax.js">/**/</script>
        <script type="text/javascript" src="./secure_scripts/formHelper.js?v=1">/**/</script>
        <script type="text/javascript" src="./secure_scripts/insurance/common.js">/**/</script>
        <script type="text/javascript" src="./secure_scripts/quote.js?v=2">/**/</script>

        <style type="text/css">
          @import url("./secure_styles/insurance/home/components.css?v=1.1");
	    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="./secure_scripts/ie.html5shiv.min.js"></script>
      <script src="./secure_scripts/ie.respond.min.js"></script>
    <![endif]-->
	    
        &lt;!--[if IE 7]&gt;<link rel="stylesheet" type="text/css" media="screen" href="./secure_styles/insurance/home/ie7.css"  />&lt;![endif]--&gt;
        &lt;!--[if IE]&gt;<link rel="stylesheet" type="text/css" media="screen" href="./secure_styles/insurance/home/ie8.css"  />&lt;![endif]--&gt;

        <link rel="stylesheet" type="text/css" media="${!empty param.print ? 'all' : 'print'}" href="./secure_styles/insurance/home/print.css" />

        <link rel="stylesheet" type="text/css" href="secure_assets/dojo-release-1.6.1/dijit/themes/claro/claro.css" />
        <script type="text/javascript" src="secure_assets/dojo-release-1.6.1/dojo/dojo.js" >/**/</script>
        <script type="text/javascript">
          dojo.require("dijit.form.ComboBox");
          dojo.require("dijit.form.FilteringSelect");
          dojo.require("dojo.data.ItemFileReadStore");
        </script>
        <script type="text/javascript">
        	HPV_MSG_TXT = "${hpvMessage}";
        	HPV_MSG = HPV_MSG.replace('%HPV_MSG_TXT%', HPV_MSG_TXT);
        </script>
        <s:url var="qasQuery" action="DataQasLookup" namespace="%{namespace}" />
		<script type="text/javascript">
		  QAS_URL = '${qasQuery}';
		</script>        
        <jsp:directive.include file="/WEB-INF/jspf/googleAnalytics.jspf" />
      </head>
    </s:if>
    <body id="${page.calculator ? 'homeCalc' : page.URI}">
      <script type="text/javascript"> $$('body')[0].addClassName('js'); </script>
	  <s:if test="!ajaxContext">
	    <script>
          dataLayer = [];
	    </script>
	  	<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-7DN2"
		height="0" width="0" style="display:none;visibility:hidden">/**/</iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-7DN2');</script>
		<!-- End Google Tag Manager -->	  
	  </s:if>
		
      <div id="wrapper">

        <div id="container">

          <div id="aside">
            <div class="step">


              <s:if test="currentActionName eq 'VehicleCheckList'" >
                <!-- <img id="checklistFeature" width="319" height="464" src="./secure_images/insurance/home/bg_checklist.jpg" alt="Check List" /> -->
              </s:if>
              <s:else>
                <!-- <div id="icons" class="show_bldg"> -->
                  <!-- <img class="bldg" width="134" height="162" src="./secure_images/insurance/icon_car.gif" alt="" /> -->
                <!-- </div> -->
              </s:else>
                
              <s:if test="pageId == 1 and webDiscount">
                <ul id="benefitsList" class="benefits">
                  <li class="discount-msg">Receive a $50 discount if you purchase Comprehensive Car insurance online</li>
                </ul>
              </s:if>
              
              <site:vehicleBenefits />

            </div>
          </div>

          <div id="window">
            <div id="content">

              <div id="step${pageId}" class="step">
                
                <s:hidden id="isVehicleQuoteForm" value="true" />

                <s:set var="msg" value="actionMessage" />
                <s:if test="#msg != null and #msg != ''">
                  <blockquote>
                    <p><s:property value="#msg" escapeHtml="false" /></p>
                  </blockquote>
                </s:if>

                <s:if test="%{pageTitle != '' and pageTitle != null}">
                  <h3><s:property value="pageTitle" /></h3>
                </s:if>

                <div class="secureForm">

                  <s:set var="flashMsg" value="actionMessage" />
                  <s:if test="#flashMsg != null and #flashMsg != ''">
                    <p class="sys-msg msg-${actionResult}"><s:property value="#flashMsg" escape="false" /></p>
                  </s:if>

                  <s:if test="%{includeView != null and includeView != ''}">
                    <jsp:include page="${includeView}" flush="true" />
                  </s:if>

                  <s:if test="%{includeView == null or includeView == ''}">
                    <p>Please login to access this area.</p>
                    <jsp:include page="/WEB-INF/user/Login.jspx" flush="true" />
                  </s:if>
                </div>

                <s:if test="%{( currentActionName.indexOf('User') != -1 or currentActionName.indexOf('Login') != -1 )
                      and currentActionName.indexOf('Tipping') == -1}">
                  <div class="footnote">
                    <p>If you have any enquiries about the member access area please email <a href="mailto:memberaccess@ract.com.au">memberaccess@ract.com.au</a>.</p>
                  </div>
                </s:if>

              </div>
            </div>
          </div>

          <div id="bside">
            <img class="logo" src="./secure_images/insurance/home/racti_logo.jpg" width="218" height="168" alt="Insurance by RACT" title="Insurance by RACT" />
            <div id="func">
              
              <site:vehicleRhs />

            </div>

            <ul class="print">
              <li>RACT Insurance Pty Ltd</li>
              <li>ABN 96 068 167 804</li>
              <li>AFS Licence No. 229076</li>
              <li>Contact 13 2722</li>
            </ul>
          </div>

        </div>
      </div>

      

      &lt;!--
      <s:fielderror />
      --&gt;

      <s:if test="!ajaxContext">

  		<img src="secure_images/rapidSSL_seal.gif" width="90" height="50" alt="Secured by Rapid SSL" id="rapidssl" style="position: fixed; bottom: 15px; left: 15px;" />
        
      </s:if>
    </body>
  </html>




</jsp:root>
